ACCIONES.txt
[{"id":"c732b4aa.2ca8f8","type":"neo4j","z":"a1407d8a.ce131","name":"NEW NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"CREATE(:Action {\n\tcode\t: {code},\n\tStatus  : {stat}\n})\n","x":998.9630126953125,"y":70,"wires":[[]]},{"id":"d4965fa0.957a3","type":"http response","z":"a1407d8a.ce131","name":"RESPONSE ADD","x":684.9630126953125,"y":105.86647033691406,"wires":[]},{"id":"8df0650a.696fe8","type":"http in","z":"a1407d8a.ce131","name":"ADD ACTION","url":"/ADD/ACTION","method":"get","swaggerDoc":"","x":80.95452880859375,"y":107.99714660644531,"wires":[["547cccc4.ff0724"]]},{"id":"547cccc4.ff0724","type":"function","z":"a1407d8a.ce131","name":"Validate ADD","func":"var header = msg.req.query;\nvar stat = header.stat;\nvar code = header.code;\nvar type = header.type;\nvar descr = header.descr;\n\nvar map = {};\nmap.stat=stat;\nmap.code=code;\nmap.type=type;\nmap.descr=descr;\nmsg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":199.960205078125,"y":59.91761779785156,"wires":[["e9d168e.348ca98"]]},{"id":"e9d168e.348ca98","type":"switch","z":"a1407d8a.ce131","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":314.95166015625,"y":100.17897033691406,"wires":[["c453426a.d90998"],["7ec0cbeb.0b8bd4"]]},{"id":"3a44a504.4d6e1a","type":"http in","z":"a1407d8a.ce131","name":"DELETE ACTION","url":"/DELETE/ACTION","method":"post","swaggerDoc":"","x":95,"y":231.7642059326172,"wires":[["bd6628a7.e9c6f8"]]},{"id":"bd6628a7.e9c6f8","type":"function","z":"a1407d8a.ce131","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":205,"y":178.7642059326172,"wires":[["44dbcced.3f76a4"]]},{"id":"682acfb.a721e3","type":"neo4j","z":"a1407d8a.ce131","name":"DELETE NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (a:Action {code:{code} })\nOPTIONAL MATCH a-[r]-()\nDELETE a, r","x":460,"y":180.7642059326172,"wires":[["2eae6a8b.b68926"]]},{"id":"44dbcced.3f76a4","type":"switch","z":"a1407d8a.ce131","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":313,"y":230.7642059326172,"wires":[["682acfb.a721e3"],["20e4e73f.469058"]]},{"id":"30f6f16.fb6800e","type":"http response","z":"a1407d8a.ce131","name":"RESPONSE DELETE","x":681,"y":229.76422119140625,"wires":[]},{"id":"20e4e73f.469058","type":"http response","z":"a1407d8a.ce131","name":"ERROR DELETE","x":483,"y":266.76422119140625,"wires":[]},{"id":"dedc057f.1457d8","type":"http in","z":"a1407d8a.ce131","name":"INFO ACTION","url":"/INFO/ACTION","method":"get","swaggerDoc":"","x":95,"y":365.76422119140625,"wires":[["c95e27e6.66a658"]]},{"id":"c95e27e6.66a658","type":"function","z":"a1407d8a.ce131","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":188,"y":314.76422119140625,"wires":[["7ac75126.2622f"]]},{"id":"7ac75126.2622f","type":"switch","z":"a1407d8a.ce131","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":294,"y":362.76422119140625,"wires":[["9c41fe36.de60e8"],["81bb4574.fefa58"]]},{"id":"47be142b.55b89c","type":"http response","z":"a1407d8a.ce131","name":"RESPONSE INFO","x":704,"y":399.76422119140625,"wires":[]},{"id":"81bb4574.fefa58","type":"http response","z":"a1407d8a.ce131","name":"ERROR INFO","x":461,"y":395.76422119140625,"wires":[]},{"id":"8324463.ab4d3b8","type":"function","z":"a1407d8a.ce131","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":583,"y":353.76422119140625,"wires":[["47be142b.55b89c","e1796d4a.880d08"]]},{"id":"7ec0cbeb.0b8bd4","type":"http response","z":"a1407d8a.ce131","name":"ERROR ADD","x":481,"y":131.7642059326172,"wires":[]},{"id":"2eae6a8b.b68926","type":"function","z":"a1407d8a.ce131","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":639,"y":176.7642059326172,"wires":[["30f6f16.fb6800e"]]},{"id":"5b310eab.59b6c","type":"function","z":"a1407d8a.ce131","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined ||\n    parameters.stat === null ||\n    parameters.stat === undefined){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":202.9630126953125,"y":441,"wires":[["a0f5a79e.0f2958"]]},{"id":"491dba3b.f805f4","type":"neo4j","z":"a1407d8a.ce131","name":"MODIFY NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (a:Action { code: {code} })\nSET a.Status = {stat} \nRETURN a","x":459.9630126953125,"y":455,"wires":[["98fc7b70.2887b8"]]},{"id":"a0f5a79e.0f2958","type":"switch","z":"a1407d8a.ce131","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":301.9630126953125,"y":508,"wires":[["491dba3b.f805f4","ca56caea.7b6368"],["e5d97aeb.265ac8"]]},{"id":"280ff2f.510530e","type":"http response","z":"a1407d8a.ce131","name":"RESPONSE INFO","x":803.9630126953125,"y":521,"wires":[]},{"id":"e5d97aeb.265ac8","type":"http response","z":"a1407d8a.ce131","name":"ERROR MODIFY","x":478.9630126953125,"y":541,"wires":[]},{"id":"98fc7b70.2887b8","type":"function","z":"a1407d8a.ce131","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":783.9630126953125,"y":468,"wires":[["280ff2f.510530e"]]},{"id":"99d292bd.6318a","type":"http in","z":"a1407d8a.ce131","name":"CHANGE STATE","url":"/CHANGE/STATE","method":"get","swaggerDoc":"","x":86.06245422363281,"y":511.3636474609375,"wires":[["5b310eab.59b6c"]]},{"id":"f2fc9981.8fd4b","type":"debug","z":"a1407d8a.ce131","name":"","active":true,"console":"false","complete":"false","x":717,"y":288,"wires":[]},{"id":"e1796d4a.880d08","type":"debug","z":"a1407d8a.ce131","name":"","active":true,"console":"false","complete":"false","x":736,"y":336,"wires":[]},{"id":"9c41fe36.de60e8","type":"neo4j","z":"a1407d8a.ce131","name":"INFO NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (a:Action {code:{code} })\nRETURN a","x":452,"y":308,"wires":[["8324463.ab4d3b8","f2fc9981.8fd4b"]]},{"id":"ca56caea.7b6368","type":"neo4j","z":"a1407d8a.ce131","name":"CASCADE_ACTIONS","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (action {code:{code}})<-[:HAVE]-(object)-[:link]->(objects)-[:HAVE]->(actions) SET actions.Status={stat} RETURN actions","x":507.75,"y":497.75,"wires":[[]]},{"id":"c453426a.d90998","type":"neo4j","z":"a1407d8a.ce131","name":"NEW NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"CREATE(:Action {code: {code}, Status  : {stat}, Type  : {type}, Description  : {descr}})","x":480.566650390625,"y":38.56666564941406,"wires":[["d4965fa0.957a3"]]}]