ACCIONES.txt
[{"id":"d83c23d3.71eb8","type":"http response","z":"2da6fa43.850036","name":"RESPONSE ADD","x":735.6666259765625,"y":111.53313446044922,"wires":[]},{"id":"7db8e97f.86cfc8","type":"http in","z":"2da6fa43.850036","name":"ADD ACTION","url":"/ADD/ACTION","method":"get","swaggerDoc":"","x":131.65814208984375,"y":113.66381072998047,"wires":[["545d7e99.3b30c"]]},{"id":"545d7e99.3b30c","type":"function","z":"2da6fa43.850036","name":"Validate ADD","func":"var header = msg.req.query;\nvar stat = header.stat;\nvar code = header.code;\nvar type = header.type;\nvar descr = header.descr;\n\nvar map = {};\nmap.stat=stat;\nmap.code=code;\nmap.type=type;\nmap.descr=descr;\nmsg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":250.663818359375,"y":65.58428192138672,"wires":[["de63b3ad.9679f"]]},{"id":"de63b3ad.9679f","type":"switch","z":"2da6fa43.850036","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":365.6552734375,"y":105.84563446044922,"wires":[["325a5691.70463a"],["885f8e65.406db"]]},{"id":"3922db22.907134","type":"http in","z":"2da6fa43.850036","name":"DELETE ACTION","url":"/DELETE/ACTION","method":"post","swaggerDoc":"","x":145.70361328125,"y":237.43087005615234,"wires":[["950d578d.4b0c98"]]},{"id":"950d578d.4b0c98","type":"function","z":"2da6fa43.850036","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":255.70361328125,"y":184.43087005615234,"wires":[["90b6f716.d11bf8"]]},{"id":"9092b36b.5ee14","type":"neo4j","z":"2da6fa43.850036","name":"DELETE NODE","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (a:Action {code:{code} })\nOPTIONAL MATCH a-[r]-()\nDELETE a, r","x":510.70361328125,"y":186.43087005615234,"wires":[["1fa33485.00cb2b"]]},{"id":"90b6f716.d11bf8","type":"switch","z":"2da6fa43.850036","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":363.70361328125,"y":236.43087005615234,"wires":[["9092b36b.5ee14"],["2a895266.4c498e"]]},{"id":"ce78dea7.899ff","type":"http response","z":"2da6fa43.850036","name":"RESPONSE DELETE","x":731.70361328125,"y":235.4308853149414,"wires":[]},{"id":"2a895266.4c498e","type":"http response","z":"2da6fa43.850036","name":"ERROR DELETE","x":533.70361328125,"y":272.4308853149414,"wires":[]},{"id":"885f8e65.406db","type":"http response","z":"2da6fa43.850036","name":"ERROR ADD","x":531.70361328125,"y":137.43087005615234,"wires":[]},{"id":"1fa33485.00cb2b","type":"function","z":"2da6fa43.850036","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":689.70361328125,"y":182.43087005615234,"wires":[["ce78dea7.899ff"]]},{"id":"325a5691.70463a","type":"neo4j","z":"2da6fa43.850036","name":"NEW NODE","url":"http://neo4j:integradora@200.126.23.138:7474","query":"CREATE(:Action {code: {code}, Status  : {stat}, Type  : {type}, Description  : {descr}})","x":531.270263671875,"y":44.23332977294922,"wires":[["d83c23d3.71eb8"]]},{"id":"dbb72525.02e538","type":"http in","z":"2da6fa43.850036","name":"INFO ACTION","url":"/INFO/ACTION","method":"get","swaggerDoc":"","x":135.70361328125,"y":382.3333206176758,"wires":[["32398109.fb3d7e"]]},{"id":"32398109.fb3d7e","type":"function","z":"2da6fa43.850036","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":228.70361328125,"y":331.3333206176758,"wires":[["1483fb88.319554"]]},{"id":"1483fb88.319554","type":"switch","z":"2da6fa43.850036","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":334.70361328125,"y":379.3333206176758,"wires":[["a9db24f8.a162b8"],["7768db16.474be4"]]},{"id":"3549729d.eb280e","type":"http response","z":"2da6fa43.850036","name":"RESPONSE INFO","x":744.70361328125,"y":416.3333206176758,"wires":[]},{"id":"7768db16.474be4","type":"http response","z":"2da6fa43.850036","name":"ERROR INFO","x":501.70361328125,"y":412.3333206176758,"wires":[]},{"id":"14edf42c.89cc8c","type":"function","z":"2da6fa43.850036","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":623.70361328125,"y":370.3333206176758,"wires":[["3549729d.eb280e","7c590188.d2f25"]]},{"id":"7c590188.d2f25","type":"debug","z":"2da6fa43.850036","name":"","active":true,"console":"false","complete":"false","x":889.7035827636719,"y":367.569091796875,"wires":[]},{"id":"a9db24f8.a162b8","type":"neo4j","z":"2da6fa43.850036","name":"INFO NODE","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (a:Action {code:{code} })\nRETURN a","x":492.70361328125,"y":324.56909942626953,"wires":[["14edf42c.89cc8c"]]},{"id":"1cf90de8.c27692","type":"http in","z":"2da6fa43.850036","name":"INFO ACTIONS BY OBJECT","url":"/INFO/ACTIONSBYOBJECT","method":"get","swaggerDoc":"","x":175.70361328125,"y":714.3333511352539,"wires":[["53a628c6.45b988"]]},{"id":"53a628c6.45b988","type":"function","z":"2da6fa43.850036","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":337.4179000854492,"y":657.8333921432495,"wires":[["4af24212.75d05c"]]},{"id":"4af24212.75d05c","type":"switch","z":"2da6fa43.850036","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":443.4179000854492,"y":705.8333921432495,"wires":[["6287462e.f6b518"],["f8d5ac24.21561"]]},{"id":"45309456.2b490c","type":"http response","z":"2da6fa43.850036","name":"RESPONSE INFO","x":797.4179000854492,"y":741.8333921432495,"wires":[]},{"id":"f8d5ac24.21561","type":"http response","z":"2da6fa43.850036","name":"ERROR INFO","x":572.4179000854492,"y":751.8333921432495,"wires":[]},{"id":"728e2e80.e0c3e","type":"function","z":"2da6fa43.850036","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":764.4179000854492,"y":652.8333921432495,"wires":[["45309456.2b490c"]]},{"id":"6287462e.f6b518","type":"neo4j","z":"2da6fa43.850036","name":"ACTIONS_BY_OBJECT","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (object{code:{code}})-[:HAVE]->(action) RETURN action","x":579.0369644165039,"y":621.000078201294,"wires":[["728e2e80.e0c3e"]]},{"id":"e7888820.ba1d08","type":"function","z":"2da6fa43.850036","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined ||\n    parameters.stat === null ||\n    parameters.stat === undefined){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":199.85415649414062,"y":918.6041870117188,"wires":[["606fefca.fccc7","d530c931.c9a218"]]},{"id":"606fefca.fccc7","type":"switch","z":"2da6fa43.850036","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":404.85418701171875,"y":872.3541870117188,"wires":[["48f1486d.fe1148","10693562.2535bb"],["f6016d27.010dd"]]},{"id":"e3f268b9.b72a08","type":"http response","z":"2da6fa43.850036","name":"RESPONSE INFO","x":957.3541717529297,"y":954.8541574478149,"wires":[]},{"id":"f6016d27.010dd","type":"http response","z":"2da6fa43.850036","name":"ERROR MODIFY","x":654.8541946411133,"y":1004.8541784286499,"wires":[]},{"id":"e2dc72a9.92f9","type":"function","z":"2da6fa43.850036","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":921.3541564941406,"y":849.8541870117188,"wires":[["e3f268b9.b72a08","b4c73756.b5dc48"]]},{"id":"5378e3cd.42277c","type":"http in","z":"2da6fa43.850036","name":"CHANGE STATE","url":"/CHANGE/STATE","method":"get","swaggerDoc":"","x":85,"y":992.4678344726562,"wires":[["e7888820.ba1d08"]]},{"id":"48f1486d.fe1148","type":"neo4j","z":"2da6fa43.850036","name":"CASCADE_ACTIONS","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (action {code:{code}})<-[:HAVE]-(object)-[:link]->(objects)-[:HAVE]->(actions) SET actions.Status={stat} RETURN actions","x":683.3910827636719,"y":939.8541870117188,"wires":[[]]},{"id":"b4c73756.b5dc48","type":"debug","z":"2da6fa43.850036","name":"","active":true,"console":"false","complete":"payload.data[0][0].ip","x":1156.979232788086,"y":880.9438791275024,"wires":[]},{"id":"8b349ec7.7e5cc","type":"function","z":"2da6fa43.850036","name":"PREPARE TCP","func":"var pay=msg.payload;\n// var ip=pay.data[1].ip;\n// var value = pay.data[0];\n// msg.host=ip;\n// msg.port=80;\n// msg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n// return msg;\n\nvar ip=pay.data[0][0].ip;\nvar value=pay.data[0][2].Status;\n\nmsg.host=ip;\nmsg.port=80;\nif(value==\"ON\" || value==\"OFF\"){\n    \n        msg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n}else {\n    var val= parseInt(value);\n    if(val<100){\n        msg.payload=\"GET /?VALUE:0\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n    }else if(val<10){\n        msg.payload=\"GET /?VALUE:00\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n    }{\n        msg.payload=\"GET /?VALUE:\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n    }\n    \n}\n\n// var j=global.get('i');\n// global.set('i',j+1);\nreturn msg;","outputs":1,"noerr":0,"x":658.2236938476562,"y":1213.5064697265625,"wires":[["121a1a8f.d569f5","76cc3ae.db432c4"]]},{"id":"121a1a8f.d569f5","type":"tcp request","z":"2da6fa43.850036","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":806.2238159179688,"y":1145.50634765625,"wires":[["638d65d3.37094c","fd6df50d.ddc6e8"]]},{"id":"fd6df50d.ddc6e8","type":"debug","z":"2da6fa43.850036","name":"","active":true,"console":"false","complete":"true","x":1124.057113647461,"y":1211.419587135315,"wires":[]},{"id":"c566fa77.8c7bb8","type":"switch","z":"2da6fa43.850036","name":"","property":"fin","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1007.7237243652344,"y":1025.8396921157837,"wires":[[],["fd6df50d.ddc6e8"]]},{"id":"638d65d3.37094c","type":"function","z":"2da6fa43.850036","name":"","func":"\n    msg.fin=1;\n","outputs":1,"noerr":0,"x":887.7237243652344,"y":1071.1730661392212,"wires":[["c566fa77.8c7bb8"]]},{"id":"76cc3ae.db432c4","type":"debug","z":"2da6fa43.850036","name":"","active":true,"console":"false","complete":"true","x":835.7237548828125,"y":1272.8397216796875,"wires":[]},{"id":"d530c931.c9a218","type":"debug","z":"2da6fa43.850036","name":"le llega a change/state","active":true,"console":"false","complete":"payload","x":215.5,"y":1148.6666259765625,"wires":[]},{"id":"a37c93df.6a8c4","type":"switch","z":"2da6fa43.850036","name":"PROTOCOL","property":"payload.data[0][1].protocol","propertyType":"msg","rules":[{"t":"eq","v":"TCP","vt":"str"},{"t":"eq","v":"MQTT","vt":"str"},{"t":"eq","v":"UDP","vt":"str"},{"t":"eq","v":"SERIAL","vt":"str"}],"checkall":"true","outputs":4,"x":456,"y":1248,"wires":[["453636d0.79bb38","8b349ec7.7e5cc"],["f2dcf665.5d72f8"],[],[]]},{"id":"cd210bf5.b31078","type":"debug","z":"2da6fa43.850036","name":"","active":true,"console":"false","complete":"false","x":710.5555419921875,"y":1092.77783203125,"wires":[]},{"id":"dcad3396.7e9ca","type":"mqtt out","z":"2da6fa43.850036","name":"cafetera","topic":"","qos":"","retain":"","broker":"f90a0618.a7d128","x":774.4443969726562,"y":1464.4443359375,"wires":[]},{"id":"f2dcf665.5d72f8","type":"function","z":"2da6fa43.850036","name":"comunicacion mqtt","func":"var pay=msg.payload;\nvar value=pay.data[0][1];\n\n\nmsg.topic = \"/cafetera\";\nmsg.payload = value.toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"x":538.4443359375,"y":1477.1109619140625,"wires":[["dcad3396.7e9ca","bfeaa1a.794316"]]},{"id":"bfeaa1a.794316","type":"debug","z":"2da6fa43.850036","name":"","active":true,"console":"false","complete":"payload","x":614.9443664550781,"y":1613.4443359375,"wires":[]},{"id":"d3854990.5be648","type":"mqtt in","z":"2da6fa43.850036","name":"cafetera","topic":"/cafetera","qos":"2","broker":"f90a0618.a7d128","x":801.9443969726562,"y":1575.4443740844727,"wires":[["18aa44d9.1f914b"]]},{"id":"18aa44d9.1f914b","type":"debug","z":"2da6fa43.850036","name":"","active":true,"console":"false","complete":"false","x":965.9443969726562,"y":1625.1110000610352,"wires":[]},{"id":"10693562.2535bb","type":"neo4j","z":"2da6fa43.850036","name":"MODIFY NODE V2","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (a:Action { code:{code}})<-[:HAVE]-(obj)<-[:HAVE]-(dev) SET a.Status = {stat} RETURN dev,obj,a","x":654.6665954589844,"y":844.3333740234375,"wires":[["e2dc72a9.92f9","a37c93df.6a8c4","cd210bf5.b31078"]]},{"id":"f90a0618.a7d128","type":"mqtt-broker","z":"","broker":"m10.cloudmqtt.com","port":"18485","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]