ACCIONES.txt
[{"id":"57aa6f73.e45ef8","type":"neo4j","z":"22528d8f.239602","name":"NEW NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"CREATE(:Action {\n\tcode\t: {code},\n\tStatus  : {stat}\n})\n","x":568.1358642578125,"y":106,"wires":[["668dc49f.e3e6ec"]]},{"id":"668dc49f.e3e6ec","type":"http response","z":"22528d8f.239602","name":"RESPONSE ADD","x":775.1358642578125,"y":152.86647033691406,"wires":[]},{"id":"c695f493.57d8e","type":"http in","z":"22528d8f.239602","name":"ADD ACTION","url":"/ADD/ACTION","method":"post","swaggerDoc":"","x":171.12738037109375,"y":154.9971466064453,"wires":[["ac3bd114.4251d"]]},{"id":"ac3bd114.4251d","type":"function","z":"22528d8f.239602","name":"Validate ADD","func":"var header = msg.req.headers;\nvar stat = header.stat;\nvar code = header.code;\nvar map = {};\nmap.stat=stat;\nmap.code=code;\nmsg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":290.133056640625,"y":106.91761779785156,"wires":[["4d8ef40b.48e33c"]]},{"id":"4d8ef40b.48e33c","type":"switch","z":"22528d8f.239602","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":405.12451171875,"y":147.17897033691406,"wires":[["57aa6f73.e45ef8"],["89f16af.6ff1218"]]},{"id":"24a6bcaa.6c042c","type":"http in","z":"22528d8f.239602","name":"DELETE ACTION","url":"/DELETE/ACTION","method":"post","swaggerDoc":"","x":185.1728515625,"y":278.7642059326172,"wires":[["d00cfd1e.4ed348"]]},{"id":"d00cfd1e.4ed348","type":"function","z":"22528d8f.239602","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":295.1728515625,"y":225.7642059326172,"wires":[["412abdfa.1c6ec4"]]},{"id":"f610882d.23ecc8","type":"neo4j","z":"22528d8f.239602","name":"DELETE NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (a:Action {code:{code} })\nOPTIONAL MATCH a-[r]-()\nDELETE a, r","x":550.1728515625,"y":227.7642059326172,"wires":[["ac5ded7d.b13198"]]},{"id":"412abdfa.1c6ec4","type":"switch","z":"22528d8f.239602","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":403.1728515625,"y":277.7642059326172,"wires":[["f610882d.23ecc8"],["18aea3fb.647ca4"]]},{"id":"26ff4b4c.0aa26c","type":"http response","z":"22528d8f.239602","name":"RESPONSE DELETE","x":771.1728515625,"y":276.76422119140625,"wires":[]},{"id":"18aea3fb.647ca4","type":"http response","z":"22528d8f.239602","name":"ERROR DELETE","x":573.1728515625,"y":313.76422119140625,"wires":[]},{"id":"5a226f2f.dc9948","type":"http in","z":"22528d8f.239602","name":"INFO ACTION","url":"/INFO/ACTION","method":"get","swaggerDoc":"","x":185.1728515625,"y":412.76422119140625,"wires":[["111b60c8.32b9df"]]},{"id":"111b60c8.32b9df","type":"function","z":"22528d8f.239602","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":278.1728515625,"y":361.76422119140625,"wires":[["8014ab95.2cc3a"]]},{"id":"8014ab95.2cc3a","type":"switch","z":"22528d8f.239602","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":384.1728515625,"y":409.76422119140625,"wires":[["3268b4ae.1efd9c"],["176ccbee.8ffc7c"]]},{"id":"d3343221.2c605","type":"http response","z":"22528d8f.239602","name":"RESPONSE INFO","x":794.1728515625,"y":446.76422119140625,"wires":[]},{"id":"176ccbee.8ffc7c","type":"http response","z":"22528d8f.239602","name":"ERROR INFO","x":551.1728515625,"y":442.76422119140625,"wires":[]},{"id":"35f6e856.08a728","type":"function","z":"22528d8f.239602","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":673.1728515625,"y":400.76422119140625,"wires":[["d3343221.2c605","214c8ec8.71e972"]]},{"id":"89f16af.6ff1218","type":"http response","z":"22528d8f.239602","name":"ERROR ADD","x":571.1728515625,"y":178.7642059326172,"wires":[]},{"id":"ac5ded7d.b13198","type":"function","z":"22528d8f.239602","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":729.1728515625,"y":223.7642059326172,"wires":[["26ff4b4c.0aa26c"]]},{"id":"beb26642.38c15","type":"function","z":"22528d8f.239602","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined ||\n    parameters.stat === null ||\n    parameters.stat === undefined){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":293.1358642578125,"y":488,"wires":[["3d6acfea.1e21c8"]]},{"id":"d3b5403a.9529c","type":"neo4j","z":"22528d8f.239602","name":"MODIFY NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (a:Action { code: {code} })\nSET a.Status = {stat} \nRETURN a","x":347.1358642578125,"y":685,"wires":[[]]},{"id":"3d6acfea.1e21c8","type":"switch","z":"22528d8f.239602","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":392.1358642578125,"y":555,"wires":[["75bbf195.ac7af8","33baa7fb.5dbc38"],["79ba4254.55166c"]]},{"id":"88db7e5e.e33de","type":"http response","z":"22528d8f.239602","name":"RESPONSE INFO","x":894.1358642578125,"y":568,"wires":[]},{"id":"79ba4254.55166c","type":"http response","z":"22528d8f.239602","name":"ERROR MODIFY","x":569.1358642578125,"y":588,"wires":[]},{"id":"6a117903.f265a","type":"function","z":"22528d8f.239602","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":874.1358642578125,"y":515,"wires":[["88db7e5e.e33de","ac8bf7ac.bad098"]]},{"id":"46002e8e.373b6","type":"http in","z":"22528d8f.239602","name":"CHANGE STATE","url":"/CHANGE/STATE","method":"get","swaggerDoc":"","x":176.2353057861328,"y":558.3636474609375,"wires":[["beb26642.38c15"]]},{"id":"871b0eb0.b36a2","type":"debug","z":"22528d8f.239602","name":"","active":true,"console":"false","complete":"false","x":807.1728515625,"y":335,"wires":[]},{"id":"214c8ec8.71e972","type":"debug","z":"22528d8f.239602","name":"","active":true,"console":"false","complete":"false","x":826.1728515625,"y":383,"wires":[]},{"id":"3268b4ae.1efd9c","type":"neo4j","z":"22528d8f.239602","name":"INFO NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (a:Action {code:{code} })\nRETURN a","x":542.1728515625,"y":355,"wires":[["35f6e856.08a728","871b0eb0.b36a2"]]},{"id":"75bbf195.ac7af8","type":"neo4j","z":"22528d8f.239602","name":"CASCADE_ACTIONS","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (action {code:{code}})<-[:HAVE]-(object)-[:link]->(objects)-[:HAVE]->(actions) SET actions.Status={stat} RETURN actions","x":597.9228515625,"y":544.75,"wires":[[]]},{"id":"ac8bf7ac.bad098","type":"debug","z":"22528d8f.239602","name":"","active":true,"console":"false","complete":"payload.data[0][0].ip","x":1093.7609252929688,"y":494.0897216796875,"wires":[]},{"id":"1a3ab5db.03f35a","type":"function","z":"22528d8f.239602","name":"PREPARE TCP","func":"var pay=msg.payload;\n// var ip=pay.data[1].ip;\n// var value = pay.data[0];\n// msg.host=ip;\n// msg.port=8090;\n// msg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n// return msg;\n\nvar ip=pay.data[0][0].ip;\nvar value=pay.data[0][1];\nmsg.host=ip;\nmsg.port=8090;\nmsg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n// var j=global.get('i');\n// global.set('i',j+1);\nreturn msg;","outputs":1,"noerr":0,"x":483.0054397583008,"y":819.6522216796875,"wires":[["83160e87.a902d","9284f733.215028"]]},{"id":"83160e87.a902d","type":"tcp request","z":"22528d8f.239602","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":698.0055236816406,"y":750.6522064208984,"wires":[["63b2f88.9a1d808","7675c378.ad221c"]]},{"id":"7675c378.ad221c","type":"debug","z":"22528d8f.239602","name":"","active":true,"console":"false","complete":"true","x":1060.8388061523438,"y":824.5654296875,"wires":[]},{"id":"bf321eae.d3fa3","type":"switch","z":"22528d8f.239602","name":"","property":"fin","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":930.5054321289062,"y":702.9855346679688,"wires":[[],["7675c378.ad221c"]]},{"id":"63b2f88.9a1d808","type":"function","z":"22528d8f.239602","name":"","func":"\n    msg.fin=1;\n","outputs":1,"noerr":0,"x":853.5054321289062,"y":783.31884765625,"wires":[["bf321eae.d3fa3"]]},{"id":"9284f733.215028","type":"debug","z":"22528d8f.239602","name":"","active":true,"console":"false","complete":"true","x":604.5054626464844,"y":881.9855804443359,"wires":[]},{"id":"47f90732.ac99e8","type":"neo4j","z":"22528d8f.239602","name":"MODIFY NODE V1","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (a:Action { code:{code}})<-[:HAVE]-(obj)<-[:HAVE]-(dev) SET a.Status = {stat} RETURN dev.ip,a.Status","x":1044.0054397583008,"y":363.82611083984375,"wires":[[]]},{"id":"33baa7fb.5dbc38","type":"neo4j","z":"22528d8f.239602","name":"MODIFY NODE V2","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (a:Action { code:{code}})<-[:HAVE]-(obj)<-[:HAVE]-(dev) SET a.Status = {stat} RETURN dev,a.Status","x":607.353271484375,"y":493.5652160644531,"wires":[["1a3ab5db.03f35a","6a117903.f265a"]]}]