cafetera.txt
[{"id":"6941baf4.64d8d4","type":"mqtt out","z":"906edb59.11f468","name":"cafetera","topic":"","qos":"","retain":"","broker":"576fd30.2dfa82c","x":415.0000305175781,"y":1251,"wires":[]},{"id":"47b45200.3712a","type":"function","z":"906edb59.11f468","name":"asd","func":"var pay=msg.payload;\nvar value=pay.data[0][1];\n\n\nmsg.topic = \"/cafetera\";\nmsg.payload = value.toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"x":196,"y":1251.6666564941406,"wires":[["6941baf4.64d8d4","771a82be.f2b8ec"]]},{"id":"771a82be.f2b8ec","type":"debug","z":"906edb59.11f468","name":"","active":true,"console":"false","complete":"payload","x":255.5,"y":1400,"wires":[]},{"id":"330d97ce.d3aff8","type":"mqtt in","z":"906edb59.11f468","name":"cafetera","topic":"/cafetera","qos":"2","broker":"576fd30.2dfa82c","x":442.5000305175781,"y":1362.0000381469727,"wires":[["9f9f383b.f9cb28"]]},{"id":"9f9f383b.f9cb28","type":"debug","z":"906edb59.11f468","name":"","active":true,"console":"false","complete":"false","x":606.5000305175781,"y":1411.6666641235352,"wires":[]},{"id":"576fd30.2dfa82c","type":"mqtt-broker","z":"","broker":"m10.cloudmqtt.com","port":"18485","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]



