Conexiones.txt
[{"id":"ffb309bb.fdc3f8","type":"http in","z":"525d6f43.9d128","name":"MODIFY ACTION","url":"/MODIFY/ACTION","method":"get","swaggerDoc":"","x":144.70703125,"y":118.4375,"wires":[["d874f3a3.a7771","7566fbfb.6291a4"]]},{"id":"d874f3a3.a7771","type":"function","z":"525d6f43.9d128","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.length < 2){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":169.70703125,"y":214.4375,"wires":[["3b991de3.cbdb02"]]},{"id":"501b851.99d5d7c","type":"neo4j","z":"525d6f43.9d128","name":"VERIFY NODES","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device { ip: {ip} })-[r]->(o:Object)\nRETURN d,o","x":360.70701599121094,"y":150.4375,"wires":[["7b82985.e239368"]]},{"id":"3b991de3.cbdb02","type":"switch","z":"525d6f43.9d128","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":161.70703125,"y":289.4375,"wires":[["501b851.99d5d7c"],["d9548bc1.f5d688"]]},{"id":"d9548bc1.f5d688","type":"http response","z":"525d6f43.9d128","name":"ERROR MODIFY","x":265.70703125,"y":359.4375,"wires":[]},{"id":"7b82985.e239368","type":"function","z":"525d6f43.9d128","name":"SEARCH","func":"var pay = msg.payload;\nvar map={};\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nelse{\n    map.obj=pay.data[0][1].code;\n    msg.payload = map;\n}\nreturn msg;","outputs":1,"noerr":0,"x":385.70703125,"y":194.4375,"wires":[["ab6df6fe.ee6f38"]]},{"id":"ab6df6fe.ee6f38","type":"switch","z":"525d6f43.9d128","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":386.70701599121094,"y":269.4375,"wires":[["503f7a78.662234"],["d9548bc1.f5d688"]]},{"id":"503f7a78.662234","type":"neo4j","z":"525d6f43.9d128","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action)\nRETURN a,o","x":615.70703125,"y":143.4375,"wires":[["2a3fe331.08e36c"]]},{"id":"2a3fe331.08e36c","type":"function","z":"525d6f43.9d128","name":"CHANGE ACTION","func":"var pay=msg.payload;\nvar object=pay.data[0][1];\nvar action=pay.data[0][0];\nvar map={};\nif(action.Status === \"OFF\")\n    action.Status=\"ON\";\nelse\n    action.Status=\"OFF\";\nglobal.set('value',action.Status);\nmap.obj=object.code;\nmap.stat=action.Status;\nmap.act=action.code;\nmsg.payload=map;\nreturn msg;","outputs":1,"noerr":0,"x":628.70703125,"y":212.4375,"wires":[["c6db977f.37d868","ed79307.08978d","4bccdb15.2b3594"]]},{"id":"bb66a3cf.cdc42","type":"function","z":"525d6f43.9d128","name":"RECORRIDO","func":"var TAM=global.get('tam');\nvar i=global.get('i');\nvar pay=global.get('pay');\nmsg.payload=pay.data[i];\nreturn msg","outputs":"1","noerr":0,"x":581.7070007324219,"y":382.43749237060547,"wires":[["ba0b4cae.03487"]]},{"id":"ba0b4cae.03487","type":"switch","z":"525d6f43.9d128","name":"PROTOCOL","property":"payload.protocol","propertyType":"msg","rules":[{"t":"eq","v":"TCP","vt":"str"},{"t":"eq","v":"MQTT","vt":"str"},{"t":"eq","v":"HTTP","vt":"str"}],"checkall":"true","outputs":3,"x":221.70703125,"y":476.4375,"wires":[["80afa3ed.b6178"],[],[]]},{"id":"f7e4be05.fe9af","type":"function","z":"525d6f43.9d128","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar ip=pay.data[0].ip;\nvar value=global.get('value');\nmsg.host=ip;\nmsg.port=8090;\nmsg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\nvar j=global.get('i');\nglobal.set('i',j+1);\nreturn msg;","outputs":1,"noerr":0,"x":626.7070007324219,"y":532.4375228881836,"wires":[["70604bac.d6b2a4","e9b00193.ea0a6"]]},{"id":"70604bac.d6b2a4","type":"tcp request","z":"525d6f43.9d128","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":773.7070007324219,"y":471.43749237060547,"wires":[["7f48fed2.6d3a9"]]},{"id":"f3a4cd06.6146e","type":"neo4j","z":"525d6f43.9d128","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device)-[r]->(o:Object{code:{code}})\nRETURN d","x":452.60276794433594,"y":476.3263854980469,"wires":[["f7e4be05.fe9af"]]},{"id":"80afa3ed.b6178","type":"function","z":"525d6f43.9d128","name":"TO MSG.PAYLOAD","func":"var map={};\nmap.code=msg.payload.code;\nmsg.payload=map\nreturn msg;","outputs":1,"noerr":0,"x":351.53684997558594,"y":566.1007080078125,"wires":[["f3a4cd06.6146e"]]},{"id":"bc9a4b9a.0428a8","type":"debug","z":"525d6f43.9d128","name":"","active":true,"console":"false","complete":"true","x":1112.5403747558594,"y":470.3507308959961,"wires":[]},{"id":"d28dd4f0.2c1518","type":"function","z":"525d6f43.9d128","name":"GLOBAL INFORMATION","func":"var pay2= msg.payload;\nglobal.set('i',0);\nglobal.set('tam',pay2.data.length);\nglobal.set('pay',pay2);\nreturn msg;","outputs":1,"noerr":0,"x":649.5437774658203,"y":321.9861145019531,"wires":[["bb66a3cf.cdc42"]]},{"id":"cb3af563.2d4098","type":"switch","z":"525d6f43.9d128","name":"","property":"fin","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":963.2070159912109,"y":344.7708435058594,"wires":[["bb66a3cf.cdc42"],["bc9a4b9a.0428a8"]]},{"id":"7f48fed2.6d3a9","type":"function","z":"525d6f43.9d128","name":"","func":"var i=global.get('i');\nvar tam=global.get('tam');\nif(i==tam)\n    msg.fin=0;\nelse\n    msg.fin=1;\nreturn msg;","outputs":1,"noerr":0,"x":905.2070007324219,"y":429.1041488647461,"wires":[["cb3af563.2d4098"]]},{"id":"e9b00193.ea0a6","type":"debug","z":"525d6f43.9d128","name":"","active":true,"console":"false","complete":"true","x":770.2070007324219,"y":588.7708969116211,"wires":[]},{"id":"7566fbfb.6291a4","type":"debug","z":"525d6f43.9d128","name":"","active":true,"console":"false","complete":"req.query","x":969.6644134521484,"y":110.44598388671875,"wires":[]},{"id":"c6db977f.37d868","type":"neo4j","z":"525d6f43.9d128","name":"VERIFY ACTION 1","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH ((o:Object{code:{obj}})-[r:Have]->(o1:Action))set o1.Status={stat} ","x":878.8065032958984,"y":158.52841186523438,"wires":[[]]},{"id":"58b5280d.3e0048","type":"debug","z":"525d6f43.9d128","name":"","active":true,"console":"false","complete":"false","x":1136.6586456298828,"y":250.4517059326172,"wires":[]},{"id":"ed79307.08978d","type":"neo4j","z":"525d6f43.9d128","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(ob1:Object) MATCH (ob1)-[:HAVE]->(ac1) MATCH (o)-[:HAVE]->(ac) SET ac.Status = {stat} SET ac1.Status = {stat} return ob1","x":668.8064422607422,"y":273.5284423828125,"wires":[["d28dd4f0.2c1518","58b5280d.3e0048"]]},{"id":"4bccdb15.2b3594","type":"debug","z":"525d6f43.9d128","name":"","active":true,"console":"false","complete":"payload","x":1066.667221069336,"y":201.44601440429688,"wires":[]}]