CONEXIONES2017
[{"id":"a292fd95.57606","type":"http in","z":"243f7e2a.36ea22","name":"MODIFY ACTION","url":"/MODIFY/ACTION","method":"get","swaggerDoc":"","x":135.66665649414062,"y":100.99151802062988,"wires":[["5f18d8db.eaac88"]]},{"id":"5f18d8db.eaac88","type":"function","z":"243f7e2a.36ea22","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(Object.keys(parameters).length < 2){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":183.66663360595703,"y":180.99151229858398,"wires":[["631b1bbc.a07714"]]},{"id":"def69e46.07ea2","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY NODES","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device { ip: {ip} })-[r]->(o:Object)\nRETURN d,o","x":457.66662216186523,"y":128.99152088165283,"wires":[["c0890a36.a6bd18"]]},{"id":"631b1bbc.a07714","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":181.6666488647461,"y":242.99151706695557,"wires":[["def69e46.07ea2"],["c210fa74.641af8"]]},{"id":"c210fa74.641af8","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":925.6666412353516,"y":295.99133682250977,"wires":[]},{"id":"c0890a36.a6bd18","type":"function","z":"243f7e2a.36ea22","name":"SEARCH","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}else{\n    msg.payload.obj = pay.data[0][1].code;\n}\nreturn msg;","outputs":1,"noerr":0,"x":464.6666069030762,"y":182.9915132522583,"wires":[["e75c9b30.ab1318"]]},{"id":"e75c9b30.ab1318","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":473.66664123535156,"y":238.99151515960693,"wires":[["e0e5c37a.a8a98"],["c210fa74.641af8"]]},{"id":"e0e5c37a.a8a98","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action)\nRETURN a,o","x":724.6665954589844,"y":134.9915370941162,"wires":[["fcfca80e.2d89f8"]]},{"id":"fcfca80e.2d89f8","type":"function","z":"243f7e2a.36ea22","name":"CHANGE ACTION","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\nvar object = pay.data[0][1];\nvar action = pay.data[0][0];\nvar map={};\nif(action.Status === \"OFF\")\n    action.Status  =\"ON\";\nelse\n    action.Status=\"OFF\";\nglobal.set('value',action.Status);\nmap.obj=object.code;\nmap.stat=action.Status;\nmap.act=action.code;\nmsg.payload=map;\nreturn msg;","outputs":1,"noerr":0,"x":726.6666717529297,"y":176.99151611328125,"wires":[["7e88bcde.a17054","d42df72e.5f75a8"]]},{"id":"7e88bcde.a17054","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:HAVE]->(ac1) set ac1.Status = {stat} return ac1.code","x":976.7663726806641,"y":191.08246040344238,"wires":[["f2652e80.b23f"]]},{"id":"61c16a23.0b8044","type":"comment","z":"243f7e2a.36ea22","name":"Search","info":"For verifying that a object exits given an ip","x":454.7812156677246,"y":75.42328453063965,"wires":[]},{"id":"9b06d3c3.b3c4f","type":"comment","z":"243f7e2a.36ea22","name":"Device exists","info":"For veryfing that a device exists given an ip","x":192.7897491455078,"y":323.42896270751953,"wires":[]},{"id":"d42df72e.5f75a8","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":711.2871131896973,"y":240.00570511817932,"wires":[[],["c210fa74.641af8"]]},{"id":"dda3cbbf.27fda8","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1277.3750457763672,"y":188.76564693450928,"wires":[["4d49039b.c05b9c"]]},{"id":"e204598.3441ba8","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"false","x":1533.3831825256348,"y":73.52345180511475,"wires":[]},{"id":"f2652e80.b23f","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1144.8828735351562,"y":188.8867244720459,"wires":[["dda3cbbf.27fda8"]]},{"id":"b0d1ed94.1effc","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar device = pay.data[0];\nvar ip=device.ip;\nvar port=device.puerto;\nmsg.host= ip;\nmsg.port= port;\nreturn msg;","outputs":1,"noerr":0,"x":1816.7658805847168,"y":190.75000953674316,"wires":[["817a747b.084028","d59b5dd3.a8ca3"]]},{"id":"817a747b.084028","type":"tcp request","z":"243f7e2a.36ea22","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":2036.7662506103516,"y":192.7500228881836,"wires":[[]]},{"id":"4472d327.b3755c","type":"neo4j","z":"243f7e2a.36ea22","name":"OBTAIN DEVICE INFO","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action{code:{code}}) MATCH (a)<-[:HAVE]-(o) MATCH (o)<-[:HAVE]-(d) return d LIMIT 1","x":1602.661750793457,"y":188.6388988494873,"wires":[["b0d1ed94.1effc"]]},{"id":"d59b5dd3.a8ca3","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"payload","x":1947.2662811279297,"y":282.0833206176758,"wires":[]},{"id":"4d49039b.c05b9c","type":"function","z":"243f7e2a.36ea22","name":"get code","func":"msg.payload = {code: msg.payload}; \nreturn msg;","outputs":1,"noerr":0,"x":1401.0156860351562,"y":185.7500138282776,"wires":[["4472d327.b3755c","e204598.3441ba8"]]},{"id":"244c8d62.251792","type":"http in","z":"243f7e2a.36ea22","name":"MODIFY ACTION 1","url":"/MODIFY/ACTION1","method":"get","swaggerDoc":"","x":125.03125,"y":459.046875,"wires":[["d5a99bfe.1997b8"]]},{"id":"d5a99bfe.1997b8","type":"function","z":"243f7e2a.36ea22","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(Object.keys(parameters).length < 2){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":208.0312271118164,"y":560.0468711853027,"wires":[["3920b649.00ff9a"]]},{"id":"af644deb.781b7","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY NODES","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device { ip: {ip} })-[r]->(o:Object)\nRETURN d,o","x":482.0312156677246,"y":508.0468797683716,"wires":[["e4509c1a.e6929"]]},{"id":"3920b649.00ff9a","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":206.03124237060547,"y":622.0468759536743,"wires":[["af644deb.781b7"],["4831ff85.f9ee2"]]},{"id":"4831ff85.f9ee2","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":950.0312347412109,"y":675.0466957092285,"wires":[]},{"id":"e4509c1a.e6929","type":"function","z":"243f7e2a.36ea22","name":"SEARCH","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}else{\n    msg.payload.obj = pay.data[0][1].code;\n}\nreturn msg;","outputs":1,"noerr":0,"x":489.03120040893555,"y":562.046872138977,"wires":[["652a446d.ea953c"]]},{"id":"652a446d.ea953c","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":498.03123474121094,"y":618.0468740463257,"wires":[["9fc47345.d8103"],["4831ff85.f9ee2"]]},{"id":"9fc47345.d8103","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action)\nRETURN a,o","x":749.0311889648438,"y":514.046895980835,"wires":[["e6c4db2f.c355c8"]]},{"id":"e6c4db2f.c355c8","type":"function","z":"243f7e2a.36ea22","name":"CHANGE ACTION","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\nvar object = pay.data[0][1];\nvar action = pay.data[0][0];\nvar map={};\nif(action.Status === \"OFF\")\n    action.Status  =\"ON\";\nelse\n    action.Status=\"OFF\";\nglobal.set('value',action.Status);\nmap.obj=object.code;\nmap.stat=action.Status;\nmap.act=action.code;\nmsg.payload=map;\nreturn msg;","outputs":1,"noerr":0,"x":751.0312652587891,"y":556.046875,"wires":[["64c78933.1e2d68","7a624c1d.ca34e4","1040ba52.14a6d6"]]},{"id":"64c78933.1e2d68","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS LINKED OBJECTS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:link]->(o1) MATCH (o1)-[:HAVE]->(a1)  MATCH (o1)<-[:HAVE]-(d1) set a1.Status = {stat} return d1","x":1044.1310577392578,"y":566.1378517150879,"wires":[["53ec22a4.4b4a5c"]]},{"id":"460b4272.80be5c","type":"comment","z":"243f7e2a.36ea22","name":"Search","info":"For verifying that a object exits given an ip","x":479.145809173584,"y":454.4786434173584,"wires":[]},{"id":"c4ebec40.6242b","type":"comment","z":"243f7e2a.36ea22","name":"Device exists","info":"For veryfing that a device exists given an ip","x":217.1543426513672,"y":702.4843215942383,"wires":[]},{"id":"7a624c1d.ca34e4","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":735.6517066955566,"y":619.0610640048981,"wires":[[],["4831ff85.f9ee2"]]},{"id":"53ec22a4.4b4a5c","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1268.247959136963,"y":567.942253112793,"wires":[["898408b5.315008"]]},{"id":"fb43a6d6.f69818","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar device = pay[0];\nvar ip=device.ip;\nvar port=device.puerto;\nmsg.host= ip;\nmsg.port= port;\nreturn msg;","outputs":1,"noerr":0,"x":1541.130630493164,"y":515.805326461792,"wires":[["f6b8136c.a7bc"]]},{"id":"f6b8136c.a7bc","type":"tcp request","z":"243f7e2a.36ea22","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":1744.1312847137451,"y":536.8053283691406,"wires":[["7406741b.eb181c"]]},{"id":"898408b5.315008","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1398.6669120788574,"y":566.3333683013916,"wires":[["b6cd0e12.1d517"]]},{"id":"1040ba52.14a6d6","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:HAVE]->(a) MATCH (o)<-[:HAVE]-(d)  set a.Status = {stat} return d","x":980.3333129882812,"y":510,"wires":[["6ec4c3fa.790afc"]]},{"id":"6ec4c3fa.790afc","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1172.6666259765625,"y":515,"wires":[["fb43a6d6.f69818"]]},{"id":"b6cd0e12.1d517","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar device = pay;\nvar ip=device.ip;\nvar port=device.puerto;\nmsg.host= ip;\nmsg.port= port;\nreturn msg;","outputs":1,"noerr":0,"x":1542.000259399414,"y":568.9999980926514,"wires":[["f6b8136c.a7bc"]]},{"id":"7406741b.eb181c","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":1941.0000686645508,"y":536.0001554489136,"wires":[]}]
