Conexiones.txt
[{"id":"bf34914e.0a69e","type":"http in","z":"29952eae.415b82","name":"MODIFY ACTION","url":"/MODIFY/ACTION","method":"get","swaggerDoc":"","x":90.66665649414062,"y":79.99151611328125,"wires":[["92b8c992.be90c8","ca4199ec.164a28"]]},{"id":"92b8c992.be90c8","type":"function","z":"29952eae.415b82","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.length < 2){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":182.66665649414062,"y":191.99151611328125,"wires":[["82cf141f.5f2698"]]},{"id":"255915a1.39aeda","type":"neo4j","z":"29952eae.415b82","name":"VERIFY NODES","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (d:Device { ip: {ip} })-[r]->(o:Object)\nRETURN d,o","x":373.66664123535156,"y":127.99151611328125,"wires":[["6e163845.3c2668"]]},{"id":"82cf141f.5f2698","type":"switch","z":"29952eae.415b82","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":174.66665649414062,"y":266.99151611328125,"wires":[["255915a1.39aeda"],["d26b770d.2deba8"]]},{"id":"d26b770d.2deba8","type":"http response","z":"29952eae.415b82","name":"ERROR MODIFY","x":278.6666564941406,"y":336.99151611328125,"wires":[]},{"id":"6e163845.3c2668","type":"function","z":"29952eae.415b82","name":"SEARCH","func":"var pay = msg.payload;\nvar map={};\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nelse{\n    map.obj=pay.data[0][1].code;\n    msg.payload = map;\n}\nreturn msg;","outputs":1,"noerr":0,"x":398.6666564941406,"y":171.99151611328125,"wires":[["55ff1691.047c98"]]},{"id":"55ff1691.047c98","type":"switch","z":"29952eae.415b82","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":399.66664123535156,"y":246.99151611328125,"wires":[["5b475731.883c48"],["d26b770d.2deba8"]]},{"id":"5b475731.883c48","type":"neo4j","z":"29952eae.415b82","name":"VERIFY ACTION","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action)\nRETURN a,o","x":628.6666564941406,"y":120.99151611328125,"wires":[["604ab6c9.389d08"]]},{"id":"604ab6c9.389d08","type":"function","z":"29952eae.415b82","name":"CHANGE ACTION","func":"var pay=msg.payload;\nvar object=pay.data[0][1];\nvar action=pay.data[0][0];\nvar map={};\nif(action.Status === \"OFF\")\n    action.Status=\"ON\";\nelse\n    action.Status=\"OFF\";\nglobal.set('value',action.Status);\nmap.obj=object.code;\nmap.stat=action.Status;\nmap.act=action.code;\nmsg.payload=map;\nreturn msg;","outputs":1,"noerr":0,"x":641.6666564941406,"y":189.99151611328125,"wires":[["9aca0a8b.65ab28","f95fdd17.54a95","c6681694.6c20a8"]]},{"id":"947c2eeb.b658","type":"function","z":"29952eae.415b82","name":"RECORRIDO","func":"var TAM=global.get('tam');\nvar i=global.get('i');\nvar pay=global.get('pay');\nmsg.payload=pay.data[i];\nreturn msg","outputs":"1","noerr":0,"x":960.6665954589844,"y":356.99151611328125,"wires":[["56b8b5d9.edd3dc"]]},{"id":"56b8b5d9.edd3dc","type":"switch","z":"29952eae.415b82","name":"PROTOCOL","property":"payload.protocol","propertyType":"msg","rules":[{"t":"eq","v":"TCP","vt":"str"},{"t":"eq","v":"MQTT","vt":"str"}],"checkall":"true","outputs":2,"x":256.6666564941406,"y":569.9915161132812,"wires":[["453636d0.79bb38"],["ac7e177e.4d5ab8"]]},{"id":"e4aabbd3.138ef8","type":"function","z":"29952eae.415b82","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar ip=pay.data[0].ip;\nvar value=global.get('value');\nmsg.host=ip;\nmsg.port=80;\nmsg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\nvar j=global.get('i');\nglobal.set('i',j+1);\nreturn msg;","outputs":1,"noerr":0,"x":552.66650390625,"y":564.9916076660156,"wires":[["25483cf0.8c02d4","7368131c.5d1ecc"]]},{"id":"25483cf0.8c02d4","type":"tcp request","z":"29952eae.415b82","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":766.6665649414062,"y":520.9915771484375,"wires":[["e4dee8cc.372988"]]},{"id":"f2df5127.54138","type":"neo4j","z":"29952eae.415b82","name":"VERIFY ACTION","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (d:Device)-[r]->(o:Object{code:{code}})\nRETURN d","x":720.5621948242188,"y":649.8804626464844,"wires":[["e4aabbd3.138ef8"]]},{"id":"453636d0.79bb38","type":"function","z":"29952eae.415b82","name":"TO MSG.PAYLOAD","func":"var map={};\nmap.code=msg.payload.code;\nmsg.payload=map\nreturn msg;","outputs":1,"noerr":0,"x":487.4963684082031,"y":638.6547546386719,"wires":[["f2df5127.54138"]]},{"id":"393d4f22.f85bc","type":"debug","z":"29952eae.415b82","name":"","active":true,"console":"false","complete":"true","x":1218.4999694824219,"y":566.9048156738281,"wires":[]},{"id":"50bb3a29.a19ca4","type":"function","z":"29952eae.415b82","name":"GLOBAL INFORMATION","func":"var pay2= msg.payload;\nglobal.set('i',0);\nglobal.set('tam',pay2.data.length);\nglobal.set('pay',pay2);\nreturn msg;","outputs":1,"noerr":0,"x":690.5033874511719,"y":348.54012298583984,"wires":[["947c2eeb.b658"]]},{"id":"e123dd6d.e351c","type":"switch","z":"29952eae.415b82","name":"","property":"fin","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":993.1665954589844,"y":478.3248596191406,"wires":[["947c2eeb.b658"],["393d4f22.f85bc"]]},{"id":"e4dee8cc.372988","type":"function","z":"29952eae.415b82","name":"","func":"var i=global.get('i');\nvar tam=global.get('tam');\nif(i==tam)\n    msg.fin=0;\nelse\n    msg.fin=1;\nreturn msg;","outputs":1,"noerr":0,"x":1177.1665954589844,"y":702.6582336425781,"wires":[["e123dd6d.e351c"]]},{"id":"7368131c.5d1ecc","type":"debug","z":"29952eae.415b82","name":"","active":true,"console":"false","complete":"true","x":841.1665649414062,"y":588.3249206542969,"wires":[]},{"id":"ca4199ec.164a28","type":"debug","z":"29952eae.415b82","name":"","active":true,"console":"false","complete":"req.query","x":454.6240234375,"y":63,"wires":[]},{"id":"9aca0a8b.65ab28","type":"neo4j","z":"29952eae.415b82","name":"VERIFY ACTION 1","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH ((o:Object{code:{obj}})-[r:Have]->(o1:Action))set o1.Status={stat} ","x":891.7661285400391,"y":136.08242797851562,"wires":[[]]},{"id":"dec79d97.c509","type":"debug","z":"29952eae.415b82","name":"","active":true,"console":"false","complete":"false","x":1149.6182708740234,"y":228.00572204589844,"wires":[]},{"id":"f95fdd17.54a95","type":"neo4j","z":"29952eae.415b82","name":"VERIFY ACTION","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(ob1:Object) MATCH (ob1)-[:HAVE]->(ac1) MATCH (o)-[:HAVE]->(ac) SET ac.Status = {stat} SET ac1.Status = {stat} return ob1","x":681.7660675048828,"y":251.08245849609375,"wires":[["50bb3a29.a19ca4","dec79d97.c509"]]},{"id":"c6681694.6c20a8","type":"debug","z":"29952eae.415b82","name":"","active":true,"console":"false","complete":"payload","x":1079.6268463134766,"y":179.00003051757812,"wires":[]},{"id":"f15c345.2177dc8","type":"mqtt out","z":"29952eae.415b82","name":"cafetera","topic":"","qos":"","retain":"","broker":"f90a0618.a7d128","x":696.6665954589844,"y":822.6667175292969,"wires":[]},{"id":"ac7e177e.4d5ab8","type":"function","z":"29952eae.415b82","name":"comunicacion mqtt","func":"var pay=msg.payload;\n\nvar topico=pay.data[0][0].ip;\nvar value=pay.data[0][2].Status;\n\n\nmsg.topic = topico;\nmsg.payload = value.toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"x":459.66656494140625,"y":793.3333435058594,"wires":[["f15c345.2177dc8","a943382a.425208","e4dee8cc.372988"]]},{"id":"a943382a.425208","type":"debug","z":"29952eae.415b82","name":"","active":true,"console":"false","complete":"payload","x":548.1665344238281,"y":883.6667175292969,"wires":[]},{"id":"ef01424.c4653c","type":"mqtt in","z":"29952eae.415b82","name":"cafetera","topic":"/cafetera","qos":"2","broker":"f90a0618.a7d128","x":726.1665954589844,"y":879.6667785644531,"wires":[["98c337d7.0aec48"]]},{"id":"98c337d7.0aec48","type":"debug","z":"29952eae.415b82","name":"","active":true,"console":"false","complete":"false","x":920.1665954589844,"y":868.3333129882812,"wires":[]},{"id":"f90a0618.a7d128","type":"mqtt-broker","z":"","broker":"m10.cloudmqtt.com","port":"18485","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]