DISPOSITIVOS.txt
[{"id":"3a5b9548.a899fa","type":"http response","z":"4cd18f9a.88481","name":"RESPONSE ADD","x":713.6666259765625,"y":116.2998046875,"wires":[]},{"id":"adde5bcb.0dd008","type":"http in","z":"4cd18f9a.88481","name":"ADD DEVICE","url":"/ADD/DEVICE","method":"get","swaggerDoc":"","x":100.65815734863281,"y":150.43048095703125,"wires":[["9657ecbd.93f7d"]]},{"id":"9657ecbd.93f7d","type":"function","z":"4cd18f9a.88481","name":"Validate ADD","func":"//var header = msg.req.headers;\nvar header = msg.req.query;\nvar code = header.code;\nvar model = header.model;\nvar type = header.type;\nvar type_com = header.typeCom;\nvar ip = header.ip;\nvar puerto = header.puerto;\nvar com ;\nvar online = header.online;\n\nvar map = {};\nif(type_com == \"serial\"){\n    com = header.com;\n    map.com=com;\n}else{\n    com = \"\";\n    map.com=com;\n}\nmap.ip=ip;\nmap.code=code;\nmap.online=online;\nmap.type=type;\nmap.type_com=type_com;\nmap.puerto=puerto;\nmap.model=model;\n\nif(code === undefined || online===undefined || \n   ip === undefined || model === undefined ||\n   type === undefined){\n        msg.payload = \"ERROR\";\n        msg.statusCode = 404;\n}\nelse\n    msg.payload = map;    \nreturn msg;","outputs":"1","noerr":0,"x":241.66383361816406,"y":93.3509521484375,"wires":[["c51125bd.921708"]]},{"id":"c51125bd.921708","type":"switch","z":"4cd18f9a.88481","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":352.6552734375,"y":149.6123046875,"wires":[["ca8af703.525568"],["27169cfa.510184"]]},{"id":"59269e4f.cb861","type":"http in","z":"4cd18f9a.88481","name":"DELETE DEVICE","url":"/DELETE/DEVICE","method":"post","swaggerDoc":"","x":135.70361328125,"y":297.1975555419922,"wires":[["ec390cb4.f7ad"]]},{"id":"ec390cb4.f7ad","type":"function","z":"4cd18f9a.88481","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":247.70361328125,"y":223.19754028320312,"wires":[["cdebf814.884578"]]},{"id":"c1e7c3e2.924d9","type":"neo4j","z":"4cd18f9a.88481","name":"DELETE NODE","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} })\nOPTIONAL MATCH d-[r]-()\nDELETE d, r","x":510.70361328125,"y":228.19754028320312,"wires":[["d3bad092.aa14a"]]},{"id":"cdebf814.884578","type":"switch","z":"4cd18f9a.88481","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":351.70361328125,"y":293.1975402832031,"wires":[["c1e7c3e2.924d9"],["19a9c3c5.629f1c"]]},{"id":"6c2f3f3f.d2218","type":"http response","z":"4cd18f9a.88481","name":"RESPONSE DELETE","x":746.70361328125,"y":294.1975402832031,"wires":[]},{"id":"19a9c3c5.629f1c","type":"http response","z":"4cd18f9a.88481","name":"ERROR DELETE","x":537.70361328125,"y":325.1975402832031,"wires":[]},{"id":"27169cfa.510184","type":"http response","z":"4cd18f9a.88481","name":"ERROR ADD","x":522.70361328125,"y":176.19754028320312,"wires":[]},{"id":"d3bad092.aa14a","type":"function","z":"4cd18f9a.88481","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":732.70361328125,"y":228.19754028320312,"wires":[["6c2f3f3f.d2218"]]},{"id":"3c2513bc.e7b1ec","type":"http in","z":"4cd18f9a.88481","name":"COMPLETE DEVICE","url":"/COMPLETE/DEVICE","method":"get","swaggerDoc":"","x":131.6581573486328,"y":924.433349609375,"wires":[["313a9158.5fa2fe"]]},{"id":"313a9158.5fa2fe","type":"function","z":"4cd18f9a.88481","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":243.6581573486328,"y":819.4333343505859,"wires":[["b0d4c09c.0a1de"]]},{"id":"b0d4c09c.0a1de","type":"switch","z":"4cd18f9a.88481","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":349.6581573486328,"y":867.4333343505859,"wires":[["aa0c6640.74d458"],["5a5f14af.92312c"]]},{"id":"238b3947.f500c6","type":"http response","z":"4cd18f9a.88481","name":"RESPONSE INFO","x":703.6581573486328,"y":903.4333343505859,"wires":[]},{"id":"5a5f14af.92312c","type":"http response","z":"4cd18f9a.88481","name":"ERROR INFO","x":495.6581726074219,"y":921.433349609375,"wires":[]},{"id":"63a1be5c.9e723","type":"function","z":"4cd18f9a.88481","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":629.6581268310547,"y":849.433349609375,"wires":[["238b3947.f500c6"]]},{"id":"544e4a8d.27db74","type":"debug","z":"4cd18f9a.88481","name":"","active":true,"console":"false","complete":"payload","x":801.6127166748047,"y":815.6691284179688,"wires":[]},{"id":"55115051.54a33","type":"http in","z":"4cd18f9a.88481","name":"DEVICE OBJECTS","url":"/DEVICE/OBJECTS","method":"get","swaggerDoc":"","x":148.6581573486328,"y":1101.433334350586,"wires":[["7e3fd2ff.548e7c"]]},{"id":"7e3fd2ff.548e7c","type":"function","z":"4cd18f9a.88481","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":278.6581573486328,"y":1046.433334350586,"wires":[["9fded704.6c2b18","c653ac4.69e205"]]},{"id":"9fded704.6c2b18","type":"switch","z":"4cd18f9a.88481","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":384.6581573486328,"y":1094.433334350586,"wires":[[],["ebade78f.c6f148"]]},{"id":"6443fc64.ef0be4","type":"http response","z":"4cd18f9a.88481","name":"RESPONSE INFO","x":833.6581573486328,"y":1140.433334350586,"wires":[]},{"id":"ebade78f.c6f148","type":"http response","z":"4cd18f9a.88481","name":"ERROR INFO","x":513.6581573486328,"y":1140.433334350586,"wires":[]},{"id":"580020a2.60b99","type":"function","z":"4cd18f9a.88481","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":658.6581420898438,"y":1073.433334350586,"wires":[["6443fc64.ef0be4"]]},{"id":"3ff155e9.2a527a","type":"debug","z":"4cd18f9a.88481","name":"","active":true,"console":"false","complete":"payload","x":839.6127014160156,"y":1020.669189453125,"wires":[]},{"id":"bc079f49.2e1aa","type":"http in","z":"4cd18f9a.88481","name":"DEVICE OBJECTS OUT","url":"/DEVICE/OBJECTS/OUT","method":"get","swaggerDoc":"","x":156.40814208984375,"y":1824.433349609375,"wires":[["8d8c05d8.276378"]]},{"id":"8d8c05d8.276378","type":"function","z":"4cd18f9a.88481","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":316.4081497192383,"y":1729.4333724975586,"wires":[["c57645cf.f5d398","b32dd137.ed74"]]},{"id":"c57645cf.f5d398","type":"switch","z":"4cd18f9a.88481","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":435.4081497192383,"y":1839.4333724975586,"wires":[[],["b538e97e.44ee08"]]},{"id":"baaa4ed5.ae8e8","type":"http response","z":"4cd18f9a.88481","name":"RESPONSE INFO","x":884.4081497192383,"y":1885.4333724975586,"wires":[]},{"id":"b538e97e.44ee08","type":"http response","z":"4cd18f9a.88481","name":"ERROR INFO","x":564.4081497192383,"y":1885.4333724975586,"wires":[]},{"id":"7c3c08fb.6bce38","type":"function","z":"4cd18f9a.88481","name":"SEARCH","func":"var pay = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":709.4081344604492,"y":1818.4333724975586,"wires":[["baaa4ed5.ae8e8"]]},{"id":"41a948fd.1e8638","type":"debug","z":"4cd18f9a.88481","name":"","active":true,"console":"false","complete":"payload","x":887.3627090454102,"y":1787.6691665649414,"wires":[]},{"id":"58cb3a72.7fbe84","type":"http in","z":"4cd18f9a.88481","name":"DEVICE OBJECTS IN","url":"/DEVICE/OBJECTS/IN","method":"get","swaggerDoc":"","x":163.40814971923828,"y":2092.4333724975586,"wires":[["25eba10.693876"]]},{"id":"25eba10.693876","type":"function","z":"4cd18f9a.88481","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":317.4081497192383,"y":1986.4333724975586,"wires":[["bf1ff9d0.df6048","3713bfb1.c765a"]]},{"id":"bf1ff9d0.df6048","type":"switch","z":"4cd18f9a.88481","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":436.4081497192383,"y":2096.4333724975586,"wires":[[],["d01682e5.4bdba"]]},{"id":"c7f88a.9195b778","type":"http response","z":"4cd18f9a.88481","name":"RESPONSE INFO","x":885.4081497192383,"y":2142.4333724975586,"wires":[]},{"id":"d01682e5.4bdba","type":"http response","z":"4cd18f9a.88481","name":"ERROR INFO","x":565.4081497192383,"y":2142.4333724975586,"wires":[]},{"id":"a0aabe61.805c5","type":"function","z":"4cd18f9a.88481","name":"SEARCH","func":"var pay = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":710.4081344604492,"y":2075.4333724975586,"wires":[["c7f88a.9195b778"]]},{"id":"eb002442.5cfd28","type":"debug","z":"4cd18f9a.88481","name":"","active":true,"console":"false","complete":"payload","x":888.3627090454102,"y":2044.6691665649414,"wires":[]},{"id":"ca8af703.525568","type":"neo4j","z":"4cd18f9a.88481","name":"NEW NODE","url":"http://neo4j:integradora@200.126.23.138:7474","query":"create(:Device {code : {code}, model : {model}, type : {type}, type_Comunication : {type_com}, ip : {ip}, puerto : {puerto}, COM:{com}, online: {online}})","x":494.2248077392578,"y":63,"wires":[["3a5b9548.a899fa"]]},{"id":"991f2671.02db58","type":"http in","z":"4cd18f9a.88481","name":"INFO DEVICE","url":"/INFO/DEVICE","method":"get","swaggerDoc":"","x":118.65815734863281,"y":470.10001373291016,"wires":[["d5a8c84a.5819b8"]]},{"id":"d5a8c84a.5819b8","type":"function","z":"4cd18f9a.88481","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":221.6581573486328,"y":419.10001373291016,"wires":[["355df157.9e464e"]]},{"id":"38c6ebe5.e52954","type":"neo4j","z":"4cd18f9a.88481","name":"INFO NODE","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} })\nRETURN d","x":448.6581573486328,"y":415.10001373291016,"wires":[["7a877dd5.390e04","7f17af19.72885"]]},{"id":"355df157.9e464e","type":"switch","z":"4cd18f9a.88481","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":327.6581573486328,"y":467.10001373291016,"wires":[["38c6ebe5.e52954"],["6c04a4fe.7be46c"]]},{"id":"210bb16c.f7dc5e","type":"http response","z":"4cd18f9a.88481","name":"RESPONSE INFO","x":681.6581573486328,"y":503.10001373291016,"wires":[]},{"id":"6c04a4fe.7be46c","type":"http response","z":"4cd18f9a.88481","name":"ERROR INFO","x":456.6581573486328,"y":513.1000137329102,"wires":[]},{"id":"7a877dd5.390e04","type":"function","z":"4cd18f9a.88481","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":607.6581268310547,"y":449.1000289916992,"wires":[["210bb16c.f7dc5e"]]},{"id":"7f17af19.72885","type":"debug","z":"4cd18f9a.88481","name":"","active":true,"console":"false","complete":"payload","x":779.6127166748047,"y":415.33580780029297,"wires":[]},{"id":"891b56f7.5f4688","type":"http in","z":"4cd18f9a.88481","name":"DELETE COMPLETE DEVICE","url":"/DELETE/COMPLETE/DEVICE","method":"get","swaggerDoc":"","x":169.22482299804688,"y":2347.4503173828125,"wires":[["67b64342.a5fecc"]]},{"id":"67b64342.a5fecc","type":"function","z":"4cd18f9a.88481","name":"Validate DELETE","func":"var header = msg.req.query;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":297.22481536865234,"y":2233.450080871582,"wires":[["d6f9ba2c.c1f998"]]},{"id":"d6f9ba2c.c1f998","type":"switch","z":"4cd18f9a.88481","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":401.22481536865234,"y":2303.450080871582,"wires":[["7b20e698.895248"],["b072811d.2d15d"]]},{"id":"b3e28292.e7c0f","type":"http response","z":"4cd18f9a.88481","name":"RESPONSE DELETE","x":856.2248001098633,"y":2327.450096130371,"wires":[]},{"id":"b072811d.2d15d","type":"http response","z":"4cd18f9a.88481","name":"ERROR DELETE","x":587.2248153686523,"y":2335.450080871582,"wires":[]},{"id":"fc020802.f40458","type":"function","z":"4cd18f9a.88481","name":"SEARCH","func":"\n\nreturn msg;","outputs":1,"noerr":0,"x":892.2248001098633,"y":2238.450096130371,"wires":[["b3e28292.e7c0f"]]},{"id":"748edfd6.3c986","type":"http in","z":"4cd18f9a.88481","name":"MODIFY DEVICE","url":"/MODIFY/DEVICE","method":"get","swaggerDoc":"","x":123.22482299804688,"y":648.9999847412109,"wires":[["be1a6f85.5b329"]]},{"id":"be1a6f85.5b329","type":"function","z":"4cd18f9a.88481","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":216.22482299804688,"y":597.9999847412109,"wires":[["5c13e628.0990c8","7ed4ec11.29b6e4"]]},{"id":"5c13e628.0990c8","type":"switch","z":"4cd18f9a.88481","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":326.2248077392578,"y":650.9999847412109,"wires":[[],["caa347a0.bc6b08"]]},{"id":"53986dda.ba2ce4","type":"http response","z":"4cd18f9a.88481","name":"RESPONSE INFO","x":765.2247924804688,"y":689.9999847412109,"wires":[]},{"id":"caa347a0.bc6b08","type":"http response","z":"4cd18f9a.88481","name":"ERROR INFO","x":484.22479248046875,"y":704.9999847412109,"wires":[]},{"id":"db742049.f19d6","type":"function","z":"4cd18f9a.88481","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":877.2247619628906,"y":602.0000305175781,"wires":[["53986dda.ba2ce4"]]},{"id":"f1778c48.259cd","type":"http in","z":"4cd18f9a.88481","name":"INFO DEVICE CONTAIN OBJECTS","url":"/DEVICE/CONTAIN-OBJECTS","method":"get","swaggerDoc":"","x":184.4166259765625,"y":1495.916799545288,"wires":[["37348723.795c18"]]},{"id":"37348723.795c18","type":"function","z":"4cd18f9a.88481","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":263.16663360595703,"y":1349.6667976379395,"wires":[["18143f28.9d91c1","137d559d.3785ca"]]},{"id":"18143f28.9d91c1","type":"switch","z":"4cd18f9a.88481","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":369.16663360595703,"y":1397.6667976379395,"wires":[[],["3721b731.0cc618"]]},{"id":"f361dd32.ffd72","type":"http response","z":"4cd18f9a.88481","name":"RESPONSE INFO","x":818.166633605957,"y":1443.6667976379395,"wires":[]},{"id":"3721b731.0cc618","type":"http response","z":"4cd18f9a.88481","name":"ERROR INFO","x":498.16663360595703,"y":1443.6667976379395,"wires":[]},{"id":"93feaa1c.12d388","type":"function","z":"4cd18f9a.88481","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":643.166618347168,"y":1376.6667976379395,"wires":[["f361dd32.ffd72"]]},{"id":"f71f1a41.1ce138","type":"debug","z":"4cd18f9a.88481","name":"","active":true,"console":"false","complete":"payload","x":821.1211929321289,"y":1345.9025917053223,"wires":[]},{"id":"137d559d.3785ca","type":"neo4j","z":"4cd18f9a.88481","name":"DEVICE FOR OBJECTS","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (o:Object{code:{code}})<-[:HAVE]-(d) RETURN d","x":545.5832824707031,"y":1297.166748046875,"wires":[["f71f1a41.1ce138","93feaa1c.12d388"]]},{"id":"7ed4ec11.29b6e4","type":"neo4j","z":"4cd18f9a.88481","name":"Modify Device","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} }) SET d.model = {model}, d.type = {type}, d.ip = {ip}, d.puerto = {port}, d.type_Comunication = {type_Comunication} RETURN d","x":486.6665344238281,"y":578.3334045410156,"wires":[["db742049.f19d6"]]},{"id":"3713bfb1.c765a","type":"neo4j","z":"4cd18f9a.88481","name":"PERSONAL OBJECT INCOMMING","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (o:Object{code:{code}}) OPTIONAL MATCH (o)<-[:link]-(obs) RETURN obs","x":616.6665954589844,"y":1986.666748046875,"wires":[["eb002442.5cfd28","a0aabe61.805c5"]]},{"id":"b32dd137.ed74","type":"neo4j","z":"4cd18f9a.88481","name":"PERSONAL OBJECT OUTGOING","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (o:Object{code:{code}}) OPTIONAL MATCH (o)-[:link]->(obs) RETURN obs","x":617.6665954589844,"y":1677.666748046875,"wires":[["41a948fd.1e8638","7c3c08fb.6bce38"]]},{"id":"c653ac4.69e205","type":"neo4j","z":"4cd18f9a.88481","name":"DEVICE FOR OBJECTS","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (o:Object{code:{code}}) OPTIONAL MATCH (o)-[:HAVE]->(a) MATCH (o:Object{code:{code}})<-[:HAVE]-(d) RETURN d,o,a","x":549.6665954589844,"y":1003,"wires":[["3ff155e9.2a527a","580020a2.60b99"]]},{"id":"aa0c6640.74d458","type":"neo4j","z":"4cd18f9a.88481","name":"COMPLETE DEVICE","url":"http://neo4j:integradora@200.126.23.138:7474","query":"match(d:Device {code:{code}}) OPTIONAL MATCH (d)-[:HAVE]->(o:Object) OPTIONAL MATCH (o)-[:HAVE]->(a:Action) return d,o,a","x":491.6666564941406,"y":778,"wires":[["63a1be5c.9e723","544e4a8d.27db74"]]},{"id":"2a10c8c0.ab6598","type":"http in","z":"4cd18f9a.88481","name":"COMPLETE DEVICE -R","url":"/COMPLETE/DEVICER","method":"get","swaggerDoc":"","x":159.765625,"y":2557,"wires":[["ff931ed2.f01f6"]]},{"id":"ff931ed2.f01f6","type":"function","z":"4cd18f9a.88481","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":277.765625,"y":2461.999984741211,"wires":[["c8c9dc1f.5bb66"]]},{"id":"c8c9dc1f.5bb66","type":"switch","z":"4cd18f9a.88481","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":383.765625,"y":2509.999984741211,"wires":[["3213bddc.8b17b2"],["1d5173c1.cf800c"]]},{"id":"440eb0ee.3b9ec","type":"http response","z":"4cd18f9a.88481","name":"RESPONSE INFO","x":737.765625,"y":2545.999984741211,"wires":[]},{"id":"1d5173c1.cf800c","type":"http response","z":"4cd18f9a.88481","name":"ERROR INFO","x":529.7656402587891,"y":2564,"wires":[]},{"id":"f7331df1.fd907","type":"function","z":"4cd18f9a.88481","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":663.7655944824219,"y":2492,"wires":[["440eb0ee.3b9ec"]]},{"id":"37b1a0c4.4c0e3","type":"debug","z":"4cd18f9a.88481","name":"","active":true,"console":"false","complete":"payload","x":835.7201843261719,"y":2458.2357788085938,"wires":[]},{"id":"3213bddc.8b17b2","type":"neo4j","z":"4cd18f9a.88481","name":"COMPLETE DEVICE","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (a:Device {code:{code} }) OPTIONAL MATCH (a)-[r]->(b:Object) OPTIONAL MATCH (b)-[r1]->(c:Action) OPTIONAL MATCH (b)<-[r2]-(d) OPTIONAL MATCH (b)-[r3]->(e) return a,b,c,d,e","x":547.765625,"y":2420,"wires":[["f7331df1.fd907","37b1a0c4.4c0e3"]]},{"id":"7b20e698.895248","type":"neo4j","z":"4cd18f9a.88481","name":"DELETE NODE COMPLETE DEVIC","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (a:Device {code:{code} }) OPTIONAL MATCH (a)-[r]->(b:Object) OPTIONAL MATCH (b)-[r1]->(c:Action) OPTIONAL MATCH (b)<-[r2]-(d1:Object) OPTIONAL MATCH (b)-[r3]->(d2:Object) delete a,b,c,r,r1,r2,r3","x":626.765625,"y":2237.5,"wires":[["fc020802.f40458"]]}]