DISPOSITIVOS.txt
[{"id":"37937f39.b3043","type":"http response","z":"972b631f.dda68","name":"RESPONSE ADD","x":688.0084686279297,"y":108.86647033691406,"wires":[]},{"id":"7c1ac336.73f20c","type":"http in","z":"972b631f.dda68","name":"ADD DEVICE","url":"/ADD/DEVICE","method":"get","swaggerDoc":"","x":75,"y":142.9971466064453,"wires":[["9d098728.d81ac8"]]},{"id":"9d098728.d81ac8","type":"function","z":"972b631f.dda68","name":"Validate ADD","func":"//var header = msg.req.headers;\nvar header = msg.req.query;\nvar code = header.code;\nvar model = header.model;\nvar type = header.type;\nvar type_com = header.typeCom;\nvar ip = header.ip;\nvar puerto = header.puerto;\nvar com ;\nvar online = header.online;\n\nvar map = {};\nif(type_com == \"serial\"){\n    com = header.com;\n    map.com=com;\n}else{\n    com = \"\";\n    map.com=com;\n}\nmap.ip=ip;\nmap.code=code;\nmap.online=online;\nmap.type=type;\nmap.type_com=type_com;\nmap.puerto=puerto;\nmap.model=model;\n\nif(code === undefined || online===undefined || \n   ip === undefined || model === undefined ||\n   type === undefined){\n        msg.payload = \"ERROR\";\n        msg.statusCode = 404;\n}\nelse\n    msg.payload = map;    \nreturn msg;","outputs":"1","noerr":0,"x":216.00567626953125,"y":85.91761779785156,"wires":[["90978518.67f1e8"]]},{"id":"90978518.67f1e8","type":"switch","z":"972b631f.dda68","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":326.9971160888672,"y":142.17897033691406,"wires":[["3df828c5.571bb8"],["7e5d4d61.9ca204"]]},{"id":"20710a6e.ceb066","type":"http in","z":"972b631f.dda68","name":"DELETE DEVICE","url":"/DELETE/DEVICE","method":"post","swaggerDoc":"","x":110.04545593261719,"y":289.76422119140625,"wires":[["9dcee667.b48448"]]},{"id":"9dcee667.b48448","type":"function","z":"972b631f.dda68","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":222.0454559326172,"y":215.7642059326172,"wires":[["f3e6f722.877258"]]},{"id":"dc73ddbc.2b2b3","type":"neo4j","z":"972b631f.dda68","name":"DELETE NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device {code:{code} })\nOPTIONAL MATCH d-[r]-()\nDELETE d, r","x":485.0454559326172,"y":220.7642059326172,"wires":[["f25da96c.6809b8"]]},{"id":"f3e6f722.877258","type":"switch","z":"972b631f.dda68","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":326.0454559326172,"y":285.7642059326172,"wires":[["dc73ddbc.2b2b3"],["d374bf4e.51ece"]]},{"id":"31782a56.4c0366","type":"http response","z":"972b631f.dda68","name":"RESPONSE DELETE","x":721.0454559326172,"y":286.7642059326172,"wires":[]},{"id":"d374bf4e.51ece","type":"http response","z":"972b631f.dda68","name":"ERROR DELETE","x":512.0454559326172,"y":317.7642059326172,"wires":[]},{"id":"7e5d4d61.9ca204","type":"http response","z":"972b631f.dda68","name":"ERROR ADD","x":497.0454559326172,"y":168.7642059326172,"wires":[]},{"id":"f25da96c.6809b8","type":"function","z":"972b631f.dda68","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":707.0454559326172,"y":220.7642059326172,"wires":[["31782a56.4c0366"]]},{"id":"6de27005.0a464","type":"neo4j","z":"972b631f.dda68","name":"COMPLETE DEVICE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"match(device {code:{code}})-[:HAVE]->(object)-[:HAVE]->(action) return device,object,action","x":468,"y":797,"wires":[["600d6277.b2d32c","55dddd8a.e45cf4"]]},{"id":"35a0ea57.75eea6","type":"http in","z":"972b631f.dda68","name":"COMPLETE DEVICE","url":"/COMPLETE/DEVICE","method":"get","swaggerDoc":"","x":118,"y":889,"wires":[["e977292.419b2d8"]]},{"id":"e977292.419b2d8","type":"function","z":"972b631f.dda68","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":218,"y":812,"wires":[["195b017d.72e75f"]]},{"id":"195b017d.72e75f","type":"switch","z":"972b631f.dda68","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":324,"y":860,"wires":[["6de27005.0a464"],["8330478d.f491f8"]]},{"id":"e563e872.fa7788","type":"http response","z":"972b631f.dda68","name":"RESPONSE INFO","x":678,"y":896,"wires":[]},{"id":"8330478d.f491f8","type":"http response","z":"972b631f.dda68","name":"ERROR INFO","x":453,"y":906,"wires":[]},{"id":"600d6277.b2d32c","type":"function","z":"972b631f.dda68","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":603.9999694824219,"y":842.0000152587891,"wires":[["e563e872.fa7788"]]},{"id":"55dddd8a.e45cf4","type":"debug","z":"972b631f.dda68","name":"","active":true,"console":"false","complete":"payload","x":775.9545593261719,"y":808.2357940673828,"wires":[]},{"id":"90ed2bb4.1d82a8","type":"http in","z":"972b631f.dda68","name":"DEVICE OBJECTS","url":"/DEVICE/OBJECTS","method":"get","swaggerDoc":"","x":123,"y":1094,"wires":[["37a4c77.2b29838"]]},{"id":"37a4c77.2b29838","type":"function","z":"972b631f.dda68","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":253,"y":1039,"wires":[["406ad867.2042d8","9beba271.77314"]]},{"id":"406ad867.2042d8","type":"switch","z":"972b631f.dda68","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":359,"y":1087,"wires":[[],["249a1eb.a3faae2"]]},{"id":"4778e3f8.abb2ec","type":"http response","z":"972b631f.dda68","name":"RESPONSE INFO","x":808,"y":1133,"wires":[]},{"id":"249a1eb.a3faae2","type":"http response","z":"972b631f.dda68","name":"ERROR INFO","x":488,"y":1133,"wires":[]},{"id":"b2da35c.f2783c8","type":"function","z":"972b631f.dda68","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":632.9999847412109,"y":1066,"wires":[["4778e3f8.abb2ec"]]},{"id":"2e0a798f.06add6","type":"debug","z":"972b631f.dda68","name":"","active":true,"console":"false","complete":"payload","x":810.9545593261719,"y":1035.2357940673828,"wires":[]},{"id":"4d882b28.d87e84","type":"http in","z":"972b631f.dda68","name":"DEVICE OBJECTS OUT","url":"/DEVICE/OBJECTS/OUT","method":"get","swaggerDoc":"","x":131.75,"y":1476.75,"wires":[["fb85759.c826d88"]]},{"id":"fb85759.c826d88","type":"function","z":"972b631f.dda68","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":275.75,"y":1370.75,"wires":[["d9903c10.592e9","a92317d1.30a0b8"]]},{"id":"d9903c10.592e9","type":"switch","z":"972b631f.dda68","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":394.75,"y":1480.75,"wires":[[],["7267de10.674d8"]]},{"id":"72c7a773.106c78","type":"http response","z":"972b631f.dda68","name":"RESPONSE INFO","x":843.75,"y":1526.75,"wires":[]},{"id":"7267de10.674d8","type":"http response","z":"972b631f.dda68","name":"ERROR INFO","x":523.75,"y":1526.75,"wires":[]},{"id":"f33d1bd7.7d8bc8","type":"function","z":"972b631f.dda68","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":668.7499847412109,"y":1459.75,"wires":[["72c7a773.106c78"]]},{"id":"d5d56922.756d18","type":"debug","z":"972b631f.dda68","name":"","active":true,"console":"false","complete":"payload","x":846.7045593261719,"y":1428.9857940673828,"wires":[]},{"id":"9beba271.77314","type":"neo4j","z":"972b631f.dda68","name":"DEVICE FOR OBJECTS","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o:Object{code:{code}})-[:HAVE]->(a) MATCH (o:Object{code:{code}})<-[:HAVE]-(d) RETURN d,o,a","x":508.75,"y":994.75,"wires":[["2e0a798f.06add6","b2da35c.f2783c8"]]},{"id":"a92317d1.30a0b8","type":"neo4j","z":"972b631f.dda68","name":"PERSONAL OBJECT OUTGOING","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o:Object{code:{code}})-[:link]->(obs) RETURN obs","x":530.75,"y":1338.75,"wires":[["d5d56922.756d18","f33d1bd7.7d8bc8"]]},{"id":"9a06c512.d644c8","type":"neo4j","z":"972b631f.dda68","name":"PERSONAL OBJECT INCOMMING","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o:Object{code:{code}})<-[:link]-(obs) RETURN obs","x":570.75,"y":1627.75,"wires":[["bfdf739d.0cf64","96e3c6e9.a94bc8"]]},{"id":"448bb12b.45e0f","type":"http in","z":"972b631f.dda68","name":"DEVICE OBJECTS IN","url":"/DEVICE/OBJECTS/IN","method":"get","swaggerDoc":"","x":122.75,"y":1733.75,"wires":[["a1d6e819.f5dc68"]]},{"id":"a1d6e819.f5dc68","type":"function","z":"972b631f.dda68","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":276.75,"y":1627.75,"wires":[["ca91b6ba.c02198","9a06c512.d644c8"]]},{"id":"ca91b6ba.c02198","type":"switch","z":"972b631f.dda68","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":395.75,"y":1737.75,"wires":[[],["c4a089ae.f3ff48"]]},{"id":"a05ddcfb.df925","type":"http response","z":"972b631f.dda68","name":"RESPONSE INFO","x":844.75,"y":1783.75,"wires":[]},{"id":"c4a089ae.f3ff48","type":"http response","z":"972b631f.dda68","name":"ERROR INFO","x":524.75,"y":1783.75,"wires":[]},{"id":"96e3c6e9.a94bc8","type":"function","z":"972b631f.dda68","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":669.7499847412109,"y":1716.75,"wires":[["a05ddcfb.df925"]]},{"id":"bfdf739d.0cf64","type":"debug","z":"972b631f.dda68","name":"","active":true,"console":"false","complete":"payload","x":847.7045593261719,"y":1685.9857940673828,"wires":[]},{"id":"3df828c5.571bb8","type":"neo4j","z":"972b631f.dda68","name":"NEW NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"create(:Device {code : {code}, model : {model}, type : {type}, type_Comunication : {type_com}, ip : {ip}, puerto : {puerto}, COM:{com}, online: {online}})","x":468.566650390625,"y":55.56666564941406,"wires":[["37937f39.b3043"]]},{"id":"39d0fd91.d94252","type":"http in","z":"972b631f.dda68","name":"INFO DEVICE","url":"/INFO/DEVICE","method":"get","swaggerDoc":"","x":93,"y":462.6666793823242,"wires":[["82e63714.a2eb98"]]},{"id":"82e63714.a2eb98","type":"function","z":"972b631f.dda68","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":196,"y":411.6666793823242,"wires":[["7e7e7b4c.de6584"]]},{"id":"5a5365dd.3e0a8c","type":"neo4j","z":"972b631f.dda68","name":"INFO NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device {code:{code} })\nRETURN d","x":423,"y":407.6666793823242,"wires":[["81fc1c86.6f8e1","6f7a4727.096548"]]},{"id":"7e7e7b4c.de6584","type":"switch","z":"972b631f.dda68","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":302,"y":459.6666793823242,"wires":[["5a5365dd.3e0a8c"],["85fe6882.ac5d38"]]},{"id":"c01620c8.50f47","type":"http response","z":"972b631f.dda68","name":"RESPONSE INFO","x":656,"y":495.6666793823242,"wires":[]},{"id":"85fe6882.ac5d38","type":"http response","z":"972b631f.dda68","name":"ERROR INFO","x":431,"y":505.6666793823242,"wires":[]},{"id":"81fc1c86.6f8e1","type":"function","z":"972b631f.dda68","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":581.9999694824219,"y":441.6666946411133,"wires":[["c01620c8.50f47"]]},{"id":"6f7a4727.096548","type":"debug","z":"972b631f.dda68","name":"","active":true,"console":"false","complete":"payload","x":753.9545593261719,"y":407.90247344970703,"wires":[]},{"id":"6f676905.064118","type":"http in","z":"972b631f.dda68","name":"DELETE COMPLETE DEVICE","url":"/DELETE/COMPLETE/DEVICE","method":"get","swaggerDoc":"","x":162.56666564941406,"y":2020.7667236328125,"wires":[["bb04c049.f4ad9"]]},{"id":"bb04c049.f4ad9","type":"function","z":"972b631f.dda68","name":"Validate DELETE","func":"var header = msg.req.query;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":256.56666564941406,"y":1874.7667083740234,"wires":[["654f53ad.17ccfc","9c3a6eee.6ff9e"]]},{"id":"654f53ad.17ccfc","type":"switch","z":"972b631f.dda68","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":360.56666564941406,"y":1944.7667083740234,"wires":[[],["76837923.4fb728"]]},{"id":"89193fc1.20264","type":"http response","z":"972b631f.dda68","name":"RESPONSE DELETE","x":815.566650390625,"y":1968.7667236328125,"wires":[]},{"id":"76837923.4fb728","type":"http response","z":"972b631f.dda68","name":"ERROR DELETE","x":546.5666656494141,"y":1976.7667083740234,"wires":[]},{"id":"6cc36b00.6142c4","type":"function","z":"972b631f.dda68","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":851.566650390625,"y":1879.7667236328125,"wires":[["89193fc1.20264"]]},{"id":"42de859f.acd21c","type":"http in","z":"972b631f.dda68","name":"MODIFY DEVICE","url":"/MODIFY/DEVICE","method":"get","swaggerDoc":"","x":97.56666564941406,"y":641.566650390625,"wires":[["ebd6ffb0.d0a3d"]]},{"id":"ebd6ffb0.d0a3d","type":"function","z":"972b631f.dda68","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":190.56666564941406,"y":590.566650390625,"wires":[["de4afa4e.71b298"]]},{"id":"de4afa4e.71b298","type":"switch","z":"972b631f.dda68","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":300.566650390625,"y":643.566650390625,"wires":[["6af83d80.f1a034"],["9a8bc5ec.0c5f58"]]},{"id":"13d9c439.cd4d4c","type":"http response","z":"972b631f.dda68","name":"RESPONSE INFO","x":739.5666351318359,"y":682.566650390625,"wires":[]},{"id":"9a8bc5ec.0c5f58","type":"http response","z":"972b631f.dda68","name":"ERROR INFO","x":458.56663513183594,"y":697.566650390625,"wires":[]},{"id":"42223cb0.f59124","type":"function","z":"972b631f.dda68","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":643.5666351318359,"y":598.566650390625,"wires":[["13d9c439.cd4d4c"]]},{"id":"6af83d80.f1a034","type":"neo4j","z":"972b631f.dda68","name":"Modify Device","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device {code:{code} }) SET d.model = {model}, d.type = {type}, d.ip = {ip} RETURN d","x":475.6338119506836,"y":582.9135093688965,"wires":[["42223cb0.f59124"]]},{"id":"9c3a6eee.6ff9e","type":"neo4j","z":"972b631f.dda68","name":"DELETE NODE COMPLETE DEVIC","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (a:Device {code:{code} }) OPTIONAL MATCH (a)-[r]->(b:Object) OPTIONAL MATCH (b)-[r1]->(c:Action) OPTIONAL MATCH (b)<-[r2]-(d) OPTIONAL MATCH (b)-[r3]->(d) delete a,b,c,r,r1,r2,r3","x":570.566650390625,"y":1871.066650390625,"wires":[["6cc36b00.6142c4"]]}]