Dispositivos_Actualizado_4_12_06.txt
[{"id":"6a087bb1.326ef4","type":"neo4j","z":"4012b344.00007c","name":"NEW NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"CREATE(:Device {\n\tcode  : {code},\n\ttype  : {type},\n\tmodel : {model},\n\tip    : {ip},\n\tonline: {online}\n})\n","x":483.0084686279297,"y":79,"wires":[["859c24ac.ad6b18"]]},{"id":"859c24ac.ad6b18","type":"http response","z":"4012b344.00007c","name":"RESPONSE ADD","x":688.0084686279297,"y":108.86647033691406,"wires":[]},{"id":"6b61dd6b.311754","type":"http in","z":"4012b344.00007c","name":"ADD DEVICE","url":"/ADD/DEVICE","method":"post","swaggerDoc":"","x":75,"y":142.9971466064453,"wires":[["a08fbe70.3f246"]]},{"id":"a08fbe70.3f246","type":"function","z":"4012b344.00007c","name":"Validate ADD","func":"var header = msg.req.headers;\nvar ip = header.ip;\nvar code = header.code;\nvar online = header.online;\nvar model = header.model;\nvar type = header.type;\nvar map = {};\nmap.ip=ip;\nmap.code=code;\nmap.online=online;\nmap.type=type;\nmap.model=model;\nif(code === undefined || online===undefined || \n   ip === undefined || model === undefined ||\n   type === undefined){\n        msg.payload = \"ERROR\";\n        msg.statusCode = 404;\n}\nelse\n    msg.payload = map;    \nreturn msg;","outputs":"1","noerr":0,"x":216.00567626953125,"y":85.91761779785156,"wires":[["18ddadb5.ad31e2"]]},{"id":"18ddadb5.ad31e2","type":"switch","z":"4012b344.00007c","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":326.9971160888672,"y":142.17897033691406,"wires":[["6a087bb1.326ef4"],["a9f52ab3.76abb8"]]},{"id":"7efff213.6249dc","type":"http in","z":"4012b344.00007c","name":"DELETE DEVICE","url":"/DELETE/DEVICE","method":"post","swaggerDoc":"","x":86.04545593261719,"y":289.7642059326172,"wires":[["d5944d27.40ea8"]]},{"id":"d5944d27.40ea8","type":"function","z":"4012b344.00007c","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":222.0454559326172,"y":215.7642059326172,"wires":[["484d82b6.8693fc"]]},{"id":"7b5d0449.0bf88c","type":"neo4j","z":"4012b344.00007c","name":"DELETE NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device {code:{code} })\nOPTIONAL MATCH d-[r]-()\nDELETE d, r","x":485.0454559326172,"y":220.7642059326172,"wires":[["fc613c7a.cf5e7"]]},{"id":"484d82b6.8693fc","type":"switch","z":"4012b344.00007c","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":326.0454559326172,"y":285.7642059326172,"wires":[["7b5d0449.0bf88c"],["2ba7e0ab.db9f6"]]},{"id":"1174a047.0faeb","type":"http response","z":"4012b344.00007c","name":"RESPONSE DELETE","x":721.0454559326172,"y":286.7642059326172,"wires":[]},{"id":"2ba7e0ab.db9f6","type":"http response","z":"4012b344.00007c","name":"ERROR DELETE","x":512.0454559326172,"y":317.7642059326172,"wires":[]},{"id":"97a728cd.2700f8","type":"http in","z":"4012b344.00007c","name":"INFO DEVICE","url":"/INFO/DEVICE","method":"get","swaggerDoc":"","x":95.04544067382812,"y":416.7642059326172,"wires":[["4adf12c.b74d2ec"]]},{"id":"4adf12c.b74d2ec","type":"function","z":"4012b344.00007c","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":198.04544067382812,"y":365.7642059326172,"wires":[["e5cb9218.c4a4a"]]},{"id":"f94f68e0.86e968","type":"neo4j","z":"4012b344.00007c","name":"INFO NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device {code:{code} })\nRETURN d","x":425.0454406738281,"y":361.7642059326172,"wires":[["ea528954.9b0c78","c7b6d321.17b67"]]},{"id":"e5cb9218.c4a4a","type":"switch","z":"4012b344.00007c","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":304.0454406738281,"y":413.7642059326172,"wires":[["f94f68e0.86e968"],["d890554a.3e7848"]]},{"id":"77b39104.58675","type":"http response","z":"4012b344.00007c","name":"RESPONSE INFO","x":658.0454406738281,"y":449.7642059326172,"wires":[]},{"id":"d890554a.3e7848","type":"http response","z":"4012b344.00007c","name":"ERROR INFO","x":433.0454406738281,"y":459.7642059326172,"wires":[]},{"id":"ea528954.9b0c78","type":"function","z":"4012b344.00007c","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":584.04541015625,"y":395.76422119140625,"wires":[["77b39104.58675"]]},{"id":"a9f52ab3.76abb8","type":"http response","z":"4012b344.00007c","name":"ERROR ADD","x":497.0454559326172,"y":168.7642059326172,"wires":[]},{"id":"fc613c7a.cf5e7","type":"function","z":"4012b344.00007c","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":707.0454559326172,"y":220.7642059326172,"wires":[["1174a047.0faeb"]]},{"id":"7a4773b2.8ec79c","type":"http in","z":"4012b344.00007c","name":"MODIFY DEVICE","url":"/MODIFY/DEVICE","method":"get","swaggerDoc":"","x":109.9412841796875,"y":670.6531524658203,"wires":[["c6962f72.fd9c5"]]},{"id":"c6962f72.fd9c5","type":"function","z":"4012b344.00007c","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":202.9412841796875,"y":619.6531524658203,"wires":[["e0c10787.3890e8"]]},{"id":"66f48442.5d765c","type":"neo4j","z":"4012b344.00007c","name":"INFO NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device {code:{code} })\nRETURN d","x":470.94122314453125,"y":623.6531524658203,"wires":[["a2f8d159.924f1"]]},{"id":"e0c10787.3890e8","type":"switch","z":"4012b344.00007c","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":312.94126892089844,"y":672.6531524658203,"wires":[["66f48442.5d765c"],["a8e79b53.0201c8"]]},{"id":"db0f92bb.b12f4","type":"http response","z":"4012b344.00007c","name":"RESPONSE INFO","x":751.9412536621094,"y":711.6531524658203,"wires":[]},{"id":"a8e79b53.0201c8","type":"http response","z":"4012b344.00007c","name":"ERROR INFO","x":470.9412536621094,"y":726.6531524658203,"wires":[]},{"id":"a2f8d159.924f1","type":"function","z":"4012b344.00007c","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":655.9412536621094,"y":627.6531524658203,"wires":[["db0f92bb.b12f4"]]},{"id":"c7b6d321.17b67","type":"debug","z":"4012b344.00007c","name":"","active":true,"console":"false","complete":"payload","x":756,"y":362,"wires":[]},{"id":"6f586997.4890f8","type":"neo4j","z":"4012b344.00007c","name":"COMPLETE DEVICE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"match(device {code:{code}})-[:HAVE]->(object)-[:HAVE]->(action) return device,object,action","x":468,"y":797,"wires":[["f1f6bbbb.d9703","320eca55.e3390e"]]},{"id":"458853e5.56597c","type":"http in","z":"4012b344.00007c","name":"COMPLETE DEVICE","url":"/COMPLETE/DEVICE","method":"get","swaggerDoc":"","x":145,"y":863,"wires":[["1fc2776f.07e9f1"]]},{"id":"1fc2776f.07e9f1","type":"function","z":"4012b344.00007c","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":218,"y":812,"wires":[["3e3d9360.650204"]]},{"id":"3e3d9360.650204","type":"switch","z":"4012b344.00007c","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":324,"y":860,"wires":[["6f586997.4890f8"],["b9fb8c16.4f90d"]]},{"id":"4667b500.06dd2c","type":"http response","z":"4012b344.00007c","name":"RESPONSE INFO","x":678,"y":896,"wires":[]},{"id":"b9fb8c16.4f90d","type":"http response","z":"4012b344.00007c","name":"ERROR INFO","x":453,"y":906,"wires":[]},{"id":"f1f6bbbb.d9703","type":"function","z":"4012b344.00007c","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":603.9999694824219,"y":842.0000152587891,"wires":[["4667b500.06dd2c"]]},{"id":"320eca55.e3390e","type":"debug","z":"4012b344.00007c","name":"","active":true,"console":"false","complete":"payload","x":775.9545593261719,"y":808.2357940673828,"wires":[]}]
