DISPOSITIVOS2017IT
[{"id":"2d4b4b6b.286234","type":"neo4j","z":"ac21705c.a8377","name":"COMPLETE DEVICE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"match(device {code:{code}})-[:HAVE]->(object)-[:HAVE]->(action) return device,object,action","x":501.6666564941406,"y":2474,"wires":[["af7f9873.073728","386c3d1e.649262"]]},{"id":"62461e92.8055f","type":"http in","z":"ac21705c.a8377","name":"","url":"/LOAD/DEVICE","method":"get","swaggerDoc":"","x":130.66665649414062,"y":2594.000015258789,"wires":[["e5679996.ea05b8"]]},{"id":"e5679996.ea05b8","type":"function","z":"ac21705c.a8377","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":251.66665649414062,"y":2489,"wires":[["98d26c30.98e1a"]]},{"id":"98d26c30.98e1a","type":"switch","z":"ac21705c.a8377","name":"DECISION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":357.6666564941406,"y":2537,"wires":[["2d4b4b6b.286234"],["20f694e.95f1f6c"]]},{"id":"4a20594d.a18bf8","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":711.6666564941406,"y":2573,"wires":[]},{"id":"20f694e.95f1f6c","type":"http response","z":"ac21705c.a8377","name":"ERROR INFO","x":503.6666717529297,"y":2591.000015258789,"wires":[]},{"id":"af7f9873.073728","type":"function","z":"ac21705c.a8377","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":637.6666259765625,"y":2519.000015258789,"wires":[["4a20594d.a18bf8"]]},{"id":"386c3d1e.649262","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"payload","x":809.6212158203125,"y":2485.235794067383,"wires":[]},{"id":"65c7fdb7.fcd994","type":"http in","z":"ac21705c.a8377","name":"","url":"/LOAD/DEVICES","method":"get","swaggerDoc":"","x":148.6666717529297,"y":2702.000406265259,"wires":[["d57b9647.bfba58"]]},{"id":"d57b9647.bfba58","type":"neo4j","z":"ac21705c.a8377","name":"COMPLETE DEVICE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (device)-[:HAVE]->(object)-[:HAVE]->(action)return device,object,action","x":377.6667022705078,"y":2703.00048828125,"wires":[["a43ac377.1c07a"]]},{"id":"a43ac377.1c07a","type":"function","z":"ac21705c.a8377","name":"CREATE JSON","func":"var pay = msg.payload;\nobjects = {}\nfor(i in pay.data){\n        element = pay.data[i];\n        deviceID = element[0].code;\n        objects[deviceID]={}\n        objects[deviceID][deviceID] = element[0];\n        objects[deviceID][element[1].code] = element[1];\n        objects[deviceID][element[2].code] = element[2];\n}\nmsg.payload = objects;\nreturn msg;","outputs":1,"noerr":0,"x":574.6666221618652,"y":2703.000810623169,"wires":[["87f6faa3.0352f8","7fb3bdaa.0d1b34"]]},{"id":"7fb3bdaa.0d1b34","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"false","x":766.5000801086426,"y":2761.333659172058,"wires":[]},{"id":"87f6faa3.0352f8","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":766.6666717529297,"y":2646.0008087158203,"wires":[]},{"id":"1172820d.fbbb5e","type":"function","z":"ac21705c.a8377","name":"CREATE JSON","func":"var pay = msg.payload;\nobjects = {}\nfor(i in pay.data){\n        element = pay.data[i];\n        objects[i]={}\n        objects[i][element[0].code] = element[0];\n        objects[i][element[1].code] = element[1];\n        objects[i][element[2].code] = element[2];\n}\nmsg.payload = objects;\nreturn msg;","outputs":1,"noerr":0,"x":940.6666259765625,"y":2698,"wires":[[]]},{"id":"35004c6a.9a4b54","type":"http in","z":"ac21705c.a8377","name":"","url":"/LOAD/DEVICES1","method":"get","swaggerDoc":"","x":129.6666717529297,"y":2920.000201702118,"wires":[["814a7e3f.4c825"]]},{"id":"814a7e3f.4c825","type":"neo4j","z":"ac21705c.a8377","name":"GET ALL DEVICES","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (n:Device) RETURN n","x":343.6666946411133,"y":2920.0007514953613,"wires":[["e0178643.f9e728"]]},{"id":"8ba57180.d42cc","type":"split","z":"ac21705c.a8377","name":"","splt":"\\n","x":698.1666679382324,"y":2862.333667755127,"wires":[["154aa70b.4bf929","5c532a0b.2652d4"]]},{"id":"a4f11fb.2664be","type":"neo4j","z":"ac21705c.a8377","name":"GET LINKS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH(device {code:{devcode}})-[:HAVE]->(object) MATCH (object)-[:link]->(o1)-[:HAVE]->(a) return o1,a","x":1098.3337326049805,"y":2638.3354053497314,"wires":[[]]},{"id":"154aa70b.4bf929","type":"function","z":"ac21705c.a8377","name":"Obtain devcode","func":"var device = msg.payload;\nmsg.payload = {devcode:device.code};\nreturn msg;","outputs":1,"noerr":0,"x":877.1668853759766,"y":2859.6670112609863,"wires":[["340ae8c2.583138"]]},{"id":"e0178643.f9e728","type":"function","z":"ac21705c.a8377","name":"Obtain data","func":"msg.payload = msg.payload.data;\nmsg.topic = \"info\";\nreturn msg;","outputs":1,"noerr":0,"x":533.0001525878906,"y":2919.3335151672363,"wires":[["8ba57180.d42cc","a2a15ed3.1e527","27d727cb.2d7258"]]},{"id":"2c7de82e.9c0cd8","type":"join","z":"ac21705c.a8377","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":1366.1669616699219,"y":2859.0008125305176,"wires":[["27d727cb.2d7258"]]},{"id":"27d727cb.2d7258","type":"join","z":"ac21705c.a8377","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":1483.666904449463,"y":2909.3342475891113,"wires":[["eb9f4786.9898f8"]]},{"id":"340ae8c2.583138","type":"neo4j","z":"ac21705c.a8377","name":"GET LINKS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{devcode}})-[:HAVE]->(o) MATCH (o)-[:HAVE]->(a) MATCH (o)-[:link]->(o1)-[:HAVE]->(a1) return o1, a1, o, a","x":1056.5156631469727,"y":2861.000322341919,"wires":[["b68a428.defafc"]]},{"id":"b68a428.defafc","type":"function","z":"ac21705c.a8377","name":"Create links","func":"var data = msg.payload.data;\nvar links = {};\nfor(var i in data){\n    var element = data[i];\n    links[i]={};\n    links[i].objectA = element[2].code;\n    links[i].objectB = element[0].code;\n    links[i].nodeA = element[3].code;\n    links[i].nodeB = element[1].code;\n}\nmsg.payload = links;\nmsg.topic = \"links\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1221.5156860351562,"y":2860.7509937286377,"wires":[["2c7de82e.9c0cd8"]]},{"id":"8ec62866.7063a8","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":1843.7662258148193,"y":2909.7504177093506,"wires":[]},{"id":"5c532a0b.2652d4","type":"debug","z":"ac21705c.a8377","name":"","active":false,"console":"false","complete":"payload","x":870.765869140625,"y":2809.00044631958,"wires":[]},{"id":"61d9ebe8.dc48b4","type":"neo4j","z":"ac21705c.a8377","name":"GET INFO","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device)-[:HAVE]->(o:Object)-[:HAVE]->(a:Action) return d,o, a","x":902.2658348083496,"y":2984.250726699829,"wires":[["30d74434.21ea5c","ca7dbc4a.da8a8"]]},{"id":"30d74434.21ea5c","type":"function","z":"ac21705c.a8377","name":"GET DATA","func":"msg.payload = msg.payload.data;\nmsg.topic = \"objects\";\nreturn msg;","outputs":1,"noerr":0,"x":1068.2658424377441,"y":2987.250665664673,"wires":[["27d727cb.2d7258"]]},{"id":"ca7dbc4a.da8a8","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"payload","x":1053.765796661377,"y":3067.2502784729004,"wires":[]},{"id":"a2a15ed3.1e527","type":"function","z":"ac21705c.a8377","name":"Empty payload","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":720.0158157348633,"y":2980.250665664673,"wires":[["61d9ebe8.dc48b4"]]},{"id":"eb9f4786.9898f8","type":"function","z":"ac21705c.a8377","name":"Create json","func":"var info = msg.payload.info;\nvar objects = msg.payload.objects;\nvar links = msg.payload.links;\n\nvar objectsJSON = {} \n\nfor(var i in objects){\n    var array3 = objects[i];\n    var device = array3[0];\n    var obj = array3[1];\n    var action = array3[2];\n    if (objectsJSON[device.code] === undefined) {\n        objectsJSON[device.code] = device;\n    }\n    if (objectsJSON[device.code][\"objects\"] === undefined) {\n        objectsJSON[device.code][\"objects\"] = {};\n    }\n    objectsJSON[device.code][\"objects\"][obj.code] = obj;\n\n    if (objectsJSON[device.code][\"objects\"][obj.code][\"actions\"] === undefined) {\n        objectsJSON[device.code][\"objects\"][obj.code][\"actions\"] = {};\n    }\n    //objectsJSON[device.code][\"objects\"].push(obj);\n    objectsJSON[device.code][\"objects\"][obj.code][\"actions\"][action.code] = action;\n}\n\nfor(var j in info){\n    var device = info[j];\n    objectsJSON[device.code][\"links\"] = links[j];\n}\n\nmsg.payload = objectsJSON;\nreturn msg;\n","outputs":1,"noerr":0,"x":1648.666763305664,"y":2909.666675567627,"wires":[["8ec62866.7063a8"]]},{"id":"708019ee.273d58","type":"http in","z":"ac21705c.a8377","name":"","url":"/UPDATE/DEVICEON","method":"get","swaggerDoc":"","x":182.0000457763672,"y":3236.0005416870117,"wires":[["e3b8282.9903cd8"]]},{"id":"e3b8282.9903cd8","type":"function","z":"ac21705c.a8377","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || parameters.code === undefined\n|| parameters.ip === null || parameters.ip === undefined ||\nparameters.puerto === null || parameters.puerto === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":328.6667022705078,"y":3133.0002088546753,"wires":[["ab9ffa1f.f40038","2b496cac.6a23f4","f155655.8114098"]]},{"id":"ab9ffa1f.f40038","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":503.6666793823242,"y":3193.0002117156982,"wires":[[],["1df295e6.53ba1a"]]},{"id":"b972b440.e09618","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":1059.6667289733887,"y":3166.000289916992,"wires":[]},{"id":"1df295e6.53ba1a","type":"http response","z":"ac21705c.a8377","name":"ERROR INFO","x":690.6666641235352,"y":3194.0005378723145,"wires":[]},{"id":"96676991.103648","type":"function","z":"ac21705c.a8377","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":864.6667213439941,"y":3175.000534057617,"wires":[["b972b440.e09618","21961729.963b28"]]},{"id":"2b496cac.6a23f4","type":"neo4j","z":"ac21705c.a8377","name":"Modify Device","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} }) SET d.online = {online}, d.ip = {ip}, d.puerto = {puerto} RETURN d","x":681.1083908081055,"y":3132.333541870117,"wires":[["96676991.103648"]]},{"id":"21961729.963b28","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"payload","x":1029.6666717529297,"y":3229.0000228881836,"wires":[]},{"id":"f155655.8114098","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"payload","x":499.0000686645508,"y":3266.00021648407,"wires":[]}]
