OBJECT_PERSONALS_5:12:16.txt
[{"id":"f8e7bae3.ac6fe8","type":"http in","z":"1d10112.46dd2ef","name":"INFO OBJECT GRAPH","url":"/INFO/OBJECT/GRAPH","method":"get","swaggerDoc":"","x":105,"y":601,"wires":[["1668eeba.90c2c9"]]},{"id":"1668eeba.90c2c9","type":"function","z":"1d10112.46dd2ef","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":211,"y":552,"wires":[["f9a07778.c51188"]]},{"id":"f9a07778.c51188","type":"switch","z":"1d10112.46dd2ef","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":317,"y":600,"wires":[["5680bee6.304cd"],["427940d.b96c3c"]]},{"id":"6219a36f.284104","type":"http response","z":"1d10112.46dd2ef","name":"RESPONSE INFO","x":671,"y":636,"wires":[]},{"id":"427940d.b96c3c","type":"http response","z":"1d10112.46dd2ef","name":"ERROR INFO","x":446,"y":646,"wires":[]},{"id":"58df9cc9.68e944","type":"function","z":"1d10112.46dd2ef","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":638,"y":547,"wires":[["6219a36f.284104"]]},{"id":"5680bee6.304cd","type":"neo4j","z":"1d10112.46dd2ef","name":"OBJECT_D_A","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (object{code:{code}})-[:HAVE]->(action) MATCH (object{code:{code}})<-[:HAVE]-(device) RETURN  device,object,action","x":460,"y":539,"wires":[["58df9cc9.68e944"]]}]