OBJETOS.txt
[{"id":"f317c15f.0e7568","type":"http in","z":"1d10112.46dd2ef","name":"DELETE OBJECT","url":"/DELETE/OBJECT","method":"post","swaggerDoc":"","x":271.53697204589844,"y":380.2642059326172,"wires":[["192e193e.bf45ff"]]},{"id":"192e193e.bf45ff","type":"function","z":"1d10112.46dd2ef","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":397.53697204589844,"y":306.2642059326172,"wires":[["dbb27331.61e4b8"]]},{"id":"96be600c.f0fd2","type":"neo4j","z":"1d10112.46dd2ef","name":"DELETE NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device {code:{code} })\nOPTIONAL MATCH d-[r]-()\nDELETE d, r","x":660.5369720458984,"y":311.2642059326172,"wires":[["ee893371.8a2df"]]},{"id":"dbb27331.61e4b8","type":"switch","z":"1d10112.46dd2ef","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":520.5369873046875,"y":360.2642059326172,"wires":[["96be600c.f0fd2"],["f8644a18.47b428"]]},{"id":"824c4412.9de83","type":"http response","z":"1d10112.46dd2ef","name":"RESPONSE DELETE","x":896.5369720458984,"y":377.2642059326172,"wires":[]},{"id":"f8644a18.47b428","type":"http response","z":"1d10112.46dd2ef","name":"ERROR DELETE","x":669.5369873046875,"y":402.26422119140625,"wires":[]},{"id":"5cc6a133.94aa7","type":"http in","z":"1d10112.46dd2ef","name":"INFO OBJECT","url":"/INFO/OBJECT","method":"get","swaggerDoc":"","x":269.5369873046875,"y":517.2642211914062,"wires":[["504f8141.a3ff68"]]},{"id":"504f8141.a3ff68","type":"function","z":"1d10112.46dd2ef","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":362.5369873046875,"y":466.26422119140625,"wires":[["98b48567.58b4c"]]},{"id":"79b8adea.8945e4","type":"neo4j","z":"1d10112.46dd2ef","name":"INFO NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o:Object {code:{code} })\nRETURN o","x":589.5369873046875,"y":462.26422119140625,"wires":[["b639093b.3db61"]]},{"id":"98b48567.58b4c","type":"switch","z":"1d10112.46dd2ef","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":468.5369873046875,"y":514.2642211914062,"wires":[["79b8adea.8945e4"],["f82c85e2.b303a8"]]},{"id":"222be0bc.d0f738","type":"http response","z":"1d10112.46dd2ef","name":"RESPONSE INFO","x":870.5369873046875,"y":558.2642364501953,"wires":[]},{"id":"f82c85e2.b303a8","type":"http response","z":"1d10112.46dd2ef","name":"ERROR INFO","x":649.5369873046875,"y":560.2642364501953,"wires":[]},{"id":"b639093b.3db61","type":"function","z":"1d10112.46dd2ef","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":789.5369873046875,"y":461.26422119140625,"wires":[["222be0bc.d0f738"]]},{"id":"ee893371.8a2df","type":"function","z":"1d10112.46dd2ef","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":882.5369720458984,"y":311.2642059326172,"wires":[["824c4412.9de83"]]},{"id":"cb00367a.cea7f8","type":"http in","z":"1d10112.46dd2ef","name":"INFO OBJECT GRAPH","url":"/INFO/OBJECT/GRAPH","method":"get","swaggerDoc":"","x":283.50000762939453,"y":723.91761302948,"wires":[["a505a89b.7d0c9"]]},{"id":"a505a89b.7d0c9","type":"function","z":"1d10112.46dd2ef","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":419.5,"y":667.4176177978516,"wires":[["9ee5887d.a9c8b"]]},{"id":"9ee5887d.a9c8b","type":"switch","z":"1d10112.46dd2ef","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":525.5,"y":715.4176177978516,"wires":[["8935a78a.8ab75"],["cbdb1003.2c2da8"]]},{"id":"2a3050a2.624a2","type":"http response","z":"1d10112.46dd2ef","name":"RESPONSE INFO","x":879.5,"y":751.4176177978516,"wires":[]},{"id":"cbdb1003.2c2da8","type":"http response","z":"1d10112.46dd2ef","name":"ERROR INFO","x":654.5,"y":761.4176177978516,"wires":[]},{"id":"54ecdb08.610d94","type":"function","z":"1d10112.46dd2ef","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":846.5,"y":662.4176177978516,"wires":[["2a3050a2.624a2"]]},{"id":"8935a78a.8ab75","type":"neo4j","z":"1d10112.46dd2ef","name":"OBJECT_D_A","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (object{code:{code}})-[:HAVE]->(action) MATCH (object{code:{code}})<-[:HAVE]-(device) RETURN  device,object,action","x":668.5,"y":654.4176177978516,"wires":[["54ecdb08.610d94"]]},{"id":"a8e3af45.6917e","type":"http in","z":"1d10112.46dd2ef","name":"MODIFY OBJECT","url":"/MODIFY/OBJECT","method":"get","swaggerDoc":"","x":272.5,"y":885,"wires":[["64f2368f.b5f298"]]},{"id":"64f2368f.b5f298","type":"function","z":"1d10112.46dd2ef","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":355.5,"y":834,"wires":[["90c9f251.9c799"]]},{"id":"90c9f251.9c799","type":"switch","z":"1d10112.46dd2ef","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":465.49998474121094,"y":887,"wires":[["1c282e25.476eb2"],["f114a821.1da368"]]},{"id":"6eb17180.a6ea9","type":"http response","z":"1d10112.46dd2ef","name":"RESPONSE INFO","x":904.4999694824219,"y":926,"wires":[]},{"id":"f114a821.1da368","type":"http response","z":"1d10112.46dd2ef","name":"ERROR INFO","x":623.4999694824219,"y":941,"wires":[]},{"id":"d45e268c.324588","type":"function","z":"1d10112.46dd2ef","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":808.4999694824219,"y":842,"wires":[["6eb17180.a6ea9"]]},{"id":"1c282e25.476eb2","type":"neo4j","z":"1d10112.46dd2ef","name":"MODIFY OBJECT","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o:Object {code:{code} }) SET o.name = {name}, o.type = {type} RETURN o","x":631.25,"y":827.5,"wires":[["d45e268c.324588"]]},{"id":"812787aa.2be798","type":"http in","z":"1d10112.46dd2ef","name":"INFO OBJECTS BY DEVICE","url":"/INFO/OBJECTSBYDEVICE","method":"get","swaggerDoc":"","x":261.4285583496094,"y":1101.4285526275635,"wires":[["b5c7fa15.c1f828"]]},{"id":"b5c7fa15.c1f828","type":"function","z":"1d10112.46dd2ef","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":423.1428451538086,"y":1044.928593635559,"wires":[["7ca8aa81.91d9b4"]]},{"id":"7ca8aa81.91d9b4","type":"switch","z":"1d10112.46dd2ef","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":529.1428451538086,"y":1092.928593635559,"wires":[["52d3b1f7.aaa56"],["ce53226a.03ee3"]]},{"id":"7e19168d.c93048","type":"http response","z":"1d10112.46dd2ef","name":"RESPONSE INFO","x":883.1428451538086,"y":1128.928593635559,"wires":[]},{"id":"ce53226a.03ee3","type":"http response","z":"1d10112.46dd2ef","name":"ERROR INFO","x":658.1428451538086,"y":1138.928593635559,"wires":[]},{"id":"9ab48970.0c4958","type":"function","z":"1d10112.46dd2ef","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":850.1428451538086,"y":1039.928593635559,"wires":[["7e19168d.c93048"]]},{"id":"52d3b1f7.aaa56","type":"neo4j","z":"1d10112.46dd2ef","name":"OBJECTS_BY_DEVICE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (device{code:{code}})-[:HAVE]->(object) RETURN object","x":652.8571624755859,"y":1015.7142391204834,"wires":[["9ab48970.0c4958"]]},{"id":"b394cf9f.bbfc6","type":"http response","z":"1d10112.46dd2ef","name":"RESPONSE ADD","x":850.6751098632812,"y":166.66665649414062,"wires":[]},{"id":"c4d6cae6.a53fe8","type":"http in","z":"1d10112.46dd2ef","name":"ADD OBJECT","url":"/ADD/OBJECT","method":"get","swaggerDoc":"","x":246.6666259765625,"y":188.79733276367188,"wires":[["d8415e1c.01cf5"]]},{"id":"d8415e1c.01cf5","type":"function","z":"1d10112.46dd2ef","name":"Validate ADD","func":"var header = msg.req.query;\nvar code = header.code;\nvar nome = header.name;\nvar type = header.type;\nvar protoco = header.proto;\n\nvar map = {}\nmap.code=code;\nmap.nome=nome;\nmap.type=type;\nmap.protoco=protoco;\nif(code === undefined || nome === undefined || \n    code === null || nome === null ||\n    type === undefined || type === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":386.67230224609375,"y":135.71780395507812,"wires":[["bb9f2f24.f5c2c"]]},{"id":"bb9f2f24.f5c2c","type":"switch","z":"1d10112.46dd2ef","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":500.66375732421875,"y":193.97915649414062,"wires":[["9fdeaf2a.4980d"],["d23a4b3.f600eb8"]]},{"id":"d23a4b3.f600eb8","type":"http response","z":"1d10112.46dd2ef","name":"ERROR ADD","x":669.7120971679688,"y":214.56439208984375,"wires":[]},{"id":"9fdeaf2a.4980d","type":"neo4j","z":"1d10112.46dd2ef","name":"NEW NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"create (:Object {code : {code}, name : {nome}, protocol : {protoco}, type : {type}})","x":656.2417602539062,"y":123.28446960449219,"wires":[["b394cf9f.bbfc6"]]}]