OBJETOS.txt
[{"id":"372922b3.ab846e","type":"neo4j","z":"72da228b.2eb2ec","name":"NEW NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"CREATE(:Object {\n\tcode  : {code},\n\tname : {nome},\n\ttype : {type}\n})\n","x":764,"y":33.08238220214844,"wires":[[]]},{"id":"3e0348e.1ef6cb8","type":"http response","z":"72da228b.2eb2ec","name":"RESPONSE ADD","x":684,"y":97.9488525390625,"wires":[]},{"id":"6961fec2.7e13e","type":"http in","z":"72da228b.2eb2ec","name":"ADD OBJECT","url":"/ADD/OBJECT","method":"get","swaggerDoc":"","x":79.99151611328125,"y":120.07952880859375,"wires":[["41b83c44.947674"]]},{"id":"41b83c44.947674","type":"function","z":"72da228b.2eb2ec","name":"Validate ADD","func":"var header = msg.req.query;\nvar code = header.code;\nvar nome = header.name;\nvar type = header.type;\nvar protoco = header.proto;\n\nvar map = {}\nmap.code=code;\nmap.nome=nome;\nmap.type=type;\nmap.protoco=protoco;\nif(code === undefined || nome === undefined || \n    code === null || nome === null ||\n    type === undefined || type === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":219.9971923828125,"y":67,"wires":[["6a0c0536.1e40dc"]]},{"id":"6a0c0536.1e40dc","type":"switch","z":"72da228b.2eb2ec","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":333.9886474609375,"y":125.2613525390625,"wires":[["93cd5e4b.6bd358"],["57c66b3c.57a2c4"]]},{"id":"152e0fde.b53c5","type":"http in","z":"72da228b.2eb2ec","name":"DELETE OBJECT","url":"/DELETE/OBJECT","method":"post","swaggerDoc":"","x":98.03697204589844,"y":285.8465881347656,"wires":[["4f437a4b.9a7c74"]]},{"id":"4f437a4b.9a7c74","type":"function","z":"72da228b.2eb2ec","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":224.03697204589844,"y":211.84658813476562,"wires":[["f48eb41a.84c5c8"]]},{"id":"56ea5639.b456d8","type":"neo4j","z":"72da228b.2eb2ec","name":"DELETE NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device {code:{code} })\nOPTIONAL MATCH d-[r]-()\nDELETE d, r","x":487.03697204589844,"y":216.84658813476562,"wires":[["3bf47a9a.0aa8e6"]]},{"id":"f48eb41a.84c5c8","type":"switch","z":"72da228b.2eb2ec","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":347.0369873046875,"y":265.8465881347656,"wires":[["56ea5639.b456d8"],["c8f996ee.375d78"]]},{"id":"cd6e5fa4.3491d","type":"http response","z":"72da228b.2eb2ec","name":"RESPONSE DELETE","x":723.0369720458984,"y":282.8465881347656,"wires":[]},{"id":"c8f996ee.375d78","type":"http response","z":"72da228b.2eb2ec","name":"ERROR DELETE","x":496.0369873046875,"y":307.8466033935547,"wires":[]},{"id":"437f4d4f.da1714","type":"http in","z":"72da228b.2eb2ec","name":"INFO OBJECT","url":"/INFO/OBJECT","method":"get","swaggerDoc":"","x":96.0369873046875,"y":422.8466033935547,"wires":[["f6d3230c.059cc"]]},{"id":"f6d3230c.059cc","type":"function","z":"72da228b.2eb2ec","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":189.0369873046875,"y":371.8466033935547,"wires":[["72043610.cd46c8"]]},{"id":"54bc2ebc.131b","type":"neo4j","z":"72da228b.2eb2ec","name":"INFO NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o:Object {code:{code} })\nRETURN o","x":416.0369873046875,"y":367.8466033935547,"wires":[["6b31cccc.489944"]]},{"id":"72043610.cd46c8","type":"switch","z":"72da228b.2eb2ec","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":295.0369873046875,"y":419.8466033935547,"wires":[["54bc2ebc.131b"],["aefd7443.ba4368"]]},{"id":"beafccbd.915bd","type":"http response","z":"72da228b.2eb2ec","name":"RESPONSE INFO","x":697.0369873046875,"y":463.84661865234375,"wires":[]},{"id":"aefd7443.ba4368","type":"http response","z":"72da228b.2eb2ec","name":"ERROR INFO","x":476.0369873046875,"y":465.84661865234375,"wires":[]},{"id":"6b31cccc.489944","type":"function","z":"72da228b.2eb2ec","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":616.0369873046875,"y":366.8466033935547,"wires":[["beafccbd.915bd"]]},{"id":"57c66b3c.57a2c4","type":"http response","z":"72da228b.2eb2ec","name":"ERROR ADD","x":503.0369873046875,"y":145.84658813476562,"wires":[]},{"id":"3bf47a9a.0aa8e6","type":"function","z":"72da228b.2eb2ec","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":709.0369720458984,"y":216.84658813476562,"wires":[["cd6e5fa4.3491d"]]},{"id":"9dcb35b7.9d89c","type":"http in","z":"72da228b.2eb2ec","name":"INFO OBJECT GRAPH","url":"/INFO/OBJECT/GRAPH","method":"get","swaggerDoc":"","x":140,"y":622,"wires":[["7c64593c.6c9498"]]},{"id":"7c64593c.6c9498","type":"function","z":"72da228b.2eb2ec","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":246,"y":573,"wires":[["fa8b9e2e.49d2f8"]]},{"id":"fa8b9e2e.49d2f8","type":"switch","z":"72da228b.2eb2ec","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":352,"y":621,"wires":[["d70f44a8.77f2c"],["c61ca1f2.2d2ca8"]]},{"id":"d8ab2580.dd168","type":"http response","z":"72da228b.2eb2ec","name":"RESPONSE INFO","x":706,"y":657,"wires":[]},{"id":"c61ca1f2.2d2ca8","type":"http response","z":"72da228b.2eb2ec","name":"ERROR INFO","x":481,"y":667,"wires":[]},{"id":"a91ac5fd.dd2388","type":"function","z":"72da228b.2eb2ec","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":673,"y":568,"wires":[["d8ab2580.dd168"]]},{"id":"d70f44a8.77f2c","type":"neo4j","z":"72da228b.2eb2ec","name":"OBJECT_D_A","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (object{code:{code}})-[:HAVE]->(action) MATCH (object{code:{code}})<-[:HAVE]-(device) RETURN  device,object,action","x":495,"y":560,"wires":[["a91ac5fd.dd2388"]]},{"id":"93cd5e4b.6bd358","type":"neo4j","z":"72da228b.2eb2ec","name":"NEW NODE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"create (:Object {code : {code}, name : {nome}, protocol : {protoco}, type : {type}})","x":489.566650390625,"y":54.56666564941406,"wires":[["3e0348e.1ef6cb8"]]}]