ONLYOBJECTS_5:12:16.txt
[{"id":"3509816a.e0ecce","type":"neo4j","z":"bc9bf4a0.4820e","name":"ONLY OBJECTS","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (device{code:{code}})-[:HAVE]->(object)<-[:link]->(objects)RETURN  object, objects","x":472,"y":1015,"wires":[["fd66356c.7ab8b8"]]},{"id":"6258bdd9.1916a4","type":"http in","z":"bc9bf4a0.4820e","name":"DEVICE OBJECTS","url":"/DEVICE/OBJECTS","method":"get","swaggerDoc":"","x":101,"y":1108,"wires":[["dfce44fb.f13a58"]]},{"id":"dfce44fb.f13a58","type":"function","z":"bc9bf4a0.4820e","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":231,"y":1053,"wires":[["29a56a00.5351c6"]]},{"id":"29a56a00.5351c6","type":"switch","z":"bc9bf4a0.4820e","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":337,"y":1101,"wires":[["3509816a.e0ecce"],["3c0805a7.3e85aa"]]},{"id":"cd67ab24.14b95","type":"http response","z":"bc9bf4a0.4820e","name":"RESPONSE INFO","x":691,"y":1137,"wires":[]},{"id":"3c0805a7.3e85aa","type":"http response","z":"bc9bf4a0.4820e","name":"ERROR INFO","x":466,"y":1147,"wires":[]},{"id":"fd66356c.7ab8b8","type":"function","z":"bc9bf4a0.4820e","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":610.9999847412109,"y":1080,"wires":[["cd67ab24.14b95"]]},{"id":"f37ceba0.c7ded8","type":"debug","z":"bc9bf4a0.4820e","name":"","active":true,"console":"false","complete":"payload","x":788.9545593261719,"y":1049.2357940673828,"wires":[]},{"id":"670c0306.72622c","type":"neo4j","z":"bc9bf4a0.4820e","name":"ONLY_OBJECTS2","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (device{code:{code}})-->(object)<-->(objects)MATCH (objects)<-[:HAVE]->(personals)RETURN  device,object,objects,personals","x":679,"y":984,"wires":[[]]}]