RELACIONES.txt
[{"id":"33b641e0.e2c5ae","type":"http in","z":"5df761d.ab62aa","name":"LINK DO","url":"/LINK/DO","method":"get","swaggerDoc":"","x":156.66665649414062,"y":105.66666412353516,"wires":[["2e5bb8d0.bda428"]]},{"id":"6f7039a0.f24e38","type":"switch","z":"5df761d.ab62aa","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":358.6666564941406,"y":108.66666412353516,"wires":[["ad19f60e.459578"],["39f8ab4.353f754"]]},{"id":"544dcc47.4ef974","type":"switch","z":"5df761d.ab62aa","name":"DESICION2","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"REPETIDA","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":690.6666564941406,"y":171.66666412353516,"wires":[["c2f72ed1.e972c"],["39f8ab4.353f754"]]},{"id":"39f8ab4.353f754","type":"http response","z":"5df761d.ab62aa","name":"ERROR LINK","x":401.6665954589844,"y":203.66666412353516,"wires":[]},{"id":"ad19f60e.459578","type":"neo4j","z":"5df761d.ab62aa","name":"VERIFY","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (d:Device{code:{dev}})-[r]->(o:Object {code:{obj}})\nRETURN d,o\n","x":561.6666412353516,"y":99.66666412353516,"wires":[["c2ad5437.54a978"]]},{"id":"c2ad5437.54a978","type":"function","z":"5df761d.ab62aa","name":"SEARCH","func":"var pay = msg.payload;\nvar map = {};\nif(pay.data.length === 0){\n    map.dev=global.get('dev');\n    map.obj=global.get('obj');\n    msg.payload=map;\n}\nelse{\n    msg.statusCode = 404;\n    msg.payload=\"REPETIDA\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":528.6666412353516,"y":160.66666412353516,"wires":[["544dcc47.4ef974"]]},{"id":"2e5bb8d0.bda428","type":"function","z":"5df761d.ab62aa","name":"Validate LINK","func":"var header = msg.req.query;\nvar codeD = header.code1;\nvar codeO = header.code2;\nvar map = {};\nmap.dev=codeD;\nmap.obj=codeO;\nglobal.set('dev',codeD);\nglobal.set('obj',codeO);\nif(codeD === undefined || codeO === undefined || \n   codeD === null || codeO === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":193.66665649414062,"y":177.66666412353516,"wires":[["6f7039a0.f24e38","7abb75cb.fd12fc"]]},{"id":"c93c4c8d.620ea","type":"http response","z":"5df761d.ab62aa","name":"RESPONSE LINK DO","x":959.6666564941406,"y":155.66666412353516,"wires":[]},{"id":"6dea13cd.eff90c","type":"http in","z":"5df761d.ab62aa","name":"LINK OO","url":"/LINK/OO","method":"get","swaggerDoc":"","x":157.56248474121094,"y":262.55554962158203,"wires":[["b0863bc8.0e50f8"]]},{"id":"b0863bc8.0e50f8","type":"function","z":"5df761d.ab62aa","name":"Validate LINK","func":"var header = msg.req.query;\n//var header = msg.req.headers;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj1=code1;\nmap.obj2=code2;\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":193.56248474121094,"y":348.55554962158203,"wires":[["8eb0be93.70038","d5861ac5.12a4b8"]]},{"id":"8eb0be93.70038","type":"switch","z":"5df761d.ab62aa","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":352.56243896484375,"y":309.55554962158203,"wires":[["453f53fd.554f7c"],["3f2456fa.b2f9aa"]]},{"id":"3f2456fa.b2f9aa","type":"http response","z":"5df761d.ab62aa","name":"ERROR LINK","x":632.5624084472656,"y":381.55554962158203,"wires":[]},{"id":"8a148d4b.9f509","type":"http response","z":"5df761d.ab62aa","name":"RESPONSE","x":1047.5000305175781,"y":371.9896011352539,"wires":[]},{"id":"51f0e6b4.1878e8","type":"http in","z":"5df761d.ab62aa","name":"LINK OA","url":"/LINK/OA","method":"get","swaggerDoc":"","x":132.66665649414062,"y":487.66666412353516,"wires":[["575c1e78.5d1a5"]]},{"id":"575c1e78.5d1a5","type":"function","z":"5df761d.ab62aa","name":"Validate LINK","func":"var header = msg.req.query;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj=code1;\nmap.act=code2;\nglobal.set('obj',code1);\nglobal.set('act',code2);\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":235.66665649414062,"y":542.6666641235352,"wires":[["79070af2.8e5c94"]]},{"id":"79070af2.8e5c94","type":"switch","z":"5df761d.ab62aa","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":375.6666564941406,"y":461.66666412353516,"wires":[["71de0f02.d1762"],["6490e959.9ff0c8"]]},{"id":"6490e959.9ff0c8","type":"http response","z":"5df761d.ab62aa","name":"ERROR LINK","x":434.6666259765625,"y":566.6666641235352,"wires":[]},{"id":"71de0f02.d1762","type":"neo4j","z":"5df761d.ab62aa","name":"VERIFY","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action {code:{act}})\nRETURN o,a\n","x":553.6666564941406,"y":457.66666412353516,"wires":[["d33251af.0f618"]]},{"id":"d33251af.0f618","type":"function","z":"5df761d.ab62aa","name":"SEARCH","func":"var pay = msg.payload;\nvar map = {};\nif(pay.data.length === 0){\n    map.obj=global.get('obj');\n    map.act=global.get('act');\n    msg.payload=map;\n}\nelse{\n    msg.statusCode = 404;\n    msg.payload=\"REPETIDA\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":535.6666564941406,"y":505.66666412353516,"wires":[["cebb725d.aed19"]]},{"id":"cebb725d.aed19","type":"switch","z":"5df761d.ab62aa","name":"DESICION2","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"REPETIDA","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":699.6666564941406,"y":623.6666641235352,"wires":[["e3212c02.9e6c2"],["6490e959.9ff0c8"]]},{"id":"4e7d5f5.5933fa","type":"http response","z":"5df761d.ab62aa","name":"RESPONSE LINK DO","x":917.6666564941406,"y":537.6666641235352,"wires":[]},{"id":"d5861ac5.12a4b8","type":"debug","z":"5df761d.ab62aa","name":"","active":true,"console":"false","complete":"payload","x":224.66665649414062,"y":412.66666412353516,"wires":[]},{"id":"453f53fd.554f7c","type":"neo4j","z":"5df761d.ab62aa","name":"LINK SC","url":"http://neo4j:integradora@200.126.23.138:7474","query":"match(a:Object{code:{obj1}}),(b:Object{code:{obj2}}) MERGE (a)-[r:link]->(b) return r","x":573.4166564941406,"y":289.41666412353516,"wires":[["66e4c297.f5e5dc"]]},{"id":"66e4c297.f5e5dc","type":"function","z":"5df761d.ab62aa","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":751.4166564941406,"y":296.41666412353516,"wires":[["8a148d4b.9f509"]]},{"id":"7abb75cb.fd12fc","type":"debug","z":"5df761d.ab62aa","name":"","active":true,"console":"false","complete":"false","x":318.9833221435547,"y":63.199989318847656,"wires":[]},{"id":"e1df5085.ee0e6","type":"debug","z":"5df761d.ab62aa","name":"","active":true,"console":"false","complete":"false","x":836.9833068847656,"y":231.20000457763672,"wires":[]},{"id":"c2f72ed1.e972c","type":"neo4j","z":"5df761d.ab62aa","name":"LINK SC","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (d:Device{code:{dev}}),(o:Object{code:{obj}}) MERGE (d)-[r:HAVE]->(o) RETURN r","x":804.2333068847656,"y":77.23332977294922,"wires":[["c93c4c8d.620ea"]]},{"id":"e3212c02.9e6c2","type":"neo4j","z":"5df761d.ab62aa","name":"LINK SC","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}),(a:Action{code:{act}}) MERGE (o)-[r:HAVE]->(a) RETURN r","x":765.2333068847656,"y":480.23331451416016,"wires":[["4e7d5f5.5933fa"]]},{"id":"ff7849d.12c9cb8","type":"http in","z":"5df761d.ab62aa","name":"LINK DELETE","url":"/LINK/DELETE","method":"get","swaggerDoc":"","x":212.2333221435547,"y":715.8333511352539,"wires":[["24cd7dd9.ab5bd2"]]},{"id":"24cd7dd9.ab5bd2","type":"function","z":"5df761d.ab62aa","name":"Validate LINK","func":"var header = msg.req.query;\n//var header = msg.req.headers;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj1=code1;\nmap.obj2=code2;\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":228.2333221435547,"y":801.8333511352539,"wires":[["c25b8819.f01638","86906bf3.767878"]]},{"id":"c25b8819.f01638","type":"switch","z":"5df761d.ab62aa","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":387.2332763671875,"y":762.8333511352539,"wires":[["5cbbc82f.077718"],["9b09625.c41dfa"]]},{"id":"9b09625.c41dfa","type":"http response","z":"5df761d.ab62aa","name":"ERROR LINK","x":667.2332458496094,"y":834.8333511352539,"wires":[]},{"id":"962cdd28.6f3fa","type":"http response","z":"5df761d.ab62aa","name":"RESPONSE","x":1082.1708679199219,"y":825.2674026489258,"wires":[]},{"id":"86906bf3.767878","type":"debug","z":"5df761d.ab62aa","name":"","active":true,"console":"false","complete":"payload","x":259.3374938964844,"y":865.944465637207,"wires":[]},{"id":"fb4ae61b.e7d948","type":"function","z":"5df761d.ab62aa","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.payload=\"se elimino\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":786.0874938964844,"y":749.694465637207,"wires":[["962cdd28.6f3fa"]]},{"id":"5cbbc82f.077718","type":"neo4j","z":"5df761d.ab62aa","name":"DELTE","url":"http://neo4j:integradora@200.126.23.138:7474","query":"match(a:Object{code:{obj1}})-[r]->(b:Object{code:{obj2}}) delete r","x":585.2333068847656,"y":718.7333145141602,"wires":[["fb4ae61b.e7d948"]]}]