RELACIONES
[{"id":"78ab183e.812b38","type":"http in","z":"5ac02b3.66594d4","name":"LINK DO","url":"/LINK/DO","method":"post","swaggerDoc":"","x":89,"y":75,"wires":[["4094d56f.3c0ccc"]]},{"id":"235ee2df.e799ce","type":"switch","z":"5ac02b3.66594d4","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":291,"y":78,"wires":[["f2a5e551.346c28"],["63b6ceeb.e8585"]]},{"id":"bb1a4b8.ee8e8b8","type":"switch","z":"5ac02b3.66594d4","name":"DESICION2","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"REPETIDA","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":622,"y":146,"wires":[["cc5c48e0.b94df8"],["63b6ceeb.e8585"]]},{"id":"63b6ceeb.e8585","type":"http response","z":"5ac02b3.66594d4","name":"ERROR LINK","x":333.99993896484375,"y":173,"wires":[]},{"id":"f2a5e551.346c28","type":"neo4j","z":"5ac02b3.66594d4","name":"VERIFY","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device{code:{dev}})-[r]->(o:Object {code:{obj}})\nRETURN d,o\n","x":493.99998474121094,"y":69,"wires":[["170ddd34.84bcb3"]]},{"id":"170ddd34.84bcb3","type":"function","z":"5ac02b3.66594d4","name":"SEARCH","func":"var pay = msg.payload;\nvar map = {};\nif(pay.data.length === 0){\n    map.dev=global.get('dev');\n    map.obj=global.get('obj');\n    msg.payload=map;\n}\nelse{\n    msg.statusCode = 404;\n    msg.payload=\"REPETIDA\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":460.99998474121094,"y":130,"wires":[["bb1a4b8.ee8e8b8"]]},{"id":"4094d56f.3c0ccc","type":"function","z":"5ac02b3.66594d4","name":"Validate LINK","func":"var header = msg.req.headers;\nvar codeD = header.coded;\nvar codeO = header.codeo;\nvar map = {};\nmap.dev=codeD;\nmap.obj=codeO;\nglobal.set('dev',codeD);\nglobal.set('obj',codeO);\nif(codeD === undefined || codeO === undefined || \n   codeD === null || codeO === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":126,"y":147,"wires":[["235ee2df.e799ce"]]},{"id":"9bc55d26.62626","type":"http response","z":"5ac02b3.66594d4","name":"RESPONSE LINK DO","x":829.9999847412109,"y":116,"wires":[]},{"id":"cc5c48e0.b94df8","type":"neo4j","z":"5ac02b3.66594d4","name":"LINK SC","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device{code:{dev}}),(o:Object{code:{obj}}) \nCREATE (d)-[r:Have]->(o) \nRETURN r","x":694,"y":62,"wires":[["9bc55d26.62626"]]},{"id":"6e21d6a9.7eb058","type":"http in","z":"5ac02b3.66594d4","name":"LINK OO","url":"/LINK/OO","method":"get","swaggerDoc":"","x":89.89582824707031,"y":231.88888549804688,"wires":[["99da2c34.36ac5"]]},{"id":"99da2c34.36ac5","type":"function","z":"5ac02b3.66594d4","name":"Validate LINK","func":"var header = msg.req.query;\n//var header = msg.req.headers;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj1=code1;\nmap.obj2=code2;\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":125.89582824707031,"y":317.8888854980469,"wires":[["bdab0f28.31053","64cf3cd0.e7be0c"]]},{"id":"bdab0f28.31053","type":"switch","z":"5ac02b3.66594d4","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":284.8957824707031,"y":278.8888854980469,"wires":[["b0fdd070.7d7158"],["91e52e35.2b866"]]},{"id":"91e52e35.2b866","type":"http response","z":"5ac02b3.66594d4","name":"ERROR LINK","x":564.895751953125,"y":350.8888854980469,"wires":[]},{"id":"47b5a450.8887cc","type":"http response","z":"5ac02b3.66594d4","name":"RESPONSE","x":986.8333740234375,"y":383.32293701171875,"wires":[]},{"id":"5bbcf8ac.857fc8","type":"neo4j","z":"5ac02b3.66594d4","name":"LINK SC","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o1:Object{code:{obj1}}),(o2:Object{code:{obj2}}) \nCREATE (o1)-[r:link]->(o2) \nRETURN r","x":1049.895751953125,"y":220.88888549804688,"wires":[[]]},{"id":"df2b8e4b.95378","type":"http in","z":"5ac02b3.66594d4","name":"LINK OA","url":"/LINK/OA","method":"post","swaggerDoc":"","x":65,"y":457,"wires":[["7b1d7c14.f28114"]]},{"id":"7b1d7c14.f28114","type":"function","z":"5ac02b3.66594d4","name":"Validate LINK","func":"var header = msg.req.headers;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj=code1;\nmap.act=code2;\nglobal.set('obj',code1);\nglobal.set('act',code2);\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":168,"y":512,"wires":[["44f7f049.4408d"]]},{"id":"44f7f049.4408d","type":"switch","z":"5ac02b3.66594d4","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":308,"y":431,"wires":[["692bae61.1f06e"],["5d11c921.45f9d8"]]},{"id":"5d11c921.45f9d8","type":"http response","z":"5ac02b3.66594d4","name":"ERROR LINK","x":366.9999694824219,"y":536,"wires":[]},{"id":"692bae61.1f06e","type":"neo4j","z":"5ac02b3.66594d4","name":"VERIFY","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action {code:{act}})\nRETURN o,a\n","x":486,"y":427,"wires":[["b84d594d.aea488"]]},{"id":"b84d594d.aea488","type":"function","z":"5ac02b3.66594d4","name":"SEARCH","func":"var pay = msg.payload;\nvar map = {};\nif(pay.data.length === 0){\n    map.obj=global.get('obj');\n    map.act=global.get('act');\n    msg.payload=map;\n}\nelse{\n    msg.statusCode = 404;\n    msg.payload=\"REPETIDA\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":475,"wires":[["6918adb6.ac50a4"]]},{"id":"6918adb6.ac50a4","type":"switch","z":"5ac02b3.66594d4","name":"DESICION2","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"REPETIDA","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":607,"y":524,"wires":[["cca52dc5.4c959"],["5d11c921.45f9d8"]]},{"id":"cca52dc5.4c959","type":"neo4j","z":"5ac02b3.66594d4","name":"LINK SC","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o:Object{code:{obj}}),(a:Action{code:{act}}) \nCREATE (o)-[r:Have]->(a) \nRETURN r","x":674,"y":415,"wires":[["391cdb9b.edce34"]]},{"id":"391cdb9b.edce34","type":"http response","z":"5ac02b3.66594d4","name":"RESPONSE LINK DO","x":704,"y":472,"wires":[]},{"id":"64cf3cd0.e7be0c","type":"debug","z":"5ac02b3.66594d4","name":"","active":true,"console":"false","complete":"payload","x":157,"y":382,"wires":[]},{"id":"b0fdd070.7d7158","type":"neo4j","z":"5ac02b3.66594d4","name":"LINK SC","url":"http://neo4j:integradora@127.0.0.1:7474","query":"match(a:Object{code:{obj1}}),(b:Object{code:{obj2}}) MERGE (a)-[r:link]->(b) return r","x":505.75,"y":258.75,"wires":[["9db1ddc.395da2"]]},{"id":"9db1ddc.395da2","type":"function","z":"5ac02b3.66594d4","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":683.75,"y":265.75,"wires":[["47b5a450.8887cc"]]}]
