RELACIONES
[{"id":"dad91a91.14c138","type":"http in","z":"ba21da1b.007e88","name":"LINK DO","url":"/LINK/DO","method":"get","swaggerDoc":"","x":89,"y":75,"wires":[["de1d006f.95c97"]]},{"id":"fa37874c.41e968","type":"switch","z":"ba21da1b.007e88","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":291,"y":78,"wires":[["14f0c045.f7f34"],["e571091d.0866e8"]]},{"id":"6a909567.4d02dc","type":"switch","z":"ba21da1b.007e88","name":"DESICION2","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"REPETIDA","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":623,"y":141,"wires":[["4d98150a.c3c50c"],["e571091d.0866e8"]]},{"id":"e571091d.0866e8","type":"http response","z":"ba21da1b.007e88","name":"ERROR LINK","x":333.99993896484375,"y":173,"wires":[]},{"id":"14f0c045.f7f34","type":"neo4j","z":"ba21da1b.007e88","name":"VERIFY","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device{code:{dev}})-[r]->(o:Object {code:{obj}})\nRETURN d,o\n","x":493.99998474121094,"y":69,"wires":[["49d9fc3d.2d9bc4"]]},{"id":"49d9fc3d.2d9bc4","type":"function","z":"ba21da1b.007e88","name":"SEARCH","func":"var pay = msg.payload;\nvar map = {};\nif(pay.data.length === 0){\n    map.dev=global.get('dev');\n    map.obj=global.get('obj');\n    msg.payload=map;\n}\nelse{\n    msg.statusCode = 404;\n    msg.payload=\"REPETIDA\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":460.99998474121094,"y":130,"wires":[["6a909567.4d02dc"]]},{"id":"de1d006f.95c97","type":"function","z":"ba21da1b.007e88","name":"Validate LINK","func":"var header = msg.req.query;\nvar codeD = header.code1;\nvar codeO = header.code2;\nvar map = {};\nmap.dev=codeD;\nmap.obj=codeO;\nglobal.set('dev',codeD);\nglobal.set('obj',codeO);\nif(codeD === undefined || codeO === undefined || \n   codeD === null || codeO === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":126,"y":147,"wires":[["fa37874c.41e968","dc43e5c1.5d2c88"]]},{"id":"65cf87cf.dc3d78","type":"http response","z":"ba21da1b.007e88","name":"RESPONSE LINK DO","x":892,"y":125,"wires":[]},{"id":"837b5402.1ffbd8","type":"neo4j","z":"ba21da1b.007e88","name":"LINK SC","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device{code:{dev}}),(o:Object{code:{obj}}) \nCREATE (d)-[r:Have]->(o) \nRETURN r","x":949,"y":40,"wires":[[]]},{"id":"6aa8d5ab.2be20c","type":"http in","z":"ba21da1b.007e88","name":"LINK OO","url":"/LINK/OO","method":"get","swaggerDoc":"","x":89.89582824707031,"y":231.88888549804688,"wires":[["2b30f6b6.2af4aa"]]},{"id":"2b30f6b6.2af4aa","type":"function","z":"ba21da1b.007e88","name":"Validate LINK","func":"var header = msg.req.query;\n//var header = msg.req.headers;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj1=code1;\nmap.obj2=code2;\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":125.89582824707031,"y":317.8888854980469,"wires":[["8c3478a5.5488b8","6aab0483.c4107c"]]},{"id":"8c3478a5.5488b8","type":"switch","z":"ba21da1b.007e88","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":284.8957824707031,"y":278.8888854980469,"wires":[["ccef163f.b46ef8"],["ceba3369.1e294"]]},{"id":"ceba3369.1e294","type":"http response","z":"ba21da1b.007e88","name":"ERROR LINK","x":564.895751953125,"y":350.8888854980469,"wires":[]},{"id":"15f0b556.f0acab","type":"http response","z":"ba21da1b.007e88","name":"RESPONSE","x":979.8333740234375,"y":341.32293701171875,"wires":[]},{"id":"fa5dbc36.2cbe4","type":"neo4j","z":"ba21da1b.007e88","name":"LINK SC","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o1:Object{code:{obj1}}),(o2:Object{code:{obj2}}) \nCREATE (o1)-[r:link]->(o2) \nRETURN r","x":1049.895751953125,"y":220.88888549804688,"wires":[[]]},{"id":"ed93c7ed.9ee218","type":"http in","z":"ba21da1b.007e88","name":"LINK OA","url":"/LINK/OA","method":"get","swaggerDoc":"","x":65,"y":457,"wires":[["3264b97d.d48be6"]]},{"id":"3264b97d.d48be6","type":"function","z":"ba21da1b.007e88","name":"Validate LINK","func":"var header = msg.req.query;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj=code1;\nmap.act=code2;\nglobal.set('obj',code1);\nglobal.set('act',code2);\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":168,"y":512,"wires":[["488383f4.b84f1c"]]},{"id":"488383f4.b84f1c","type":"switch","z":"ba21da1b.007e88","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":308,"y":431,"wires":[["e2a1fee.1673c"],["4ee91473.545e9c"]]},{"id":"4ee91473.545e9c","type":"http response","z":"ba21da1b.007e88","name":"ERROR LINK","x":366.9999694824219,"y":536,"wires":[]},{"id":"e2a1fee.1673c","type":"neo4j","z":"ba21da1b.007e88","name":"VERIFY","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action {code:{act}})\nRETURN o,a\n","x":486,"y":427,"wires":[["810d2083.88fe"]]},{"id":"810d2083.88fe","type":"function","z":"ba21da1b.007e88","name":"SEARCH","func":"var pay = msg.payload;\nvar map = {};\nif(pay.data.length === 0){\n    map.obj=global.get('obj');\n    map.act=global.get('act');\n    msg.payload=map;\n}\nelse{\n    msg.statusCode = 404;\n    msg.payload=\"REPETIDA\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":475,"wires":[["cf9cb754.a4ab08"]]},{"id":"cf9cb754.a4ab08","type":"switch","z":"ba21da1b.007e88","name":"DESICION2","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"REPETIDA","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":632,"y":593,"wires":[["ccc42c0.0f42bd8"],["4ee91473.545e9c"]]},{"id":"8165d868.3f1f18","type":"http response","z":"ba21da1b.007e88","name":"RESPONSE LINK DO","x":850,"y":507,"wires":[]},{"id":"6aab0483.c4107c","type":"debug","z":"ba21da1b.007e88","name":"","active":true,"console":"false","complete":"payload","x":157,"y":382,"wires":[]},{"id":"ccef163f.b46ef8","type":"neo4j","z":"ba21da1b.007e88","name":"LINK SC","url":"http://neo4j:integradora@127.0.0.1:7474","query":"match(a:Object{code:{obj1}}),(b:Object{code:{obj2}}) MERGE (a)-[r:link]->(b) return r","x":505.75,"y":258.75,"wires":[["89f03e37.8ba97"]]},{"id":"89f03e37.8ba97","type":"function","z":"ba21da1b.007e88","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":683.75,"y":265.75,"wires":[["15f0b556.f0acab"]]},{"id":"dc43e5c1.5d2c88","type":"debug","z":"ba21da1b.007e88","name":"","active":true,"console":"false","complete":"false","x":251.31666564941406,"y":32.5333251953125,"wires":[]},{"id":"a6196c38.0fc64","type":"debug","z":"ba21da1b.007e88","name":"","active":true,"console":"false","complete":"false","x":769.316650390625,"y":200.53334045410156,"wires":[]},{"id":"4d98150a.c3c50c","type":"neo4j","z":"ba21da1b.007e88","name":"LINK SC","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device{code:{dev}}),(o:Object{code:{obj}}) MERGE (d)-[r:HAVE]->(o) RETURN r","x":736.566650390625,"y":46.56666564941406,"wires":[["65cf87cf.dc3d78"]]},{"id":"ccc42c0.0f42bd8","type":"neo4j","z":"ba21da1b.007e88","name":"LINK SC","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o:Object{code:{obj}}),(a:Action{code:{act}}) MERGE (o)-[r:HAVE]->(a) RETURN r","x":697.566650390625,"y":449.566650390625,"wires":[["8165d868.3f1f18"]]},{"id":"d354d22e.52183","type":"http in","z":"ba21da1b.007e88","name":"LINK DELETE","url":"/LINK/DELETE","method":"get","swaggerDoc":"","x":144.56666564941406,"y":685.1666870117188,"wires":[["fa304c67.2f547"]]},{"id":"fa304c67.2f547","type":"function","z":"ba21da1b.007e88","name":"Validate LINK","func":"var header = msg.req.query;\n//var header = msg.req.headers;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj1=code1;\nmap.obj2=code2;\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":160.56666564941406,"y":771.1666870117188,"wires":[["7b255c0f.f18e24","ae01f2d6.605de"]]},{"id":"7b255c0f.f18e24","type":"switch","z":"ba21da1b.007e88","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":319.5666198730469,"y":732.1666870117188,"wires":[["8c735e34.056a6"],["d42bde5d.fb2d5"]]},{"id":"d42bde5d.fb2d5","type":"http response","z":"ba21da1b.007e88","name":"ERROR LINK","x":599.5665893554688,"y":804.1666870117188,"wires":[]},{"id":"1110a36c.ce03cd","type":"http response","z":"ba21da1b.007e88","name":"RESPONSE","x":1014.5042114257812,"y":794.6007385253906,"wires":[]},{"id":"ae01f2d6.605de","type":"debug","z":"ba21da1b.007e88","name":"","active":true,"console":"false","complete":"payload","x":191.67083740234375,"y":835.2778015136719,"wires":[]},{"id":"18d9caf6.12ad75","type":"function","z":"ba21da1b.007e88","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.payload=\"se elimino\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":718.4208374023438,"y":719.0278015136719,"wires":[["1110a36c.ce03cd"]]},{"id":"8c735e34.056a6","type":"neo4j","z":"ba21da1b.007e88","name":"DELTE","url":"http://neo4j:integradora@127.0.0.1:7474","query":"match(a:Object{code:{obj1}})-[r]->(b:Object{code:{obj2}}) delete r","x":517.566650390625,"y":688.066650390625,"wires":[["18d9caf6.12ad75"]]}]