adrian-new/conexiones
[{"id":"58273a60.06d1a4","type":"http in","z":"250b0e38.132c42","name":"MODIFY ACTION","url":"/MODIFY/ACTION","method":"get","swaggerDoc":"","x":99,"y":53,"wires":[["543cadc3.b47fa4"]]},{"id":"543cadc3.b47fa4","type":"function","z":"250b0e38.132c42","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.length < 2){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":124,"y":149,"wires":[["a68bda4f.ad2a38"]]},{"id":"239f43b3.a842dc","type":"neo4j","z":"250b0e38.132c42","name":"VERIFY NODES","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device { ip: {ip} })-[r]->(o:Object)\nRETURN d,o","x":339,"y":63,"wires":[["8af0b5c.a2cbf48"]]},{"id":"a68bda4f.ad2a38","type":"switch","z":"250b0e38.132c42","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":116,"y":224,"wires":[["239f43b3.a842dc"],["1b8d3f33.626131"]]},{"id":"1b8d3f33.626131","type":"http response","z":"250b0e38.132c42","name":"ERROR MODIFY","x":220,"y":294,"wires":[]},{"id":"8af0b5c.a2cbf48","type":"function","z":"250b0e38.132c42","name":"SEARCH","func":"var pay = msg.payload;\nvar map={};\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nelse{\n    map.obj=pay.data[0][1].code;\n    msg.payload = map;\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":129,"wires":[["2ca2e97f.ca5b76"]]},{"id":"2ca2e97f.ca5b76","type":"switch","z":"250b0e38.132c42","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":340.99998474121094,"y":204,"wires":[["7b47f234.01b8ac"],["1b8d3f33.626131"]]},{"id":"7b47f234.01b8ac","type":"neo4j","z":"250b0e38.132c42","name":"VERIFY ACTION","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action)\nRETURN a,o","x":570,"y":78,"wires":[["d7b28cd1.9ef12"]]},{"id":"d7b28cd1.9ef12","type":"function","z":"250b0e38.132c42","name":"CHANGE ACTION","func":"var pay=msg.payload;\nvar object=pay.data[0][1];\nvar action=pay.data[0][0];\nvar map={};\nif(action.Status === \"OFF\")\n    action.Status=\"ON\";\nelse\n    action.Status=\"OFF\";\nglobal.set('value',action.Status);\nmap.obj=object.code;\nmap.stat=action.Status;\nmap.act=action.code;\nmsg.payload=map;\nreturn msg;","outputs":1,"noerr":0,"x":583,"y":147,"wires":[["1192179b.ee20c8"]]},{"id":"1192179b.ee20c8","type":"neo4j","z":"250b0e38.132c42","name":"VERIFY ACTION","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH ((o:Object{code:{obj}})-[r:link]->(o1:Object))\nMATCH ((o1:Object)-[r]->(a1:Action)),(a:Action { code: {act} })\nSET a.Status = {stat}\nSET a1.Status = {stat} \nRETURN o1","x":590.9999847412109,"y":196,"wires":[["e5d67d05.dbb89"]]},{"id":"765cdf8a.b05c8","type":"function","z":"250b0e38.132c42","name":"RECORRIDO","func":"var TAM=global.get('tam');\nvar i=global.get('i');\nvar pay=global.get('pay');\nmsg.payload=pay.data[i];\nreturn msg","outputs":"1","noerr":0,"x":535.9999694824219,"y":316.99999237060547,"wires":[["c7e4c0eb.79edc"]]},{"id":"c7e4c0eb.79edc","type":"switch","z":"250b0e38.132c42","name":"PROTOCOL","property":"payload.protocol","propertyType":"msg","rules":[{"t":"eq","v":"TCP","vt":"str"},{"t":"eq","v":"MQTT","vt":"str"},{"t":"eq","v":"HTTP","vt":"str"}],"checkall":"true","outputs":3,"x":127,"y":405,"wires":[["7705dcdb.1bf8d4"],[],[]]},{"id":"75339c3f.e3efa4","type":"function","z":"250b0e38.132c42","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar ip=pay.data[0].ip;\nvar value=global.get('value');\nmsg.host=ip;\nmsg.port=8090;\nmsg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\nvar j=global.get('i');\nglobal.set('i',j+1);\nreturn msg;","outputs":1,"noerr":0,"x":580.9999694824219,"y":467.0000228881836,"wires":[["f610234e.0539c","6b03cdbd.aab794"]]},{"id":"f610234e.0539c","type":"tcp request","z":"250b0e38.132c42","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":727.9999694824219,"y":405.99999237060547,"wires":[["c26e9376.b30fc"]]},{"id":"87276cf.33ee59","type":"neo4j","z":"250b0e38.132c42","name":"VERIFY ACTION","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (d:Device)-[r]->(o:Object{code:{code}})\nRETURN d","x":406.89573669433594,"y":410.8888854980469,"wires":[["75339c3f.e3efa4"]]},{"id":"7705dcdb.1bf8d4","type":"function","z":"250b0e38.132c42","name":"TO MSG.PAYLOAD","func":"var map={};\nmap.code=msg.payload.code;\nmsg.payload=map\nreturn msg;","outputs":1,"noerr":0,"x":305.82981872558594,"y":500.6632080078125,"wires":[["87276cf.33ee59"]]},{"id":"f46600d0.576c3","type":"debug","z":"250b0e38.132c42","name":"","active":true,"console":"false","complete":"true","x":1066.8333435058594,"y":404.9132308959961,"wires":[]},{"id":"e5d67d05.dbb89","type":"function","z":"250b0e38.132c42","name":"GLOBAL INFORMATION","func":"var pay2= msg.payload;\nglobal.set('i',0);\nglobal.set('tam',pay2.data.length);\nglobal.set('pay',pay2);\nreturn msg;","outputs":1,"noerr":0,"x":590.8367614746094,"y":243.5486068725586,"wires":[["765cdf8a.b05c8"]]},{"id":"7492ff0e.3f964","type":"switch","z":"250b0e38.132c42","name":"","property":"fin","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":936.4999694824219,"y":283.33333587646484,"wires":[["765cdf8a.b05c8"],["f46600d0.576c3"]]},{"id":"c26e9376.b30fc","type":"function","z":"250b0e38.132c42","name":"","func":"var i=global.get('i');\nvar tam=global.get('tam');\nif(i==tam)\n    msg.fin=0;\nelse\n    msg.fin=1;\nreturn msg;","outputs":1,"noerr":0,"x":859.4999694824219,"y":363.6666488647461,"wires":[["7492ff0e.3f964"]]},{"id":"6b03cdbd.aab794","type":"debug","z":"250b0e38.132c42","name":"","active":true,"console":"false","complete":"true","x":724.4999694824219,"y":523.3333969116211,"wires":[]}]
