AR2017/Conexiones
[{"id":"a292fd95.57606","type":"http in","z":"243f7e2a.36ea22","name":"MODIFY ACTION","url":"/MODIFY/ACTION","method":"get","swaggerDoc":"","x":135.66665649414062,"y":100.99151802062988,"wires":[["5f18d8db.eaac88"]]},{"id":"5f18d8db.eaac88","type":"function","z":"243f7e2a.36ea22","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(Object.keys(parameters).length < 2){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":183.66663360595703,"y":180.99151229858398,"wires":[["631b1bbc.a07714"]]},{"id":"def69e46.07ea2","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY NODES","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device { ip: {ip} })-[r]->(o:Object)\nRETURN d,o","x":457.66662216186523,"y":128.99152088165283,"wires":[["c0890a36.a6bd18"]]},{"id":"631b1bbc.a07714","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":181.6666488647461,"y":242.99151706695557,"wires":[["def69e46.07ea2"],["c210fa74.641af8"]]},{"id":"c210fa74.641af8","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":925.6666412353516,"y":295.99133682250977,"wires":[]},{"id":"c0890a36.a6bd18","type":"function","z":"243f7e2a.36ea22","name":"SEARCH","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}else{\n    msg.payload.obj = pay.data[0][1].code;\n}\nreturn msg;","outputs":1,"noerr":0,"x":464.6666069030762,"y":182.9915132522583,"wires":[["e75c9b30.ab1318"]]},{"id":"e75c9b30.ab1318","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":473.66664123535156,"y":238.99151515960693,"wires":[["e0e5c37a.a8a98"],["c210fa74.641af8"]]},{"id":"e0e5c37a.a8a98","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action)\nRETURN a,o","x":724.6665954589844,"y":134.9915370941162,"wires":[["fcfca80e.2d89f8"]]},{"id":"fcfca80e.2d89f8","type":"function","z":"243f7e2a.36ea22","name":"CHANGE ACTION","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\nvar object = pay.data[0][1];\nvar action = pay.data[0][0];\nvar map={};\nif(action.Status === \"OFF\")\n    action.Status  =\"ON\";\nelse\n    action.Status=\"OFF\";\nglobal.set('value',action.Status);\nmap.obj=object.code;\nmap.stat=action.Status;\nmap.act=action.code;\nmsg.payload=map;\nreturn msg;","outputs":1,"noerr":0,"x":726.6666717529297,"y":176.99151611328125,"wires":[["7e88bcde.a17054","d42df72e.5f75a8"]]},{"id":"7e88bcde.a17054","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:HAVE]->(ac1) set ac1.Status = {stat} return ac1.code","x":976.7663726806641,"y":191.08246040344238,"wires":[["f2652e80.b23f"]]},{"id":"61c16a23.0b8044","type":"comment","z":"243f7e2a.36ea22","name":"Search","info":"For verifying that a object exits given an ip","x":454.7812156677246,"y":75.42328453063965,"wires":[]},{"id":"9b06d3c3.b3c4f","type":"comment","z":"243f7e2a.36ea22","name":"Device exists","info":"For veryfing that a device exists given an ip","x":192.7897491455078,"y":323.42896270751953,"wires":[]},{"id":"d42df72e.5f75a8","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":711.2871131896973,"y":240.00570511817932,"wires":[[],["c210fa74.641af8"]]},{"id":"dda3cbbf.27fda8","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1277.3750457763672,"y":188.76564693450928,"wires":[["4d49039b.c05b9c"]]},{"id":"e204598.3441ba8","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"false","x":1533.3831825256348,"y":73.52345180511475,"wires":[]},{"id":"f2652e80.b23f","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1144.8828735351562,"y":188.8867244720459,"wires":[["dda3cbbf.27fda8"]]},{"id":"b0d1ed94.1effc","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar device = pay.data[0];\nvar ip=device.ip;\nvar port=device.puerto;\nmsg.host= ip;\nmsg.port= port;\nreturn msg;","outputs":1,"noerr":0,"x":1816.7658805847168,"y":190.75000953674316,"wires":[["817a747b.084028","d59b5dd3.a8ca3"]]},{"id":"817a747b.084028","type":"tcp request","z":"243f7e2a.36ea22","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":2036.7662506103516,"y":192.7500228881836,"wires":[[]]},{"id":"4472d327.b3755c","type":"neo4j","z":"243f7e2a.36ea22","name":"OBTAIN DEVICE INFO","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action{code:{code}}) MATCH (a)<-[:HAVE]-(o) MATCH (o)<-[:HAVE]-(d) return d LIMIT 1","x":1602.661750793457,"y":188.6388988494873,"wires":[["b0d1ed94.1effc"]]},{"id":"d59b5dd3.a8ca3","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"payload","x":1947.2662811279297,"y":282.0833206176758,"wires":[]},{"id":"4d49039b.c05b9c","type":"function","z":"243f7e2a.36ea22","name":"get code","func":"msg.payload = {code: msg.payload}; \nreturn msg;","outputs":1,"noerr":0,"x":1401.0156860351562,"y":185.7500138282776,"wires":[["4472d327.b3755c","e204598.3441ba8"]]},{"id":"244c8d62.251792","type":"http in","z":"243f7e2a.36ea22","name":"MODIFY ACTION 1","url":"/MODIFY/ACTION1","method":"get","swaggerDoc":"","x":125.03125,"y":459.046875,"wires":[["d5a99bfe.1997b8"]]},{"id":"d5a99bfe.1997b8","type":"function","z":"243f7e2a.36ea22","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(Object.keys(parameters).length < 2){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":208.0312271118164,"y":560.0468711853027,"wires":[["3920b649.00ff9a"]]},{"id":"af644deb.781b7","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY NODES","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device { ip: {ip} })-[r]->(o:Object)\nRETURN d,o","x":482.0312156677246,"y":508.0468797683716,"wires":[["e4509c1a.e6929"]]},{"id":"3920b649.00ff9a","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":206.03124237060547,"y":622.0468759536743,"wires":[["af644deb.781b7"],["4831ff85.f9ee2"]]},{"id":"4831ff85.f9ee2","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":950.0312347412109,"y":675.0466957092285,"wires":[]},{"id":"e4509c1a.e6929","type":"function","z":"243f7e2a.36ea22","name":"SEARCH","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}else{\n    msg.payload.obj = pay.data[0][1].code;\n}\nreturn msg;","outputs":1,"noerr":0,"x":489.03120040893555,"y":562.046872138977,"wires":[["652a446d.ea953c"]]},{"id":"652a446d.ea953c","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":498.03123474121094,"y":618.0468740463257,"wires":[["9fc47345.d8103"],["4831ff85.f9ee2"]]},{"id":"9fc47345.d8103","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action)\nRETURN a,o","x":749.0311889648438,"y":514.046895980835,"wires":[["e6c4db2f.c355c8"]]},{"id":"e6c4db2f.c355c8","type":"function","z":"243f7e2a.36ea22","name":"CHANGE ACTION","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\nvar object = pay.data[0][1];\nvar action = pay.data[0][0];\nvar map={};\nif(action.Status === \"OFF\")\n    action.Status  =\"ON\";\nelse\n    action.Status=\"OFF\";\nglobal.set('value',action.Status);\nmap.obj=object.code;\nmap.stat=action.Status;\nmap.act=action.code;\nmsg.payload=map;\nreturn msg;","outputs":1,"noerr":0,"x":751.0312652587891,"y":556.046875,"wires":[["64c78933.1e2d68","7a624c1d.ca34e4","1040ba52.14a6d6"]]},{"id":"64c78933.1e2d68","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS LINKED OBJECTS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:link]->(o1) MATCH (o1)-[:HAVE]->(a1)  MATCH (o1)<-[:HAVE]-(d1) set a1.Status = {stat} return d1","x":1044.1310577392578,"y":566.1378517150879,"wires":[["53ec22a4.4b4a5c"]]},{"id":"460b4272.80be5c","type":"comment","z":"243f7e2a.36ea22","name":"Search","info":"For verifying that a object exits given an ip","x":479.145809173584,"y":454.4786434173584,"wires":[]},{"id":"c4ebec40.6242b","type":"comment","z":"243f7e2a.36ea22","name":"Device exists","info":"For veryfing that a device exists given an ip","x":217.1543426513672,"y":702.4843215942383,"wires":[]},{"id":"7a624c1d.ca34e4","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":735.6517066955566,"y":619.0610640048981,"wires":[[],["4831ff85.f9ee2"]]},{"id":"53ec22a4.4b4a5c","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1268.247959136963,"y":567.942253112793,"wires":[["898408b5.315008"]]},{"id":"fb43a6d6.f69818","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar device = pay[0];\nvar ip=device.ip;\nvar port=device.puerto;\nmsg.host= ip;\nmsg.port= port;\nreturn msg;","outputs":1,"noerr":0,"x":1541.130630493164,"y":515.805326461792,"wires":[["f6b8136c.a7bc"]]},{"id":"f6b8136c.a7bc","type":"tcp request","z":"243f7e2a.36ea22","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":1744.1312847137451,"y":536.8053283691406,"wires":[["7406741b.eb181c"]]},{"id":"898408b5.315008","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1398.6669120788574,"y":566.3333683013916,"wires":[["b6cd0e12.1d517"]]},{"id":"1040ba52.14a6d6","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:HAVE]->(a) MATCH (o)<-[:HAVE]-(d)  set a.Status = {stat} return d","x":980.3333129882812,"y":510,"wires":[["6ec4c3fa.790afc"]]},{"id":"6ec4c3fa.790afc","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1172.6666259765625,"y":515,"wires":[["fb43a6d6.f69818"]]},{"id":"b6cd0e12.1d517","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar device = pay;\nvar ip=device.ip;\nvar port=device.puerto;\nmsg.host= ip;\nmsg.port= port;\nreturn msg;","outputs":1,"noerr":0,"x":1542.000259399414,"y":568.9999980926514,"wires":[["f6b8136c.a7bc"]]},{"id":"7406741b.eb181c","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":1941.0000686645508,"y":536.0001554489136,"wires":[]},{"id":"d741d3a3.1ba32","type":"http in","z":"243f7e2a.36ea22","name":"MODIFY ACTION 2","url":"/MODIFY/ACTION2","method":"get","swaggerDoc":"","x":113,"y":811,"wires":[["cbb15fa.a9b98a"]]},{"id":"cbb15fa.a9b98a","type":"function","z":"243f7e2a.36ea22","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(Object.keys(parameters).length < 2){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":331,"y":811,"wires":[["d3779d62.37a04","94def817.302488"]]},{"id":"f5f055da.3088c8","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":1002.9999542236328,"y":929.9998121261597,"wires":[]},{"id":"d3779d62.37a04","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{code}})-[r]->(a:Action) set a.Status = {value} \nRETURN o, a.Status","x":527.9999389648438,"y":812,"wires":[["c481d847.5c9a98","94def817.302488"]]},{"id":"c481d847.5c9a98","type":"function","z":"243f7e2a.36ea22","name":"CHANGE ACTION","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\nvar object = pay.data[0][0];\nvar actionStatus = pay.data[0][1];\n\nvar map = {};\nmap.obj = object.code;\nmap.stat = actionStatus;\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":812,"wires":[["70ec9b72.6aa574","f3a6a5f7.a6a488","c398cf3.c2e3e3"]]},{"id":"f3a6a5f7.a6a488","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS LINKED OBJECTS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:link]->(o1) MATCH (o1)-[:HAVE]->(a1) MATCH (o1)<-[:HAVE]-(d1) set a1.Status = {stat} return d1, a1.code, a1.Status","x":1047.0999145507812,"y":816.0909905433655,"wires":[["ac1788bf.080ad8","758becb1.8a5b24"]]},{"id":"343cc349.77caac","type":"comment","z":"243f7e2a.36ea22","name":"Search","info":"For verifying that a object exits given an ip","x":490.114559173584,"y":756.4317684173584,"wires":[]},{"id":"70ec9b72.6aa574","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":935.6204147338867,"y":869.0142736434937,"wires":[[],["f5f055da.3088c8"]]},{"id":"ac1788bf.080ad8","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1291.2166290283203,"y":813.8953528404236,"wires":[["78c2d2f5.6d361c"]]},{"id":"7a82564f.808a38","type":"tcp request","z":"243f7e2a.36ea22","server":"","port":"","out":"char","splitc":"\\n","name":"TCP REQUEST","x":1785.0999603271484,"y":812.7584896087646,"wires":[["46386b92.4b6654"]]},{"id":"78c2d2f5.6d361c","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1427.6355819702148,"y":813.2864665985107,"wires":[["8f32aa3b.471848","aa0ccd59.599c8"]]},{"id":"8f32aa3b.471848","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar device = pay[0];\nvar ip=device.ip;\nvar port=device.puerto;\nvar value = pay[2];\nvar action = pay[1];\n\nmsg.host= ip;\nmsg.port= port;\nmsg.payload=\"{\"+action+ \",\"+ value +\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":1582.9690856933594,"y":811.9531326293945,"wires":[["aa0ccd59.599c8","7a82564f.808a38"]]},{"id":"416a74a2.634d7c","type":"neo4j","z":"243f7e2a.36ea22","name":"GET LINKED OBJECTS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{code}})-[r]->(a:Action) set a.Status = {value} \nRETURN o, a.Status","x":1795.1046829223633,"y":969.7328872680664,"wires":[[]]},{"id":"758becb1.8a5b24","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":1248.832431793213,"y":917.7329616546631,"wires":[["5e6cf3d7.dd8b2c"]]},{"id":"5e6cf3d7.dd8b2c","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1404.8323364257812,"y":917.7329607009888,"wires":[["860f4144.90777","a48964e8.1de0d8"]]},{"id":"860f4144.90777","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload;\nvar map = {};\nmap.obj = msg.payload[1];\nmap.stat = msg.payload[2];\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":1556.195957183838,"y":920.7329120635986,"wires":[["f3a6a5f7.a6a488","b16a64cd.228d48"]]},{"id":"a48964e8.1de0d8","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"false","x":1565.5596618652344,"y":963.73291015625,"wires":[]},{"id":"b16a64cd.228d48","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"false","x":1750.5594940185547,"y":919.732967376709,"wires":[]},{"id":"1a266be8.d3b0d4","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"true","x":2262.666467666626,"y":762.3333568572998,"wires":[]},{"id":"57af9a5c.7312b4","type":"function","z":"243f7e2a.36ea22","name":"","func":"msg.payload=1;\n","outputs":1,"noerr":0,"x":1944.6667823791504,"y":762.333381652832,"wires":[["495a993.10fa468"]]},{"id":"495a993.10fa468","type":"switch","z":"243f7e2a.36ea22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":2085.6666259765625,"y":758.3333539962769,"wires":[[],["1a266be8.d3b0d4"]]},{"id":"5f9e166f.ffec38","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":929.6666793823242,"y":757.3333549499512,"wires":[["943fb36c.7914e"]]},{"id":"ad35bd34.13b82","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":1308.0002326965332,"y":754.3333587646484,"wires":[]},{"id":"943fb36c.7914e","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1103.0000610351562,"y":757.3333587646484,"wires":[["ad35bd34.13b82"],[]]},{"id":"c398cf3.c2e3e3","type":"http response","z":"243f7e2a.36ea22","name":"RESPONSE INFO","x":757.0000457763672,"y":927.000057220459,"wires":[]},{"id":"aa0ccd59.599c8","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"payload","x":1769.333396911621,"y":867.3333644866943,"wires":[]},{"id":"46386b92.4b6654","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"payload","x":1999.333251953125,"y":845.3333129882812,"wires":[]},{"id":"94def817.302488","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"req.query","x":404,"y":909.2000122070312,"wires":[]},{"id":"d58b510c.a1e77","type":"http in","z":"243f7e2a.36ea22","name":"MODIFY ACTION3 ","url":"/MODIFY/ACTION3","method":"get","swaggerDoc":"","x":97.01421356201172,"y":1079.0057373046875,"wires":[["9d99e4d2.d8e498"]]},{"id":"9d99e4d2.d8e498","type":"function","z":"243f7e2a.36ea22","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(Object.keys(parameters).length < 2){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":315.0142135620117,"y":1079.0057373046875,"wires":[["eded084c.4cd378","f171a628.28e448"]]},{"id":"3c06a31a.85876c","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":987.0141677856445,"y":1198.0055494308472,"wires":[]},{"id":"eded084c.4cd378","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action{code:{code}})<-[r]-(o:Object) set a.Status = {value} \nRETURN o, a.Status","x":512.0141525268555,"y":1080.0057373046875,"wires":[["612308de.2b7958","f171a628.28e448"]]},{"id":"612308de.2b7958","type":"function","z":"243f7e2a.36ea22","name":"CHANGE ACTION","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\nvar object = pay.data[0][0];\nvar actionStatus = pay.data[0][1];\n\nvar map = {};\nmap.obj = object.code;\nmap.stat = actionStatus;\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":729.0142135620117,"y":1080.0057373046875,"wires":[["9735ef53.50a68","ca4920cb.e8b2b","bcd83b56.106608"]]},{"id":"ca4920cb.e8b2b","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS LINKED OBJECTS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:link]->(o1) MATCH (o1)-[:HAVE]->(a1) MATCH (o1)<-[:HAVE]-(d1) set a1.Status = {stat} return d1, a1.code, a1.Status","x":1031.114128112793,"y":1084.096727848053,"wires":[["262f056d.6ad76a","884aa6bf.de7c48"]]},{"id":"a8bbf684.a47518","type":"comment","z":"243f7e2a.36ea22","name":"Search","info":"For verifying that a object exits given an ip","x":474.1287727355957,"y":1024.437505722046,"wires":[]},{"id":"9735ef53.50a68","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":919.6346282958984,"y":1137.0200109481812,"wires":[[],["3c06a31a.85876c"]]},{"id":"262f056d.6ad76a","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1275.230842590332,"y":1081.901090145111,"wires":[["4a779a7e.9519b4"]]},{"id":"4a779a7e.9519b4","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1411.6497955322266,"y":1081.2922039031982,"wires":[["53ca31c6.38ed8"]]},{"id":"884aa6bf.de7c48","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":1232.8466453552246,"y":1185.7386989593506,"wires":[["cc239d16.baed3"]]},{"id":"cc239d16.baed3","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1388.846549987793,"y":1185.7386980056763,"wires":[["ad984743.957dc8","7b0dd418.647c5c"]]},{"id":"41b21c04.88c8b4","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":913.6808929443359,"y":1025.3390922546387,"wires":[["3f35b855.43f938"]]},{"id":"581e6f46.d9df6","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":1292.014446258545,"y":1022.3390960693359,"wires":[]},{"id":"3f35b855.43f938","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1087.014274597168,"y":1025.339096069336,"wires":[["581e6f46.d9df6"],[]]},{"id":"bcd83b56.106608","type":"http response","z":"243f7e2a.36ea22","name":"RESPONSE INFO","x":741.0142593383789,"y":1195.0057945251465,"wires":[]},{"id":"f171a628.28e448","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"req.query","x":388.0142135620117,"y":1177.2057495117188,"wires":[]},{"id":"687a768f.38a458","type":"tcp request","z":"243f7e2a.36ea22","server":"","port":"","out":"char","splitc":"\\n","name":"TCP REQUEST","x":1880.1051025390625,"y":1089.8238525390625,"wires":[["ba5628f9.7e0fc8"]]},{"id":"53ca31c6.38ed8","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar device = pay[0];\nvar ip=device.ip;\nvar port=device.puerto;\nvar value = pay[2];\nvar action = pay[1];\n\nmsg.host= ip;\nmsg.port= port;\nmsg.payload=\"{\"+action+ \",\"+ value +\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":1677.9742279052734,"y":1089.0184955596924,"wires":[["71a67e66.d3d77","687a768f.38a458"]]},{"id":"246f0477.e83a5c","type":"neo4j","z":"243f7e2a.36ea22","name":"GET LINKED OBJECTS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{code}})-[r]->(a:Action) set a.Status = {value} \nRETURN o, a.Status","x":1890.1098251342773,"y":1246.7982501983643,"wires":[[]]},{"id":"ad984743.957dc8","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload;\nvar map = {};\nmap.obj = msg.payload[1];\nmap.stat = msg.payload[2];\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":1651.201099395752,"y":1197.7982749938965,"wires":[["d34f0ff0.84d1c"]]},{"id":"7b0dd418.647c5c","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"false","x":1660.5648040771484,"y":1240.7982730865479,"wires":[]},{"id":"d34f0ff0.84d1c","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"false","x":1845.5646362304688,"y":1196.7983303070068,"wires":[]},{"id":"71a67e66.d3d77","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"payload","x":1864.3385391235352,"y":1144.3987274169922,"wires":[]},{"id":"ba5628f9.7e0fc8","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"payload","x":2094.338394165039,"y":1122.398675918579,"wires":[]}]
