AR2017/UpdateDeviceONConnect
[{"id":"708019ee.273d58","type":"http in","z":"ac21705c.a8377","name":"","url":"/UPDATE/DEVICEON","method":"get","swaggerDoc":"","x":140.00006103515625,"y":3070.000835418701,"wires":[["e3b8282.9903cd8"]]},{"id":"e3b8282.9903cd8","type":"function","z":"ac21705c.a8377","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || parameters.code === undefined\n|| parameters.ip === null || parameters.ip === undefined ||\nparameters.puerto === null || parameters.puerto === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":328.6667022705078,"y":3133.0002088546753,"wires":[["ab9ffa1f.f40038","2b496cac.6a23f4"]]},{"id":"ab9ffa1f.f40038","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":503.6666793823242,"y":3193.0002117156982,"wires":[[],["1df295e6.53ba1a"]]},{"id":"b972b440.e09618","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":1780.6668891906738,"y":3158.0008392333984,"wires":[]},{"id":"1df295e6.53ba1a","type":"http response","z":"ac21705c.a8377","name":"ERROR INFO","x":685.6666641235352,"y":3200.000841140747,"wires":[]},{"id":"96676991.103648","type":"function","z":"ac21705c.a8377","name":"GET DATA","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload =\"NOT FOUND\"\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":879.6668014526367,"y":3132.00083732605,"wires":[["f226d3b2.cfc6"]]},{"id":"2b496cac.6a23f4","type":"neo4j","z":"ac21705c.a8377","name":"Modify Device","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} }) SET d.online = {online}, d.ip = {ip}, d.puerto = {puerto} RETURN d","x":681.1083908081055,"y":3132.333541870117,"wires":[["96676991.103648"]]},{"id":"9183e6ae.c1dd08","type":"neo4j","z":"ac21705c.a8377","name":"Get actions of device","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{devcode}})-[:HAVE]->(o) MATCH (o)-[:HAVE]->(a) RETURN a.code, a.Status, a.Type","x":1399.333366394043,"y":3158.0008392333984,"wires":[["9f2f635f.cda1"]]},{"id":"9f2f635f.cda1","type":"function","z":"ac21705c.a8377","name":"GET DATA","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\npay.data.push(pay.data.length);\nmsg.payload = pay.data;\n//msg.payload = pay.data.length;\nreturn msg;","outputs":1,"noerr":0,"x":1590.333381652832,"y":3158.0008387565613,"wires":[["b972b440.e09618","5134eb0f.09e4f4"]]},{"id":"f226d3b2.cfc6","type":"switch","z":"ac21705c.a8377","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1029.833396911621,"y":3130.66685295105,"wires":[["546847f2.00fc88"],["4ee0d37f.91195c"]]},{"id":"546847f2.00fc88","type":"http response","z":"ac21705c.a8377","name":"RESPONSE ERROR","x":1281.6667861938477,"y":3108.0005083084106,"wires":[]},{"id":"4ee0d37f.91195c","type":"function","z":"ac21705c.a8377","name":"GET DATA","func":"var pay = msg.payload;\nmsg.payload.devcode = pay.data[0].code;\nreturn msg;","outputs":1,"noerr":0,"x":1193.0000686645508,"y":3157.0001888275146,"wires":[["9183e6ae.c1dd08"]]},{"id":"5134eb0f.09e4f4","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"payload.count","x":1749.6666259765625,"y":3218,"wires":[]}]
