KEVIN/Modify_Action_Node
[{"id":"c7cf6f6a.eacae","type":"http in","z":"f9dd4976.dec25","name":"MODIFY ACTION","url":"/MODIFY/ACTIONEDIT","method":"get","swaggerDoc":"","x":217.5,"y":983.75,"wires":[["58247d29.d4f7d4"]]},{"id":"58247d29.d4f7d4","type":"function","z":"f9dd4976.dec25","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":310.5,"y":932.75,"wires":[["bba49598.bddea8"]]},{"id":"bba49598.bddea8","type":"switch","z":"f9dd4976.dec25","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":420.49998474121094,"y":985.75,"wires":[["2cb3aa97.4ed6e6"],["da5ec23d.c238a"]]},{"id":"b2d16762.670e78","type":"http response","z":"f9dd4976.dec25","name":"RESPONSE INFO","x":859.4999694824219,"y":1024.75,"wires":[]},{"id":"da5ec23d.c238a","type":"http response","z":"f9dd4976.dec25","name":"ERROR INFO","x":578.4999694824219,"y":1039.75,"wires":[]},{"id":"41b35e34.3797b","type":"function","z":"f9dd4976.dec25","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":763.4999694824219,"y":940.75,"wires":[["b2d16762.670e78"]]},{"id":"2cb3aa97.4ed6e6","type":"neo4j","z":"f9dd4976.dec25","name":"MODIFY ACTION","url":"http://neo4j:integradora@127.0.0.1:7474","query":"MATCH (a:Action {code:{code} }) SET a.Type = {type}, a.Description = {description} RETURN a","x":587.5000076293945,"y":932.5000171661377,"wires":[["41b35e34.3797b"]]}]