node-red/acciones.txt
[{"id":"cea9e7bc.c68018","type":"neo4j","z":"2a4b4d5.c09d6b2","name":"NEW NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"CREATE(:Action {\n\tcode\t: {code},\n\tStatus  : {stat}\n})\n","x":497,"y":35,"wires":[["e768115f.15025"]]},{"id":"e768115f.15025","type":"http response","z":"2a4b4d5.c09d6b2","name":"RESPONSE ADD","x":704,"y":81.86647033691406,"wires":[]},{"id":"7c72966c.0176d8","type":"http in","z":"2a4b4d5.c09d6b2","name":"ADD ACTION","url":"/ADD/ACTION","method":"post","swaggerDoc":"","x":99.99151611328125,"y":83.99714660644531,"wires":[["e3667dfc.5a50d"]]},{"id":"e3667dfc.5a50d","type":"function","z":"2a4b4d5.c09d6b2","name":"Validate ADD","func":"var header = msg.req.headers;\nvar stat = header.stat;\nvar code = header.code;\nvar map = {};\nmap.stat=stat;\nmap.code=code;\nmsg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":218.9971923828125,"y":35.91761779785156,"wires":[["b088c2c8.27bd4"]]},{"id":"b088c2c8.27bd4","type":"switch","z":"2a4b4d5.c09d6b2","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":333.9886474609375,"y":76.17897033691406,"wires":[["cea9e7bc.c68018"],["e94a1f70.b4175"]]},{"id":"d0aa302b.e53df","type":"http in","z":"2a4b4d5.c09d6b2","name":"DELETE ACTION","url":"/DELETE/ACTION","method":"post","swaggerDoc":"","x":114.0369873046875,"y":207.7642059326172,"wires":[["bd15b33c.31f05"]]},{"id":"bd15b33c.31f05","type":"function","z":"2a4b4d5.c09d6b2","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":224.0369873046875,"y":154.7642059326172,"wires":[["480ac5df.78fc0c"]]},{"id":"5b41af24.0ecf","type":"neo4j","z":"2a4b4d5.c09d6b2","name":"DELETE NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action {code:{code} })\nOPTIONAL MATCH a-[r]-()\nDELETE a, r","x":479.0369873046875,"y":156.7642059326172,"wires":[["4e62784d.327ad8"]]},{"id":"480ac5df.78fc0c","type":"switch","z":"2a4b4d5.c09d6b2","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":332.0369873046875,"y":206.7642059326172,"wires":[["5b41af24.0ecf"],["825dd335.a14df"]]},{"id":"5903a984.bb0068","type":"http response","z":"2a4b4d5.c09d6b2","name":"RESPONSE DELETE","x":700.0369873046875,"y":205.76422119140625,"wires":[]},{"id":"825dd335.a14df","type":"http response","z":"2a4b4d5.c09d6b2","name":"ERROR DELETE","x":502.0369873046875,"y":242.76422119140625,"wires":[]},{"id":"682374ae.5d28ec","type":"http in","z":"2a4b4d5.c09d6b2","name":"INFO ACTION","url":"/INFO/ACTION","method":"get","swaggerDoc":"","x":114.0369873046875,"y":341.76422119140625,"wires":[["7f7681ca.6e4d4"]]},{"id":"7f7681ca.6e4d4","type":"function","z":"2a4b4d5.c09d6b2","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":207.0369873046875,"y":290.76422119140625,"wires":[["5ced3b6c.f7d1c4"]]},{"id":"c3da5825.9371b8","type":"neo4j","z":"2a4b4d5.c09d6b2","name":"INFO NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action {code:{code} })\nRETURN o","x":461.0369873046875,"y":285.76422119140625,"wires":[["9a049601.18f768"]]},{"id":"5ced3b6c.f7d1c4","type":"switch","z":"2a4b4d5.c09d6b2","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":313.0369873046875,"y":338.76422119140625,"wires":[["c3da5825.9371b8"],["e08963a4.c7795"]]},{"id":"9672e6e8.1cb0a8","type":"http response","z":"2a4b4d5.c09d6b2","name":"RESPONSE INFO","x":687.0369873046875,"y":338.76422119140625,"wires":[]},{"id":"e08963a4.c7795","type":"http response","z":"2a4b4d5.c09d6b2","name":"ERROR INFO","x":480.0369873046875,"y":371.76422119140625,"wires":[]},{"id":"9a049601.18f768","type":"function","z":"2a4b4d5.c09d6b2","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":667.0369873046875,"y":285.76422119140625,"wires":[["9672e6e8.1cb0a8"]]},{"id":"e94a1f70.b4175","type":"http response","z":"2a4b4d5.c09d6b2","name":"ERROR ADD","x":500.0369873046875,"y":107.76420593261719,"wires":[]},{"id":"4e62784d.327ad8","type":"function","z":"2a4b4d5.c09d6b2","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":658.0369873046875,"y":152.7642059326172,"wires":[["5903a984.bb0068"]]},{"id":"93e41a30.77af18","type":"function","z":"2a4b4d5.c09d6b2","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined ||\n    parameters.stat === null ||\n    parameters.stat === undefined){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":222,"y":417,"wires":[["8cc0b0ae.09e03"]]},{"id":"cc18b089.0049","type":"neo4j","z":"2a4b4d5.c09d6b2","name":"MODIFY NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action { code: {code} })\nSET a.Status = {stat} \nRETURN a","x":479,"y":431,"wires":[["620a738.4004d8c"]]},{"id":"8cc0b0ae.09e03","type":"switch","z":"2a4b4d5.c09d6b2","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":321,"y":484,"wires":[["cc18b089.0049"],["fa0d69db.569de8"]]},{"id":"9aaf6559.404ed8","type":"http response","z":"2a4b4d5.c09d6b2","name":"RESPONSE INFO","x":695,"y":484,"wires":[]},{"id":"fa0d69db.569de8","type":"http response","z":"2a4b4d5.c09d6b2","name":"ERROR MODIFY","x":498,"y":517,"wires":[]},{"id":"620a738.4004d8c","type":"function","z":"2a4b4d5.c09d6b2","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":431,"wires":[["9aaf6559.404ed8"]]},{"id":"5a0f6818.b03de8","type":"http in","z":"2a4b4d5.c09d6b2","name":"CHANGE STATE","url":"/CHANGE/STATE","method":"get","swaggerDoc":"","x":105.09944152832031,"y":487.3636474609375,"wires":[["93e41a30.77af18"]]}]