node-red/conexiones.txt
[{"id":"75f7f38f.7c42ec","type":"http in","z":"c8ea4c03.95128","name":"MODIFY ACTION","url":"/MODIFY/ACTION","method":"get","swaggerDoc":"","x":110,"y":39,"wires":[["aa645774.408ec8"]]},{"id":"aa645774.408ec8","type":"function","z":"c8ea4c03.95128","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.length < 2){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":135,"y":135,"wires":[["9c27ee49.abac1"]]},{"id":"dc0da6.f96dd258","type":"neo4j","z":"c8ea4c03.95128","name":"VERIFY NODES","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device { ip: {ip} })-[r]->(o:Object)\nRETURN d,o","x":350,"y":49,"wires":[["dfa699c8.6c0e98"]]},{"id":"9c27ee49.abac1","type":"switch","z":"c8ea4c03.95128","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":127,"y":210,"wires":[["dc0da6.f96dd258"],["cb5a2d48.727ad"]]},{"id":"cb5a2d48.727ad","type":"http response","z":"c8ea4c03.95128","name":"ERROR MODIFY","x":231,"y":280,"wires":[]},{"id":"dfa699c8.6c0e98","type":"function","z":"c8ea4c03.95128","name":"SEARCH","func":"var pay = msg.payload;\nvar map={};\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nelse{\n    map.obj=pay.data[0][1].code;\n    msg.payload = map;\n}\nreturn msg;","outputs":1,"noerr":0,"x":351,"y":115,"wires":[["6f528a98.419e54"]]},{"id":"6f528a98.419e54","type":"switch","z":"c8ea4c03.95128","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":351.99998474121094,"y":190,"wires":[["cf793abd.a828c8"],["cb5a2d48.727ad"]]},{"id":"cf793abd.a828c8","type":"neo4j","z":"c8ea4c03.95128","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action)\nRETURN a,o","x":581,"y":64,"wires":[["c02fa81f.56e048"]]},{"id":"c02fa81f.56e048","type":"function","z":"c8ea4c03.95128","name":"CHANGE ACTION","func":"var pay=msg.payload;\nvar object=pay.data[0][1];\nvar action=pay.data[0][0];\nvar map={};\nif(action.Status === \"OFF\")\n    action.Status=\"ON\";\nelse\n    action.Status=\"OFF\";\nglobal.set('value',action.Status);\nmap.obj=object.code;\nmap.stat=action.Status;\nmap.act=action.code;\nmsg.payload=map;\nreturn msg;","outputs":1,"noerr":0,"x":594,"y":133,"wires":[["77859041.e6b47"]]},{"id":"77859041.e6b47","type":"neo4j","z":"c8ea4c03.95128","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH ((o:Object{code:{obj}})-[r:link]->(o1:Object))\nMATCH ((o1:Object)-[r]->(a1:Action)),(a:Action { code: {act} })\nSET a.Status = {stat}\nSET a1.Status = {stat} \nRETURN o1","x":601.9999847412109,"y":182,"wires":[["b97b0dd.7b61df"]]},{"id":"355bf43a.1343dc","type":"function","z":"c8ea4c03.95128","name":"RECORRIDO","func":"var TAM=global.get('tam');\nvar i=global.get('i');\nvar pay=global.get('pay');\nmsg.payload=pay.data[i];\nreturn msg","outputs":"1","noerr":0,"x":546.9999694824219,"y":302.99999237060547,"wires":[["382f6c23.f42874"]]},{"id":"382f6c23.f42874","type":"switch","z":"c8ea4c03.95128","name":"PROTOCOL","property":"payload.protocol","propertyType":"msg","rules":[{"t":"eq","v":"TCP","vt":"str"},{"t":"eq","v":"MQTT","vt":"str"},{"t":"eq","v":"HTTP","vt":"str"}],"checkall":"true","outputs":3,"x":138,"y":391,"wires":[["f319e14c.527ba"],[],[]]},{"id":"81f6b95c.d53388","type":"function","z":"c8ea4c03.95128","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar ip=pay.data[0].ip;\nvar value=global.get('value');\nmsg.host=ip;\nmsg.port=8090;\nmsg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\nvar j=global.get('i');\nglobal.set('i',j+1);\nreturn msg;","outputs":1,"noerr":0,"x":591.9999694824219,"y":453.0000228881836,"wires":[["57aa6e92.82a43","e4eac324.5b565"]]},{"id":"57aa6e92.82a43","type":"tcp request","z":"c8ea4c03.95128","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":738.9999694824219,"y":391.99999237060547,"wires":[["dfbbdffd.f1de8"]]},{"id":"739f007e.09ac","type":"neo4j","z":"c8ea4c03.95128","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device)-[r]->(o:Object{code:{code}})\nRETURN d","x":417.89573669433594,"y":396.8888854980469,"wires":[["81f6b95c.d53388"]]},{"id":"f319e14c.527ba","type":"function","z":"c8ea4c03.95128","name":"TO MSG.PAYLOAD","func":"var map={};\nmap.code=msg.payload.code;\nmsg.payload=map\nreturn msg;","outputs":1,"noerr":0,"x":316.82981872558594,"y":486.6632080078125,"wires":[["739f007e.09ac"]]},{"id":"21159a3d.cc6ed6","type":"debug","z":"c8ea4c03.95128","name":"","active":true,"console":"false","complete":"true","x":1077.8333435058594,"y":390.9132308959961,"wires":[]},{"id":"b97b0dd.7b61df","type":"function","z":"c8ea4c03.95128","name":"GLOBAL INFORMATION","func":"var pay2= msg.payload;\nglobal.set('i',0);\nglobal.set('tam',pay2.data.length);\nglobal.set('pay',pay2);\nreturn msg;","outputs":1,"noerr":0,"x":601.8367614746094,"y":229.5486068725586,"wires":[["355bf43a.1343dc"]]},{"id":"738b44ad.0109dc","type":"switch","z":"c8ea4c03.95128","name":"","property":"fin","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":947.4999694824219,"y":269.33333587646484,"wires":[["355bf43a.1343dc"],["21159a3d.cc6ed6"]]},{"id":"dfbbdffd.f1de8","type":"function","z":"c8ea4c03.95128","name":"","func":"var i=global.get('i');\nvar tam=global.get('tam');\nif(i==tam)\n    msg.fin=0;\nelse\n    msg.fin=1;\nreturn msg;","outputs":1,"noerr":0,"x":870.4999694824219,"y":349.6666488647461,"wires":[["738b44ad.0109dc"]]},{"id":"e4eac324.5b565","type":"debug","z":"c8ea4c03.95128","name":"","active":true,"console":"false","complete":"true","x":735.4999694824219,"y":509.3333969116211,"wires":[]}]