node-red/dispositivos.txt
[{"id":"82c4e64e.7d3b18","type":"neo4j","z":"44adb367.bb524c","name":"NEW NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"CREATE(:Device {\n\tcode  : {code},\n\ttype  : {type},\n\tmodel : {model},\n\tip    : {ip},\n\tonline: {online}\n})\n","x":483.9630126953125,"y":22.235794067382812,"wires":[["8da7a088.72586"]]},{"id":"8da7a088.72586","type":"http response","z":"44adb367.bb524c","name":"RESPONSE ADD","x":688.9630126953125,"y":52.102264404296875,"wires":[]},{"id":"18a975a2.e7568a","type":"http in","z":"44adb367.bb524c","name":"ADD DEVICE","url":"/ADD/DEVICE","method":"post","swaggerDoc":"","x":75.95454406738281,"y":86.23294067382812,"wires":[["2c28417f.d3d7be"]]},{"id":"2c28417f.d3d7be","type":"function","z":"44adb367.bb524c","name":"Validate ADD","func":"var header = msg.req.headers;\nvar ip = header.ip;\nvar code = header.code;\nvar online = header.online;\nvar model = header.model;\nvar type = header.type;\nvar map = {};\nmap.ip=ip;\nmap.code=code;\nmap.online=online;\nmap.type=type;\nmap.model=model;\nif(code === undefined || online===undefined || \n   ip === undefined || model === undefined ||\n   type === undefined){\n        msg.payload = \"ERROR\";\n        msg.statusCode = 404;\n}\nelse\n    msg.payload = map;    \nreturn msg;","outputs":"1","noerr":0,"x":216.96022033691406,"y":29.153411865234375,"wires":[["167eb399.e9814c"]]},{"id":"167eb399.e9814c","type":"switch","z":"44adb367.bb524c","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":327.95166015625,"y":85.41476440429688,"wires":[["82c4e64e.7d3b18"],["592d59f8.e5cd98"]]},{"id":"5b00101.fa4fff","type":"http in","z":"44adb367.bb524c","name":"DELETE DEVICE","url":"/DELETE/DEVICE","method":"post","swaggerDoc":"","x":87,"y":233,"wires":[["51ce2f9.fae31d"]]},{"id":"51ce2f9.fae31d","type":"function","z":"44adb367.bb524c","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":223,"y":159,"wires":[["98b8d7d6.674728"]]},{"id":"19c846fa.e637b9","type":"neo4j","z":"44adb367.bb524c","name":"DELETE NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} })\nOPTIONAL MATCH d-[r]-()\nDELETE d, r","x":486,"y":164,"wires":[["a169aaa7.e29df8"]]},{"id":"98b8d7d6.674728","type":"switch","z":"44adb367.bb524c","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":327,"y":229,"wires":[["19c846fa.e637b9"],["e9bab113.16455"]]},{"id":"51e967ea.ae1698","type":"http response","z":"44adb367.bb524c","name":"RESPONSE DELETE","x":722,"y":230,"wires":[]},{"id":"e9bab113.16455","type":"http response","z":"44adb367.bb524c","name":"ERROR DELETE","x":513,"y":261,"wires":[]},{"id":"2ed335af.d12cca","type":"http in","z":"44adb367.bb524c","name":"INFO DEVICE","url":"/INFO/DEVICE","method":"get","swaggerDoc":"","x":95.99998474121094,"y":360,"wires":[["1f62c024.e09d4"]]},{"id":"1f62c024.e09d4","type":"function","z":"44adb367.bb524c","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":198.99998474121094,"y":309,"wires":[["26b58231.d94a7e"]]},{"id":"a10297d4.5efd68","type":"neo4j","z":"44adb367.bb524c","name":"INFO NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} })\nRETURN d","x":425.99998474121094,"y":305,"wires":[["363920a5.c9c6e"]]},{"id":"26b58231.d94a7e","type":"switch","z":"44adb367.bb524c","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":304.99998474121094,"y":357,"wires":[["a10297d4.5efd68"],["dfd70862.2028f8"]]},{"id":"ea34f694.15cb08","type":"http response","z":"44adb367.bb524c","name":"RESPONSE INFO","x":658.9999847412109,"y":393,"wires":[]},{"id":"dfd70862.2028f8","type":"http response","z":"44adb367.bb524c","name":"ERROR INFO","x":433.99998474121094,"y":403,"wires":[]},{"id":"363920a5.c9c6e","type":"function","z":"44adb367.bb524c","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":593.9999847412109,"y":313,"wires":[["ea34f694.15cb08"]]},{"id":"592d59f8.e5cd98","type":"http response","z":"44adb367.bb524c","name":"ERROR ADD","x":498,"y":112,"wires":[]},{"id":"a169aaa7.e29df8","type":"function","z":"44adb367.bb524c","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":708,"y":164,"wires":[["51e967ea.ae1698"]]},{"id":"d6c60cbf.242ae","type":"http in","z":"44adb367.bb524c","name":"MODIFY DEVICE","url":"/MODIFY/DEVICE","method":"get","swaggerDoc":"","x":110.89582824707031,"y":613.8889465332031,"wires":[["998ce253.516c4"]]},{"id":"998ce253.516c4","type":"function","z":"44adb367.bb524c","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":203.8958282470703,"y":562.8889465332031,"wires":[["9c90093f.b16678"]]},{"id":"65638c4b.cb8a64","type":"neo4j","z":"44adb367.bb524c","name":"INFO NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} })\nRETURN d","x":471.89576721191406,"y":566.8889465332031,"wires":[["e33d619c.dcfb"]]},{"id":"9c90093f.b16678","type":"switch","z":"44adb367.bb524c","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":313.89581298828125,"y":615.8889465332031,"wires":[["65638c4b.cb8a64"],["ecc08402.fde1d8"]]},{"id":"639dfeaf.7f01a","type":"http response","z":"44adb367.bb524c","name":"RESPONSE INFO","x":752.8957977294922,"y":654.8889465332031,"wires":[]},{"id":"ecc08402.fde1d8","type":"http response","z":"44adb367.bb524c","name":"ERROR INFO","x":471.8957977294922,"y":669.8889465332031,"wires":[]},{"id":"e33d619c.dcfb","type":"function","z":"44adb367.bb524c","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":656.8957977294922,"y":570.8889465332031,"wires":[["639dfeaf.7f01a"]]}]