Flujos/ACCIONES.txt
[{"id":"b39b34b.d664bc8","type":"http response","z":"7ce42bc9.d072b4","name":"RESPONSE ADD","x":735.6666259765625,"y":111.53313446044922,"wires":[]},{"id":"1be7cab4.fb5cd5","type":"http in","z":"7ce42bc9.d072b4","name":"","url":"/ADD/ACTION","method":"get","swaggerDoc":"","x":151.65814208984375,"y":113.66381072998047,"wires":[["1e7225e9.7fcf2a"]]},{"id":"1e7225e9.7fcf2a","type":"function","z":"7ce42bc9.d072b4","name":"Validate ADD","func":"var header = msg.req.query;\nvar stat = header.stat;\nvar code = header.code;\nvar type = header.type;\nvar descr = header.descr;\n\nvar map = {};\nmap.stat=stat;\nmap.code=code;\nmap.type=type;\nmap.descr=descr;\nmsg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":250.663818359375,"y":65.58428192138672,"wires":[["f0378c9f.31f7d"]]},{"id":"f0378c9f.31f7d","type":"switch","z":"7ce42bc9.d072b4","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":365.6552734375,"y":105.84563446044922,"wires":[["82ac418.dcda2c"],["af447b38.4e90c8"]]},{"id":"9e2e779d.886e78","type":"http in","z":"7ce42bc9.d072b4","name":"","url":"/DELETE/ACTION","method":"post","swaggerDoc":"","x":175.70361328125,"y":237.43087005615234,"wires":[["ae2c3ffe.872ed"]]},{"id":"ae2c3ffe.872ed","type":"function","z":"7ce42bc9.d072b4","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":255.70361328125,"y":184.43087005615234,"wires":[["438a3048.7c878"]]},{"id":"ca31418a.cb52a","type":"neo4j","z":"7ce42bc9.d072b4","name":"DELETE NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action {code:{code} })\nOPTIONAL MATCH a-[r]-()\nDELETE a, r","x":510.70361328125,"y":186.43087005615234,"wires":[["bd4a8206.6364a"]]},{"id":"438a3048.7c878","type":"switch","z":"7ce42bc9.d072b4","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":363.70361328125,"y":236.43087005615234,"wires":[["ca31418a.cb52a"],["f6d70e50.c4005"]]},{"id":"abaae099.9c1af","type":"http response","z":"7ce42bc9.d072b4","name":"RESPONSE DELETE","x":731.70361328125,"y":235.4308853149414,"wires":[]},{"id":"f6d70e50.c4005","type":"http response","z":"7ce42bc9.d072b4","name":"ERROR DELETE","x":533.70361328125,"y":272.4308853149414,"wires":[]},{"id":"af447b38.4e90c8","type":"http response","z":"7ce42bc9.d072b4","name":"ERROR ADD","x":531.70361328125,"y":137.43087005615234,"wires":[]},{"id":"bd4a8206.6364a","type":"function","z":"7ce42bc9.d072b4","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":689.70361328125,"y":182.43087005615234,"wires":[["abaae099.9c1af"]]},{"id":"82ac418.dcda2c","type":"neo4j","z":"7ce42bc9.d072b4","name":"NEW NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"CREATE(:Action {code: {code}, Status  : {stat}, Type  : {type}, Description  : {descr}})","x":531.270263671875,"y":44.23332977294922,"wires":[["b39b34b.d664bc8"]]},{"id":"a07e413e.08bf8","type":"http in","z":"7ce42bc9.d072b4","name":"","url":"/INFO/ACTION","method":"get","swaggerDoc":"","x":155.70361328125,"y":382.3333206176758,"wires":[["88a503ad.a460d"]]},{"id":"88a503ad.a460d","type":"function","z":"7ce42bc9.d072b4","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":228.70361328125,"y":331.3333206176758,"wires":[["7886dce2.03b384"]]},{"id":"7886dce2.03b384","type":"switch","z":"7ce42bc9.d072b4","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":334.70361328125,"y":379.3333206176758,"wires":[["981da9e3.13f708"],["a356eaf4.a43668"]]},{"id":"926a3143.ddb1c","type":"http response","z":"7ce42bc9.d072b4","name":"RESPONSE INFO","x":744.70361328125,"y":416.3333206176758,"wires":[]},{"id":"a356eaf4.a43668","type":"http response","z":"7ce42bc9.d072b4","name":"ERROR INFO","x":501.70361328125,"y":412.3333206176758,"wires":[]},{"id":"f6c6b9b1.c0e508","type":"function","z":"7ce42bc9.d072b4","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":623.70361328125,"y":370.3333206176758,"wires":[["926a3143.ddb1c","805825d0.de8148"]]},{"id":"805825d0.de8148","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"false","x":889.7035827636719,"y":367.569091796875,"wires":[]},{"id":"981da9e3.13f708","type":"neo4j","z":"7ce42bc9.d072b4","name":"INFO NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action {code:{code} })\nRETURN a","x":492.70361328125,"y":324.56909942626953,"wires":[["f6c6b9b1.c0e508"]]},{"id":"6eb102f9.bfe1fc","type":"http in","z":"7ce42bc9.d072b4","name":"","url":"/INFO/ACTIONSBYOBJECT","method":"get","swaggerDoc":"","x":186.70362091064453,"y":561.3333387374878,"wires":[["74a440d9.4da78"]]},{"id":"74a440d9.4da78","type":"function","z":"7ce42bc9.d072b4","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":338.41790771484375,"y":504.8333797454834,"wires":[["b8e5fa9a.66b8e8"]]},{"id":"b8e5fa9a.66b8e8","type":"switch","z":"7ce42bc9.d072b4","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":444.41790771484375,"y":552.8333797454834,"wires":[["613a02e0.c591bc"],["67a5fdcb.9cf9f4"]]},{"id":"d56521df.dcee","type":"http response","z":"7ce42bc9.d072b4","name":"RESPONSE INFO","x":798.4179077148438,"y":588.8333797454834,"wires":[]},{"id":"67a5fdcb.9cf9f4","type":"http response","z":"7ce42bc9.d072b4","name":"ERROR INFO","x":573.4179077148438,"y":598.8333797454834,"wires":[]},{"id":"ba1575d2.b8ad38","type":"function","z":"7ce42bc9.d072b4","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":765.4179077148438,"y":499.8333797454834,"wires":[["d56521df.dcee"]]},{"id":"613a02e0.c591bc","type":"neo4j","z":"7ce42bc9.d072b4","name":"ACTIONS_BY_OBJECT","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (object{code:{code}})-[:HAVE]->(action) RETURN action","x":580.0369720458984,"y":468.00006580352783,"wires":[["ba1575d2.b8ad38"]]},{"id":"cfa99fac.c8679","type":"function","z":"7ce42bc9.d072b4","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined ||\n    parameters.stat === null ||\n    parameters.stat === undefined){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":237.20172882080078,"y":832.9861450195312,"wires":[["92361b0a.d23d78","67d0fff7.901a3"]]},{"id":"92361b0a.d23d78","type":"switch","z":"7ce42bc9.d072b4","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":422.2017593383789,"y":774.7361450195312,"wires":[["a4a57498.96a138","82e86890.b47fa8"],["e9f7ba86.530288"]]},{"id":"411264f6.2dd38c","type":"http response","z":"7ce42bc9.d072b4","name":"RESPONSE INFO","x":994.7017440795898,"y":869.2361154556274,"wires":[]},{"id":"e9f7ba86.530288","type":"http response","z":"7ce42bc9.d072b4","name":"ERROR MODIFY","x":460.2017593383789,"y":888.2361450195312,"wires":[]},{"id":"a0796a72.87cf58","type":"function","z":"7ce42bc9.d072b4","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":954.7016677856445,"y":752.2361450195312,"wires":[["411264f6.2dd38c","d23aea38.fa7308"]]},{"id":"f431e293.cfdb5","type":"http in","z":"7ce42bc9.d072b4","name":"CHANGE STATE","url":"/CHANGE/STATE1","method":"get","swaggerDoc":"","x":122.34757232666016,"y":906.8497924804688,"wires":[["cfa99fac.c8679"]]},{"id":"a4a57498.96a138","type":"neo4j","z":"7ce42bc9.d072b4","name":"CASCADE_ACTIONS","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (action {code:{code}})<-[:HAVE]-(object)-[:link]->(objects)-[:HAVE]->(actions) SET actions.Status={stat} RETURN actions","x":664.7385025024414,"y":804.2361450195312,"wires":[[]]},{"id":"d23aea38.fa7308","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"payload.data[0][0].ip","x":1194.326805114746,"y":795.3258371353149,"wires":[]},{"id":"f68384ae.c30bc8","type":"function","z":"7ce42bc9.d072b4","name":"PREPARE TCP","func":"var pay=msg.payload;\n// var ip=pay.data[1].ip;\n// var value = pay.data[0];\n// msg.host=ip;\n// msg.port=80;\n// msg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n// return msg;\n\nvar ip=pay.data[0][0].ip;\nvar puerto=pay.data[0][0].puerto;\nvar value=pay.data[0][2].Status;\n\nmsg.host=ip;\nmsg.port=puerto;\nif(value==\"ON\" || value==\"OFF\"){\n    \n        msg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n}else {\n    var val= parseInt(value);\n    if(val<100){\n        msg.payload=\"GET /?VALUE:0\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n    }else if(val<10){\n        msg.payload=\"GET /?VALUE:00\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n    }{\n        msg.payload=\"GET /?VALUE:\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n    }\n    \n}\n\n// var j=global.get('i');\n// global.set('i',j+1);\nreturn msg;","outputs":1,"noerr":0,"x":695.5712661743164,"y":1127.888427734375,"wires":[["a085cd34.90839","27010a92.65f5e6"]]},{"id":"a085cd34.90839","type":"tcp request","z":"7ce42bc9.d072b4","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":843.5713882446289,"y":1059.8883056640625,"wires":[["94b379ea.477d08","17772121.8c9a5f"]]},{"id":"17772121.8c9a5f","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"true","x":1161.404685974121,"y":1125.8015451431274,"wires":[]},{"id":"b497ad7c.624ca","type":"switch","z":"7ce42bc9.d072b4","name":"","property":"fin","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1045.0712966918945,"y":940.2216501235962,"wires":[[],["17772121.8c9a5f"]]},{"id":"94b379ea.477d08","type":"function","z":"7ce42bc9.d072b4","name":"","func":"\n    msg.fin=1;\n","outputs":1,"noerr":0,"x":925.0712966918945,"y":985.5550241470337,"wires":[["b497ad7c.624ca"]]},{"id":"27010a92.65f5e6","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"true","x":873.0713272094727,"y":1187.2216796875,"wires":[]},{"id":"67d0fff7.901a3","type":"debug","z":"7ce42bc9.d072b4","name":"le llega a change/state","active":true,"console":"false","complete":"payload","x":244.84757232666016,"y":1045.0486450195312,"wires":[]},{"id":"eb8184a1.7831d8","type":"switch","z":"7ce42bc9.d072b4","name":"PROTOCOL","property":"payload.data[0][1].protocol","propertyType":"msg","rules":[{"t":"eq","v":"TCP","vt":"str"},{"t":"eq","v":"MQTT","vt":"str"},{"t":"eq","v":"UDP","vt":"str"},{"t":"eq","v":"SERIAL","vt":"str"}],"checkall":"true","outputs":4,"x":458.34757232666016,"y":1139.3819580078125,"wires":[["f68384ae.c30bc8"],["43096aff.f51ca4"],[],[]]},{"id":"27606ec9.4641f2","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"false","x":758.9030838012695,"y":945.1597900390625,"wires":[]},{"id":"ee646172.50403","type":"mqtt out","z":"7ce42bc9.d072b4","name":"cafetera","topic":"","qos":"","retain":"","broker":"20822ad3.e8fc56","x":914.7919387817383,"y":1270.8263549804688,"wires":[]},{"id":"43096aff.f51ca4","type":"function","z":"7ce42bc9.d072b4","name":"comunicacion mqtt","func":"var pay=msg.payload;\n\nvar topico=pay.data[0][0].ip;\nvar value=pay.data[0][2].Status;\n\n\nmsg.topic = topico;\nmsg.payload = value.toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"x":659.791877746582,"y":1243.4929809570312,"wires":[["ee646172.50403","954ba07d.19c62"]]},{"id":"954ba07d.19c62","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"payload","x":761.2919387817383,"y":1377.8262939453125,"wires":[]},{"id":"a0cd2713.112208","type":"mqtt in","z":"7ce42bc9.d072b4","name":"cafetera","topic":"/cafetera","qos":"2","broker":"20822ad3.e8fc56","x":937.2919387817383,"y":1388.8263549804688,"wires":[["d3bb8262.12207"]]},{"id":"d3bb8262.12207","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"false","x":1146.2919387817383,"y":1317.4929809570312,"wires":[]},{"id":"82e86890.b47fa8","type":"neo4j","z":"7ce42bc9.d072b4","name":"MODIFY NODE V2","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (a:Action { code:{code}})<-[:HAVE]-(obj)<-[:HAVE]-(dev) SET a.Status = {stat} RETURN dev,obj,a","x":692.0141677856445,"y":744.71533203125,"wires":[["a0796a72.87cf58","eb8184a1.7831d8","27606ec9.4641f2"]]},{"id":"7c08326f.35b53c","type":"http in","z":"7ce42bc9.d072b4","name":"COMPLETE ACTION","url":"/COMPLETE/ACTION","method":"get","swaggerDoc":"","x":255.01432037353516,"y":1588.3821926116943,"wires":[["79e5c302.9e317c"]]},{"id":"79e5c302.9e317c","type":"function","z":"7ce42bc9.d072b4","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":367.01432037353516,"y":1483.3821773529053,"wires":[["1581efa6.8aefd"]]},{"id":"1581efa6.8aefd","type":"switch","z":"7ce42bc9.d072b4","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":473.01432037353516,"y":1531.3821773529053,"wires":[["8bb38f28.70f46"],["a557ca1c.0b6608"]]},{"id":"c10ff841.4e98b8","type":"http response","z":"7ce42bc9.d072b4","name":"RESPONSE INFO","x":827.0143203735352,"y":1567.3821773529053,"wires":[]},{"id":"a557ca1c.0b6608","type":"http response","z":"7ce42bc9.d072b4","name":"ERROR INFO","x":619.0143356323242,"y":1585.3821926116943,"wires":[]},{"id":"fbfb3a3.d8f21c8","type":"function","z":"7ce42bc9.d072b4","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":753.014289855957,"y":1513.3821926116943,"wires":[["c10ff841.4e98b8"]]},{"id":"db0693e.987807","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"payload","x":924.968879699707,"y":1479.617971420288,"wires":[]},{"id":"8bb38f28.70f46","type":"neo4j","z":"7ce42bc9.d072b4","name":"COMPLETE ACTION","url":"http://neo4j:integradora@200.126.23.138:7474","query":"match(device)-[:HAVE]->(object)-[:HAVE]->(action {code:{code}}) return device,object,action","x":629.0143203735352,"y":1450.3821773529053,"wires":[["fbfb3a3.d8f21c8","db0693e.987807"]]},{"id":"b5914d64.e1809","type":"http in","z":"7ce42bc9.d072b4","name":"DELETE COMPLETE ACTION","url":"/DELETE/COMPLETE/ACTION","method":"get","swaggerDoc":"","x":204.01435089111328,"y":1790.3821773529053,"wires":[["66e0c485.6da78c"]]},{"id":"66e0c485.6da78c","type":"function","z":"7ce42bc9.d072b4","name":"Validate DELETE","func":"var header = msg.req.query;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":332.01434326171875,"y":1676.3819408416748,"wires":[["3a77acaa.bfd0d4"]]},{"id":"3a77acaa.bfd0d4","type":"switch","z":"7ce42bc9.d072b4","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":436.01434326171875,"y":1746.3819408416748,"wires":[["6a5fddf7.c59da4"],["889ee98d.1fbe88"]]},{"id":"7e3e01c9.5400c","type":"http response","z":"7ce42bc9.d072b4","name":"RESPONSE DELETE","x":891.0143280029297,"y":1770.3819561004639,"wires":[]},{"id":"889ee98d.1fbe88","type":"http response","z":"7ce42bc9.d072b4","name":"ERROR DELETE","x":622.0143432617188,"y":1778.3819408416748,"wires":[]},{"id":"ee4f0833.e6aaf8","type":"function","z":"7ce42bc9.d072b4","name":"SEARCH","func":"\nreturn msg;","outputs":1,"noerr":0,"x":927.0143280029297,"y":1681.3819561004639,"wires":[["7e3e01c9.5400c"]]},{"id":"6a5fddf7.c59da4","type":"neo4j","z":"7ce42bc9.d072b4","name":"DELETE NODE COMPLETE ACTION","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (a:Device) MATCH (a)-[r]->(b:Object) MATCH (b)-[r1]->(c:Action {code:{code} }) delete c,r1","x":669.014289855957,"y":1678.7156734466553,"wires":[["ee4f0833.e6aaf8"]]},{"id":"3275d86e.2d2938","type":"http in","z":"7ce42bc9.d072b4","name":"MODIFY ACTION","url":"/MODIFY/ACTIONEDIT","method":"get","swaggerDoc":"","x":235.11331939697266,"y":1939.6321773529053,"wires":[["5e70e7d0.27b9a8"]]},{"id":"5e70e7d0.27b9a8","type":"function","z":"7ce42bc9.d072b4","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":318.11331939697266,"y":1888.6321773529053,"wires":[["5c5e3da8.efe2a4"]]},{"id":"5c5e3da8.efe2a4","type":"switch","z":"7ce42bc9.d072b4","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":428.1133041381836,"y":1941.6321773529053,"wires":[["69f8e82a.090b18"],["f591780b.2bcef8"]]},{"id":"5e6f28c5.cf5fe8","type":"http response","z":"7ce42bc9.d072b4","name":"RESPONSE INFO","x":867.1132888793945,"y":1980.6321773529053,"wires":[]},{"id":"f591780b.2bcef8","type":"http response","z":"7ce42bc9.d072b4","name":"ERROR INFO","x":586.1132888793945,"y":1995.6321773529053,"wires":[]},{"id":"7aa28646.c6eb58","type":"function","z":"7ce42bc9.d072b4","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":771.1132888793945,"y":1896.6321773529053,"wires":[["5e6f28c5.cf5fe8"]]},{"id":"69f8e82a.090b18","type":"neo4j","z":"7ce42bc9.d072b4","name":"MODIFY ACTION","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (a:Action {code:{code} }) SET a.Type = {type}, a.Description = {description} RETURN a","x":588.1133193969727,"y":1888.6321773529053,"wires":[["7aa28646.c6eb58"]]},{"id":"a3a061c1.51fe4","type":"function","z":"7ce42bc9.d072b4","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined ||\n    parameters.stat === null ||\n    parameters.stat === undefined){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":144.20175170898438,"y":3526.381694793701,"wires":[["78309196.964ca","e51dc0c.9bd344"]]},{"id":"78309196.964ca","type":"switch","z":"7ce42bc9.d072b4","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":421.2017936706543,"y":3444.1318759918213,"wires":[["8bcadfdd.21264","ba9f170c.f5af78"],["31dc20cb.bdcff"]]},{"id":"117a9b84.7247d4","type":"http response","z":"7ce42bc9.d072b4","name":"RESPONSE INFO","x":638.7018661499023,"y":3533.631814956665,"wires":[]},{"id":"31dc20cb.bdcff","type":"http response","z":"7ce42bc9.d072b4","name":"ERROR MODIFY","x":409.2017517089844,"y":3490.6316928863525,"wires":[]},{"id":"218fc602.1512ea","type":"function","z":"7ce42bc9.d072b4","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":667.7016906738281,"y":3487.6318759918213,"wires":[["117a9b84.7247d4","f7444112.3239f"]]},{"id":"ea3e1b95.4564a8","type":"http in","z":"7ce42bc9.d072b4","name":"CHANGE STATE","url":"/CHANGE/STATE","method":"get","swaggerDoc":"","x":105.34759521484375,"y":3431.2455258369446,"wires":[["a3a061c1.51fe4"]]},{"id":"f7444112.3239f","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"payload.data[0][0].ip","x":962.3268241882324,"y":3487.72159576416,"wires":[]},{"id":"9747a0ed.10e2b","type":"function","z":"7ce42bc9.d072b4","name":"PREPARE TCP","func":"var pay=msg.payload;\n// var ip=pay.data[1].ip;\n// var value = pay.data[0];\n// msg.host=ip;\n// msg.port=80;\n// msg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n// return msg;\n\nvar ip=pay.data[0][0].ip;\nvar puerto=pay.data[0][0].puerto;\nvar value=pay.data[0][2].Status;\n\nmsg.host=ip;\nmsg.port=puerto;\nif(value==\"ON\" || value==\"OFF\"){\n    \n        msg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n}else {\n    var val= parseInt(value);\n    if(val<100){\n        msg.payload=\"GET /?VALUE:0\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n    }else if(val<10){\n        msg.payload=\"GET /?VALUE:00\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n    }{\n        msg.payload=\"GET /?VALUE:\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\n    }\n    \n}\n\n// var j=global.get('i');\n// global.set('i',j+1);\nreturn msg;","outputs":1,"noerr":0,"x":699.5712585449219,"y":3655.283981323242,"wires":[["a6609a02.215ba8","71541b89.ce4184"]]},{"id":"a6609a02.215ba8","type":"tcp request","z":"7ce42bc9.d072b4","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":899.5714645385742,"y":3594.2841625213623,"wires":[["6d81344e.102cfc","5c0efb7b.9b2a04"]]},{"id":"5c0efb7b.9b2a04","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"true","x":1200.4047241210938,"y":3686.1972489356995,"wires":[]},{"id":"b24e2fb6.23bd1","type":"switch","z":"7ce42bc9.d072b4","name":"","property":"fin","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1227.0714111328125,"y":3595.617473602295,"wires":[[],["5c0efb7b.9b2a04"]]},{"id":"6d81344e.102cfc","type":"function","z":"7ce42bc9.d072b4","name":"","func":"\n    msg.fin=1;\n","outputs":1,"noerr":0,"x":1089.0714073181152,"y":3593.950665473938,"wires":[["b24e2fb6.23bd1"]]},{"id":"71541b89.ce4184","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"true","x":879.0713596343994,"y":3656.617233276367,"wires":[]},{"id":"e51dc0c.9bd344","type":"debug","z":"7ce42bc9.d072b4","name":"le llega a change/state","active":true,"console":"false","complete":"payload","x":187.8476104736328,"y":3650.4444394111633,"wires":[]},{"id":"2b7e0ea.f8477f2","type":"switch","z":"7ce42bc9.d072b4","name":"PROTOCOL","property":"payload.data[0][1].protocol","propertyType":"msg","rules":[{"t":"eq","v":"TCP","vt":"str"},{"t":"eq","v":"MQTT","vt":"str"},{"t":"eq","v":"UDP","vt":"str"},{"t":"eq","v":"SERIAL","vt":"str"}],"checkall":"true","outputs":4,"x":515.3476219177246,"y":3765.777629852295,"wires":[["9747a0ed.10e2b"],["e00f3c.8776a0c8"],[],[]]},{"id":"2933e38d.9063ac","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"false","x":914.9032859802246,"y":3435.555763244629,"wires":[]},{"id":"468df93d.7eebd8","type":"mqtt out","z":"7ce42bc9.d072b4","name":"cafetera","topic":"","qos":"","retain":"","broker":"20822ad3.e8fc56","x":921.7919406890869,"y":3740.221970319748,"wires":[]},{"id":"e00f3c.8776a0c8","type":"function","z":"7ce42bc9.d072b4","name":"comunicacion mqtt","func":"var pay=msg.payload;\n\nvar topico=pay.data[0][0].ip;\nvar value=pay.data[0][2].Status;\n\n\nmsg.topic = topico;\nmsg.payload = value.toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"x":732.7919006347656,"y":3756.888596534729,"wires":[["468df93d.7eebd8","701a9c88.c9b5d4"]]},{"id":"701a9c88.c9b5d4","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"payload","x":923.2920303344727,"y":3811.221794128418,"wires":[]},{"id":"c3c8b748.0a4cf8","type":"mqtt in","z":"7ce42bc9.d072b4","name":"cafetera","topic":"/cafetera","qos":"2","broker":"20822ad3.e8fc56","x":1070.2920188903809,"y":3740.221855163574,"wires":[["69bb4c23.d3d6e4"]]},{"id":"69bb4c23.d3d6e4","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"false","x":1193.2920379638672,"y":3808.888843536377,"wires":[]},{"id":"8bcadfdd.21264","type":"neo4j","z":"7ce42bc9.d072b4","name":"MODIFY NODE V2","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (a:Action { code:{code}})<-[:HAVE]-(obj)<-[:HAVE]-(dev) SET a.Status = {stat} RETURN dev,obj,a","x":646.0141906738281,"y":3441.1111240386963,"wires":[["218fc602.1512ea","2b7e0ea.f8477f2","2933e38d.9063ac"]]},{"id":"8f39a8ed.564678","type":"function","z":"7ce42bc9.d072b4","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar ip=pay.data[0][0].ip;\nvar puerto=pay.data[0][0].puerto;\nvar value=pay.data[0][1].Status;\nmsg.host=ip;\nmsg.port=puerto;\nmsg.payload=\"GET /\"+value+\" HTTP/1.1\\r\\n\\r\\n\";\nvar j=global.get('i');\nglobal.set('i',j+1);\nreturn msg;","outputs":1,"noerr":0,"x":609.0142593383789,"y":4085.048647403717,"wires":[["25d8be46.b16d32","a7f151db.ddf4b"]]},{"id":"25d8be46.b16d32","type":"tcp request","z":"7ce42bc9.d072b4","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":823.0143203735352,"y":4041.048616886139,"wires":[["313256be.00f56a"]]},{"id":"3b04a490.7e69dc","type":"function","z":"7ce42bc9.d072b4","name":"TO MSG.PAYLOAD","func":"var map={};\nmap.code=msg.payload.code;\nmsg.payload=map\nreturn msg;","outputs":1,"noerr":0,"x":535.844123840332,"y":4159.711733341217,"wires":[["8f503b06.f75208"]]},{"id":"e705af58.4f9af","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"true","x":1274.8477249145508,"y":4086.9618554115295,"wires":[]},{"id":"7a692698.b13578","type":"switch","z":"7ce42bc9.d072b4","name":"","property":"fin","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1045.5144081115723,"y":4008.3823800086975,"wires":[["8c9fd64b.fd60c8"],["e705af58.4f9af"]]},{"id":"313256be.00f56a","type":"function","z":"7ce42bc9.d072b4","name":"","func":"var i=global.get('i');\nvar tam=global.get('tam');\nif(i==tam)\n    msg.fin=0;\nelse\n    msg.fin=1;\nreturn msg;","outputs":1,"noerr":0,"x":1129.5143508911133,"y":4182.715242862701,"wires":[["7a692698.b13578"]]},{"id":"a7f151db.ddf4b","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"true","x":897.5143203735352,"y":4108.381960391998,"wires":[]},{"id":"85a419da.44f118","type":"mqtt out","z":"7ce42bc9.d072b4","name":"cafetera","topic":"","qos":"","retain":"","broker":"20822ad3.e8fc56","x":753.0143508911133,"y":4342.723757266998,"wires":[]},{"id":"c4f85a2.67d26a8","type":"function","z":"7ce42bc9.d072b4","name":"comunicacion mqtt","func":"var pay=msg.payload;\n\nvar topico=pay.data[0][0].ip;\nvar value=pay.data[0][2].Status;\n\n\nmsg.topic = topico;\nmsg.payload = value.toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"x":516.0143203735352,"y":4313.390383243561,"wires":[["85a419da.44f118","3701c867.c68e68","313256be.00f56a"]]},{"id":"3701c867.c68e68","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"payload","x":604.514289855957,"y":4403.723757266998,"wires":[]},{"id":"85d971.3744469","type":"mqtt in","z":"7ce42bc9.d072b4","name":"cafetera","topic":"/cafetera","qos":"2","broker":"20822ad3.e8fc56","x":782.5143508911133,"y":4399.7238183021545,"wires":[["f48f6b99.aa4d98"]]},{"id":"f48f6b99.aa4d98","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"false","x":976.5143508911133,"y":4388.390352725983,"wires":[]},{"id":"e951b3de.a00d6","type":"switch","z":"7ce42bc9.d072b4","name":"PROTOCOL","property":"payload.protocol","propertyType":"msg","rules":[{"t":"eq","v":"TCP","vt":"str"},{"t":"eq","v":"MQTT","vt":"str"}],"checkall":"true","outputs":2,"x":287.01441192626953,"y":4081.048641681671,"wires":[["3b04a490.7e69dc"],["c4f85a2.67d26a8"]]},{"id":"d52659c7.9bd858","type":"function","z":"7ce42bc9.d072b4","name":"GLOBAL INFORMATION","func":"var pay2= msg.payload;\nglobal.set('i',0);\nglobal.set('tam',pay2.data.length);\nglobal.set('pay',pay2);\nreturn msg;","outputs":1,"noerr":0,"x":745.8511428833008,"y":3856.5977058410645,"wires":[["8c9fd64b.fd60c8","c3d2d6bc.def6a8"]]},{"id":"8c9fd64b.fd60c8","type":"function","z":"7ce42bc9.d072b4","name":"RECORRIDO","func":"var TAM=global.get('tam');\nvar i=global.get('i');\nvar pay=global.get('pay');\nmsg.payload=pay.data[i];\nreturn msg","outputs":"1","noerr":0,"x":963.0143890380859,"y":3905.0484561920166,"wires":[["e951b3de.a00d6"]]},{"id":"65bb5959.1de008","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"true","x":494.84759521484375,"y":3954.3820123672485,"wires":[]},{"id":"51f85916.936688","type":"switch","z":"7ce42bc9.d072b4","name":"desicion tam","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":516.8476028442383,"y":3860.381706237793,"wires":[["d52659c7.9bd858"],["8adc05db.e3a558"]]},{"id":"8adc05db.e3a558","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"true","x":703.0142631530762,"y":3933.7155141830444,"wires":[]},{"id":"ba9f170c.f5af78","type":"neo4j","z":"7ce42bc9.d072b4","name":"CASCADE_ACTIONS","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (action {code:{code}})<-[:HAVE]-(o:Object) OPTIONAL MATCH (o)-[:link]->(o1:Object) OPTIONAL MATCH (o1)-[:HAVE]->(actions)  SET actions.Status={stat} RETURN o1","x":287.0142517089844,"y":3910.715156555176,"wires":[["65bb5959.1de008","51f85916.936688"]]},{"id":"c3d2d6bc.def6a8","type":"debug","z":"7ce42bc9.d072b4","name":"","active":true,"console":"false","complete":"true","x":946.01416015625,"y":3859.0486392974854,"wires":[]},{"id":"8f503b06.f75208","type":"neo4j","z":"7ce42bc9.d072b4","name":"VERIFY ACTION","url":"http://neo4j:integradora@200.126.23.138:7474","query":"MATCH (d:Device)-[r]->(o:Object{code:{code}}) OPTIONAL MATCH (o)-[:HAVE]-(a:Action) RETURN d,a","x":752.0141983032227,"y":4168.715395450592,"wires":[["8f39a8ed.564678"]]},{"id":"20822ad3.e8fc56","type":"mqtt-broker","z":"","broker":"200.126.23.131","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]