Flujos/Conexiones.txt
[{"id":"a292fd95.57606","type":"http in","z":"243f7e2a.36ea22","name":"MODIFY ACTION","url":"/MODIFY/ACTION","method":"get","swaggerDoc":"","x":135.66665649414062,"y":100.99151802062988,"wires":[["5f18d8db.eaac88"]]},{"id":"5f18d8db.eaac88","type":"function","z":"243f7e2a.36ea22","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(Object.keys(parameters).length < 2){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":183.66663360595703,"y":180.99151229858398,"wires":[["631b1bbc.a07714"]]},{"id":"def69e46.07ea2","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY NODES","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device { ip: {ip} })-[r]->(o:Object)\nRETURN d,o","x":457.66662216186523,"y":128.99152088165283,"wires":[["c0890a36.a6bd18"]]},{"id":"631b1bbc.a07714","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":181.6666488647461,"y":242.99151706695557,"wires":[["def69e46.07ea2"],["c210fa74.641af8"]]},{"id":"c210fa74.641af8","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":925.6666412353516,"y":295.99133682250977,"wires":[]},{"id":"c0890a36.a6bd18","type":"function","z":"243f7e2a.36ea22","name":"SEARCH","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}else{\n    msg.payload.obj = pay.data[0][1].code;\n}\nreturn msg;","outputs":1,"noerr":0,"x":464.6666069030762,"y":182.9915132522583,"wires":[["e75c9b30.ab1318"]]},{"id":"e75c9b30.ab1318","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":473.66664123535156,"y":238.99151515960693,"wires":[["e0e5c37a.a8a98"],["c210fa74.641af8"]]},{"id":"e0e5c37a.a8a98","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action)\nRETURN a,o","x":724.6665954589844,"y":134.9915370941162,"wires":[["fcfca80e.2d89f8"]]},{"id":"fcfca80e.2d89f8","type":"function","z":"243f7e2a.36ea22","name":"CHANGE ACTION","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\nvar object = pay.data[0][1];\nvar action = pay.data[0][0];\nvar map={};\nif(action.Status === \"OFF\")\n    action.Status  =\"ON\";\nelse\n    action.Status=\"OFF\";\nglobal.set('value',action.Status);\nmap.obj=object.code;\nmap.stat=action.Status;\nmap.act=action.code;\nmsg.payload=map;\nreturn msg;","outputs":1,"noerr":0,"x":726.6666717529297,"y":176.99151611328125,"wires":[["7e88bcde.a17054","d42df72e.5f75a8"]]},{"id":"7e88bcde.a17054","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:HAVE]->(ac1) set ac1.Status = {stat} return ac1.code","x":976.7663726806641,"y":191.08246040344238,"wires":[["f2652e80.b23f"]]},{"id":"61c16a23.0b8044","type":"comment","z":"243f7e2a.36ea22","name":"Search","info":"For verifying that a object exits given an ip","x":454.7812156677246,"y":75.42328453063965,"wires":[]},{"id":"9b06d3c3.b3c4f","type":"comment","z":"243f7e2a.36ea22","name":"Device exists","info":"For veryfing that a device exists given an ip","x":192.7897491455078,"y":323.42896270751953,"wires":[]},{"id":"d42df72e.5f75a8","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":711.2871131896973,"y":240.00570511817932,"wires":[[],["c210fa74.641af8"]]},{"id":"dda3cbbf.27fda8","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1277.3750457763672,"y":188.76564693450928,"wires":[["4d49039b.c05b9c"]]},{"id":"e204598.3441ba8","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"false","x":1533.3831825256348,"y":73.52345180511475,"wires":[]},{"id":"f2652e80.b23f","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1144.8828735351562,"y":188.8867244720459,"wires":[["dda3cbbf.27fda8"]]},{"id":"b0d1ed94.1effc","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar device = pay.data[0];\nvar ip=device.ip;\nvar port=device.puerto;\nmsg.host= ip;\nmsg.port= port;\nreturn msg;","outputs":1,"noerr":0,"x":1816.7658805847168,"y":190.75000953674316,"wires":[["817a747b.084028","d59b5dd3.a8ca3"]]},{"id":"817a747b.084028","type":"tcp request","z":"243f7e2a.36ea22","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":2036.7662506103516,"y":192.7500228881836,"wires":[[]]},{"id":"4472d327.b3755c","type":"neo4j","z":"243f7e2a.36ea22","name":"OBTAIN DEVICE INFO","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action{code:{code}}) MATCH (a)<-[:HAVE]-(o) MATCH (o)<-[:HAVE]-(d) return d LIMIT 1","x":1602.661750793457,"y":188.6388988494873,"wires":[["b0d1ed94.1effc"]]},{"id":"d59b5dd3.a8ca3","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"payload","x":1947.2662811279297,"y":282.0833206176758,"wires":[]},{"id":"4d49039b.c05b9c","type":"function","z":"243f7e2a.36ea22","name":"get code","func":"msg.payload = {code: msg.payload}; \nreturn msg;","outputs":1,"noerr":0,"x":1401.0156860351562,"y":185.7500138282776,"wires":[["4472d327.b3755c","e204598.3441ba8"]]},{"id":"244c8d62.251792","type":"http in","z":"243f7e2a.36ea22","name":"MODIFY ACTION 1","url":"/MODIFY/ACTION1","method":"get","swaggerDoc":"","x":145.03125,"y":510.0469036102295,"wires":[["d5a99bfe.1997b8"]]},{"id":"d5a99bfe.1997b8","type":"function","z":"243f7e2a.36ea22","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(Object.keys(parameters).length < 2){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":208.0312271118164,"y":560.0468711853027,"wires":[["3920b649.00ff9a"]]},{"id":"af644deb.781b7","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY NODES","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device { ip: {ip} })-[r]->(o:Object)\nRETURN d,o","x":482.0312156677246,"y":508.0468797683716,"wires":[["e4509c1a.e6929"]]},{"id":"3920b649.00ff9a","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":206.03124237060547,"y":622.0468759536743,"wires":[["af644deb.781b7"],["4831ff85.f9ee2"]]},{"id":"4831ff85.f9ee2","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":950.0312347412109,"y":675.0466957092285,"wires":[]},{"id":"e4509c1a.e6929","type":"function","z":"243f7e2a.36ea22","name":"SEARCH","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}else{\n    msg.payload.obj = pay.data[0][1].code;\n}\nreturn msg;","outputs":1,"noerr":0,"x":489.03120040893555,"y":562.046872138977,"wires":[["652a446d.ea953c"]]},{"id":"652a446d.ea953c","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":498.03123474121094,"y":618.0468740463257,"wires":[["9fc47345.d8103"],["4831ff85.f9ee2"]]},{"id":"9fc47345.d8103","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action)\nRETURN a,o","x":749.0311889648438,"y":514.046895980835,"wires":[["e6c4db2f.c355c8"]]},{"id":"e6c4db2f.c355c8","type":"function","z":"243f7e2a.36ea22","name":"CHANGE ACTION","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\nvar object = pay.data[0][1];\nvar action = pay.data[0][0];\nvar map={};\nif(action.Status === \"OFF\")\n    action.Status  =\"ON\";\nelse\n    action.Status=\"OFF\";\nglobal.set('value',action.Status);\nmap.obj=object.code;\nmap.stat=action.Status;\nmap.act=action.code;\nmsg.payload=map;\nreturn msg;","outputs":1,"noerr":0,"x":751.0312652587891,"y":556.046875,"wires":[["64c78933.1e2d68","7a624c1d.ca34e4","1040ba52.14a6d6"]]},{"id":"64c78933.1e2d68","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS LINKED OBJECTS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:link]->(o1) MATCH (o1)-[:HAVE]->(a1)  MATCH (o1)<-[:HAVE]-(d1) set a1.Status = {stat} return d1","x":1044.1310577392578,"y":566.1378517150879,"wires":[["53ec22a4.4b4a5c"]]},{"id":"460b4272.80be5c","type":"comment","z":"243f7e2a.36ea22","name":"Search","info":"For verifying that a object exits given an ip","x":479.145809173584,"y":454.4786434173584,"wires":[]},{"id":"c4ebec40.6242b","type":"comment","z":"243f7e2a.36ea22","name":"Modify action by object code","info":"For veryfing that a device exists given an ip","x":168.1543426513672,"y":752.4843692779541,"wires":[]},{"id":"7a624c1d.ca34e4","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":735.6517066955566,"y":619.0610640048981,"wires":[[],["4831ff85.f9ee2"]]},{"id":"53ec22a4.4b4a5c","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1268.247959136963,"y":567.942253112793,"wires":[["898408b5.315008"]]},{"id":"fb43a6d6.f69818","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar device = pay[0];\nvar ip=device.ip;\nvar port=device.puerto;\nmsg.host= ip;\nmsg.port= port;\nreturn msg;","outputs":1,"noerr":0,"x":1541.130630493164,"y":515.805326461792,"wires":[["f6b8136c.a7bc"]]},{"id":"f6b8136c.a7bc","type":"tcp request","z":"243f7e2a.36ea22","server":"","port":"","out":"time","splitc":"100","name":"TCP REQUEST","x":1744.1312847137451,"y":536.8053283691406,"wires":[["7406741b.eb181c"]]},{"id":"898408b5.315008","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1398.6669120788574,"y":566.3333683013916,"wires":[["b6cd0e12.1d517"]]},{"id":"1040ba52.14a6d6","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:HAVE]->(a) MATCH (o)<-[:HAVE]-(d)  set a.Status = {stat} return d","x":980.3333129882812,"y":510,"wires":[["6ec4c3fa.790afc"]]},{"id":"6ec4c3fa.790afc","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1172.6666259765625,"y":515,"wires":[["fb43a6d6.f69818"]]},{"id":"b6cd0e12.1d517","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar device = pay;\nvar ip=device.ip;\nvar port=device.puerto;\nmsg.host= ip;\nmsg.port= port;\nreturn msg;","outputs":1,"noerr":0,"x":1542.000259399414,"y":568.9999980926514,"wires":[["f6b8136c.a7bc"]]},{"id":"7406741b.eb181c","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":1941.0000686645508,"y":536.0001554489136,"wires":[]},{"id":"d741d3a3.1ba32","type":"http in","z":"243f7e2a.36ea22","name":"MODIFY ACTION 2","url":"/MODIFY/ACTION2","method":"get","swaggerDoc":"","x":139,"y":809.9999961853027,"wires":[["cbb15fa.a9b98a"]]},{"id":"cbb15fa.a9b98a","type":"function","z":"243f7e2a.36ea22","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(Object.keys(parameters).length < 2){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":331,"y":811,"wires":[["d3779d62.37a04","94def817.302488"]]},{"id":"f5f055da.3088c8","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":1004.9999618530273,"y":927.9998435974121,"wires":[]},{"id":"d3779d62.37a04","type":"neo4j","z":"243f7e2a.36ea22","name":"OBTAIN OBJECT","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{code}})-[r]->(a:Action) set a.Status = {value} \nRETURN o, a.Status","x":527.9999389648438,"y":812,"wires":[["c481d847.5c9a98"]]},{"id":"c481d847.5c9a98","type":"function","z":"243f7e2a.36ea22","name":"CHANGE ACTION","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\nvar object = pay.data[0][0];\nvar actionStatus = pay.data[0][1];\n\nvar map = {};\nmap.obj = object.code;\nmap.stat = actionStatus;\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":812,"wires":[["70ec9b72.6aa574","f3a6a5f7.a6a488","c398cf3.c2e3e3"]]},{"id":"f3a6a5f7.a6a488","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:link]->(o1) MATCH (o1)-[:HAVE]->(a1) MATCH (o1)<-[:HAVE]-(d1) set a1.Status = {stat} return d1, a1.code, a1.Status","x":1061.1000366210938,"y":815.0909991264343,"wires":[["758becb1.8a5b24","ac1788bf.080ad8"]]},{"id":"343cc349.77caac","type":"comment","z":"243f7e2a.36ea22","name":"Search","info":"For verifying that a object exits given an ip","x":721.114559173584,"y":761.43181848526,"wires":[]},{"id":"70ec9b72.6aa574","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":935.6204147338867,"y":869.0142736434937,"wires":[[],["f5f055da.3088c8"]]},{"id":"ac1788bf.080ad8","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1346.216646194458,"y":815.8953585624695,"wires":[["78c2d2f5.6d361c"]]},{"id":"7a82564f.808a38","type":"tcp request","z":"243f7e2a.36ea22","server":"","port":"","out":"char","splitc":"\\n","name":"TCP REQUEST","x":1840.0999774932861,"y":814.7584953308105,"wires":[["46386b92.4b6654"]]},{"id":"78c2d2f5.6d361c","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1482.6355991363525,"y":815.2864723205566,"wires":[["8f32aa3b.471848"]]},{"id":"8f32aa3b.471848","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar device = pay[0];\nvar ip=device.ip;\nvar port=device.puerto;\nvar value = pay[2];\nvar action = pay[1];\n\nmsg.host= ip;\nmsg.port= port;\nmsg.payload=\"{\"+action+ \",\"+ value +\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":1637.969102859497,"y":813.9531383514404,"wires":[["aa0ccd59.599c8","25f0a688.3183aa","7a82564f.808a38"]]},{"id":"758becb1.8a5b24","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":1266.8324127197266,"y":939.7330913543701,"wires":[["5e6cf3d7.dd8b2c"]]},{"id":"5e6cf3d7.dd8b2c","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1399.8326416015625,"y":939.7330455780029,"wires":[["860f4144.90777"]]},{"id":"1a266be8.d3b0d4","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"true","x":2538.667079925537,"y":748.3334455490112,"wires":[]},{"id":"57af9a5c.7312b4","type":"function","z":"243f7e2a.36ea22","name":"","func":"msg.payload=1;\n","outputs":1,"noerr":0,"x":2235.667106628418,"y":739.3334445953369,"wires":[["495a993.10fa468"]]},{"id":"495a993.10fa468","type":"switch","z":"243f7e2a.36ea22","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":2393.666778564453,"y":741.3335514068604,"wires":[[],["1a266be8.d3b0d4"]]},{"id":"c398cf3.c2e3e3","type":"http response","z":"243f7e2a.36ea22","name":"RESPONSE INFO","x":757.0000457763672,"y":927.000057220459,"wires":[]},{"id":"aa0ccd59.599c8","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"payload","x":1824.3334140777588,"y":869.3333702087402,"wires":[]},{"id":"46386b92.4b6654","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"payload","x":2024.333330154419,"y":813.3333415985107,"wires":[]},{"id":"94def817.302488","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"req.query","x":518.0000228881836,"y":887.2000713348389,"wires":[]},{"id":"9d99e4d2.d8e498","type":"function","z":"243f7e2a.36ea22","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(Object.keys(parameters).length < 2){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":315.0142135620117,"y":1079.0057373046875,"wires":[["eded084c.4cd378","f171a628.28e448"]]},{"id":"eded084c.4cd378","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action{code:{code}})<-[r]-(o:Object) set a.Status = {value} \nRETURN o, a.Status","x":542.0141677856445,"y":1081.0057373046875,"wires":[["42e3e61b.41ee78"]]},{"id":"a8bbf684.a47518","type":"comment","z":"243f7e2a.36ea22","name":"Search","info":"For verifying that a object exits given an ip","x":474.1287727355957,"y":1024.437505722046,"wires":[]},{"id":"f171a628.28e448","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"req.query","x":533.0142288208008,"y":1140.2058267593384,"wires":[]},{"id":"25f0a688.3183aa","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"host","x":1827.7416400909424,"y":753.7329950332642,"wires":[]},{"id":"99ac78b3.253f08","type":"neo4j","z":"243f7e2a.36ea22","name":"GET OBJECT OF ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action{code:{act}})<-[r]-(o:Object) set a.Status = {stat} RETURN o.code, a.Status","x":1732.2658081054688,"y":937.2502193450928,"wires":[["a32accd0.1ef48"]]},{"id":"860f4144.90777","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload;\nvar map = {};\nmap.act = msg.payload[1];\nmap.stat = msg.payload[2];\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":1531.1963195800781,"y":937.7331981658936,"wires":[["99ac78b3.253f08"]]},{"id":"a32accd0.1ef48","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data[0];\nvar map = {};\nmap.obj = msg.payload[0];\nmap.stat = msg.payload[1];\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":1934.2660026550293,"y":937.2500424385071,"wires":[["f3a6a5f7.a6a488"]]},{"id":"d6994386.4f6d7","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":1161.765625,"y":1142.7500619888306,"wires":[]},{"id":"42e3e61b.41ee78","type":"function","z":"243f7e2a.36ea22","name":"CHANGE ACTION","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\nvar object = pay.data[0][0];\nvar actionStatus = pay.data[0][1];\n\nvar map = {};\nmap.obj = object.code;\nmap.stat = actionStatus;\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":772.7656631469727,"y":1080.750156402588,"wires":[["4688c51c.ed9a8c","39a38b6.27a1874","e433f1f4.0c915"]]},{"id":"39a38b6.27a1874","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:link]->(o1) MATCH (o1)-[:HAVE]->(a1) MATCH (o1)<-[:HAVE]-(d1) set a1.Status = {stat} return d1, a1.code, a1.Status","x":1323.8657684326172,"y":1081.8411865234375,"wires":[["f9da201c.d9de","6762b4da.783cac"]]},{"id":"4688c51c.ed9a8c","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":963.3860778808594,"y":1137.7644300460815,"wires":[[],["d6994386.4f6d7"]]},{"id":"6762b4da.783cac","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1634.9824829101562,"y":1079.6456513404846,"wires":[["c8dbc629.3435a8"]]},{"id":"1a7323ed.b7ce6c","type":"tcp request","z":"243f7e2a.36ea22","server":"","port":"","out":"char","splitc":"\\n","name":"TCP REQUEST","x":2660.8657989501953,"y":1019.5086898803711,"wires":[["a4542550.798138"]]},{"id":"c8dbc629.3435a8","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1771.4014358520508,"y":1079.0367650985718,"wires":[["d708a756.2947e8"]]},{"id":"d708a756.2947e8","type":"function","z":"243f7e2a.36ea22","name":"GET INFO","func":"var pay=msg.payload;\nvar device = pay[0];\nmsg.payload = {\n    \"devcode\": device.code,\n    \"ip\": device.ip,\n    \"port\": device.port,\n    \"protocol\": device.protocol,\n    \"action\": pay[1],\n    \"value\": pay[2]\n} \nreturn msg;","outputs":1,"noerr":0,"x":1951.735336303711,"y":1079.70361328125,"wires":[["b839ffa0.1f1af"]]},{"id":"f9da201c.d9de","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":1511.5980377197266,"y":1208.4832935333252,"wires":[["e96b7a58.8c0318"]]},{"id":"e96b7a58.8c0318","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1644.5982666015625,"y":1208.483247756958,"wires":[["b6ece738.5457a8"]]},{"id":"e433f1f4.0c915","type":"http response","z":"243f7e2a.36ea22","name":"RESPONSE INFO","x":984.7657089233398,"y":1020.7502918243408,"wires":[]},{"id":"a4542550.798138","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"payload","x":2853.098964691162,"y":1019.0836391448975,"wires":[]},{"id":"5f0b0d7f.e6f944","type":"neo4j","z":"243f7e2a.36ea22","name":"GET OBJECT OF ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action{code:{act}})<-[r]-(o:Object) set a.Status = {stat} RETURN o.code, a.Status","x":1975.0314178466797,"y":1207.000322341919,"wires":[["c089fcce.ec1ce"]]},{"id":"b6ece738.5457a8","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload;\nvar map = {};\nmap.act = msg.payload[1];\nmap.stat = msg.payload[2];\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":1775.9619445800781,"y":1206.4834003448486,"wires":[["5f0b0d7f.e6f944"]]},{"id":"c089fcce.ec1ce","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data[0];\nvar map = {};\nmap.obj = msg.payload[0];\nmap.stat = msg.payload[1];\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":2179.0316276550293,"y":1206.0002446174622,"wires":[["39a38b6.27a1874"]]},{"id":"f72fd126.0756c","type":"comment","z":"243f7e2a.36ea22","name":"Modify action by action code","info":"For veryfing that a device exists given an ip","x":151.76564025878906,"y":1037.7501544952393,"wires":[]},{"id":"d4cf3532.d3b328","type":"mqtt out","z":"243f7e2a.36ea22","name":"Send mqtt","topic":"","qos":"0","retain":"false","broker":"20822ad3.e8fc56","x":2652.3833770751953,"y":1140.5082054138184,"wires":[]},{"id":"b839ffa0.1f1af","type":"switch","z":"243f7e2a.36ea22","name":"   DECIDE ON PROTOCOL","property":"payload.protocol","propertyType":"msg","rules":[{"t":"eq","v":"TCP","vt":"str"},{"t":"eq","v":"MQTT","vt":"str"}],"checkall":"true","outputs":2,"x":2202.629291534424,"y":1078.5510864257812,"wires":[["9780251.585b4d8"],["e1ada218.c64f1"]]},{"id":"9780251.585b4d8","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar ip= msg.payload.ip;\nvar port= msg.payload.puerto;\nvar value = msg.payload.value;\nvar action = msg.payload.action;\n\nmsg.host= ip;\nmsg.port= port;\nmsg.payload=\"{\"+action+ \",\"+ value +\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":2464.7656784057617,"y":1020,"wires":[["1a7323ed.b7ce6c"]]},{"id":"d89b2032.ed4d9","type":"inject","z":"243f7e2a.36ea22","name":"testMQTT","topic":"","payload":"[ { \"trackable\": \"stones\", \"COM\": \"\", \"puerto\": \"80\", \"protocol\": \"MQTT\", \"code\": \"photon1\", \"ip\": \"192.168.65.238\", \"online\": \"true\", \"model\": \"Photon\", \"type\": \"Particle\", \"target\": \"StonesAndChips\", \"_id\": 9 }, \"turnOnOff1\", \"1\" ] ","payloadType":"json","repeat":"","crontab":"","once":false,"x":1759.8334884643555,"y":1024.0000438690186,"wires":[["d708a756.2947e8"]]},{"id":"e1ada218.c64f1","type":"function","z":"243f7e2a.36ea22","name":"PREPARE MQTT","func":"var pay=msg.payload;\nvar device = msg.payload.devcode;\nvar value = msg.payload.value;\nvar action = msg.payload.action;\n\nmsg.topic = device + \"/\" + action;\n// Same format than TCP\nmsg.payload = \"{\" + action + \",\" + value + \"}\";\n// Format for MQTT\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":2472.66650390625,"y":1141,"wires":[["d4cf3532.d3b328","1b6ab72f.292969"]]},{"id":"b7d6debd.c5219","type":"mqtt in","z":"243f7e2a.36ea22","name":"","topic":"photon1/turnOnOff1","qos":"2","broker":"20822ad3.e8fc56","x":2873.5000915527344,"y":1142,"wires":[["d65ae6b0.277068"]]},{"id":"d65ae6b0.277068","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"payload","x":3093.7846908569336,"y":1141.8889827728271,"wires":[]},{"id":"819f5dc2.0effc","type":"inject","z":"243f7e2a.36ea22","name":"testTCP","topic":"","payload":"[ { \"trackable\": \"stones\", \"COM\": \"\", \"puerto\": \"80\", \"protocol\": \"TCP\", \"code\": \"photon1\", \"ip\": \"192.168.65.238\", \"online\": \"true\", \"model\": \"Photon\", \"type\": \"Particle\", \"target\": \"StonesAndChips\", \"_id\": 9 }, \"turnOnOff1\", \"1\" ] ","payloadType":"json","repeat":"","crontab":"","once":false,"x":1759.0070838928223,"y":988.8889255523682,"wires":[["d708a756.2947e8"]]},{"id":"1b6ab72f.292969","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"payload","x":2639.800132751465,"y":1226.4000606536865,"wires":[]},{"id":"b90517e3.a4b608","type":"http in","z":"243f7e2a.36ea22","name":"MODIFY ACTION3 ","url":"/MODIFY/ACTION3","method":"get","swaggerDoc":"","x":123.62549591064453,"y":1624.271385192871,"wires":[["9271cd21.df75f"]]},{"id":"9271cd21.df75f","type":"function","z":"243f7e2a.36ea22","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(Object.keys(parameters).length < 2){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":319.62549591064453,"y":1622.2713680267334,"wires":[["f0a745d1.863388","24bb4ab.c2a02b6"]]},{"id":"f0a745d1.863388","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action{code:{code}})<-[r]-(o:Object) set a.Status = {value} \nRETURN o, a.Status","x":546.6254501342773,"y":1624.2713680267334,"wires":[["a8aa18ff.3017c8"]]},{"id":"335e7fdb.106d4","type":"comment","z":"243f7e2a.36ea22","name":"Search","info":"For verifying that a object exits given an ip","x":478.7400550842285,"y":1567.7031364440918,"wires":[]},{"id":"24bb4ab.c2a02b6","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"req.query","x":537.6255111694336,"y":1683.4714574813843,"wires":[]},{"id":"64f662d0.3c0c5c","type":"http response","z":"243f7e2a.36ea22","name":"ERROR MODIFY","x":1166.3769073486328,"y":1686.0156927108765,"wires":[]},{"id":"a8aa18ff.3017c8","type":"function","z":"243f7e2a.36ea22","name":"CHANGE ACTION","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\nvar object = pay.data[0][0];\nvar actionStatus = pay.data[0][1];\n\nvar map = {};\nmap.obj = object.code;\nmap.value = actionStatus;\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":777.3769454956055,"y":1624.0157871246338,"wires":[["61b050ce.5ff13","6cf6bbdf.fff6b4","62d313f8.49d4ac"]]},{"id":"6cf6bbdf.fff6b4","type":"neo4j","z":"243f7e2a.36ea22","name":"CHANGE STATUS ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}) MATCH (o)-[:link]->(o1) MATCH (o1)-[:HAVE]->(a1) MATCH (o1)<-[:HAVE]-(d1) set a1.Status = {value} return d1, a1.code, a1.Status","x":1328.47705078125,"y":1625.1068172454834,"wires":[["1cac2c54.1fb8e4","1051f84c.16f9f8"]]},{"id":"61b050ce.5ff13","type":"switch","z":"243f7e2a.36ea22","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":967.9973602294922,"y":1681.0300607681274,"wires":[[],["64f662d0.3c0c5c"]]},{"id":"1051f84c.16f9f8","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":1639.593765258789,"y":1622.9112820625305,"wires":[["fc59891f.bac9c8"]]},{"id":"610f127d.43fdfc","type":"tcp request","z":"243f7e2a.36ea22","server":"","port":"","out":"char","splitc":"\\n","name":"TCP REQUEST","x":2665.477081298828,"y":1562.774320602417,"wires":[["f0baa1da.b886e"]]},{"id":"fc59891f.bac9c8","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1776.0127182006836,"y":1622.3023958206177,"wires":[["34a5c8bd.518408"]]},{"id":"34a5c8bd.518408","type":"function","z":"243f7e2a.36ea22","name":"GET INFO","func":"var pay=msg.payload;\nvar device = pay[0];\nmsg.payload = {\n    \"devcode\": device.code,\n    \"ip\": device.ip,\n    \"port\": device.port,\n    \"protocol\": device.protocol,\n    \"action\": pay[1],\n    \"value\": pay[2]\n} \nreturn msg;","outputs":1,"noerr":0,"x":1956.3466186523438,"y":1622.969244003296,"wires":[["73da8b2d.2b7494"]]},{"id":"1cac2c54.1fb8e4","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":1516.2093200683594,"y":1751.748924255371,"wires":[["86f4ff43.4468b"]]},{"id":"86f4ff43.4468b","type":"split","z":"243f7e2a.36ea22","name":"","splt":"\\n","x":1649.2095489501953,"y":1751.748878479004,"wires":[["228c3142.e492de"]]},{"id":"62d313f8.49d4ac","type":"http response","z":"243f7e2a.36ea22","name":"RESPONSE INFO","x":989.3769912719727,"y":1564.0159225463867,"wires":[]},{"id":"f0baa1da.b886e","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"payload","x":2857.710247039795,"y":1562.3492698669434,"wires":[]},{"id":"732eefb3.509fb","type":"neo4j","z":"243f7e2a.36ea22","name":"GET OBJECT OF ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action{code:{act}})<-[r]-(o:Object) set a.Status = {stat} RETURN o.code, a.Status","x":1979.6427001953125,"y":1750.2659530639648,"wires":[["a348ceb2.865cc"]]},{"id":"228c3142.e492de","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload;\nvar map = {};\nmap.act = msg.payload[1];\nmap.stat = msg.payload[2];\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":1780.573226928711,"y":1749.7490310668945,"wires":[["732eefb3.509fb"]]},{"id":"a348ceb2.865cc","type":"function","z":"243f7e2a.36ea22","name":"get codes","func":"msg.payload = msg.payload.data[0];\nvar map = {};\nmap.obj = msg.payload[0];\nmap.stat = msg.payload[1];\nmsg.payload = map;\nreturn msg;","outputs":1,"noerr":0,"x":2183.642910003662,"y":1749.265875339508,"wires":[["6cf6bbdf.fff6b4"]]},{"id":"f16d999b.b17ea8","type":"comment","z":"243f7e2a.36ea22","name":"Modify action by action code","info":"For veryfing that a device exists given an ip","x":156.37692260742188,"y":1581.0157852172852,"wires":[]},{"id":"cca14300.9a3c7","type":"mqtt out","z":"243f7e2a.36ea22","name":"Send mqtt","topic":"","qos":"0","retain":"false","broker":"74fca86d.da75f8","x":2656.994659423828,"y":1683.7738361358643,"wires":[]},{"id":"73da8b2d.2b7494","type":"switch","z":"243f7e2a.36ea22","name":"   DECIDE ON PROTOCOL","property":"payload.protocol","propertyType":"msg","rules":[{"t":"eq","v":"TCP","vt":"str"},{"t":"eq","v":"MQTT","vt":"str"}],"checkall":"true","outputs":2,"x":2207.2405738830566,"y":1621.8167171478271,"wires":[["23069b09.2c77e4"],["3b69b373.7c462c"]]},{"id":"23069b09.2c77e4","type":"function","z":"243f7e2a.36ea22","name":"PREPARE TCP","func":"var pay=msg.payload;\nvar ip= msg.payload.ip;\nvar port= msg.payload.puerto;\nvar value = msg.payload.value;\nvar action = msg.payload.action;\n\nmsg.host= ip;\nmsg.port= port;\nmsg.payload=\"{\"+action+ \",\"+ value +\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":2469.3769607543945,"y":1563.265630722046,"wires":[["610f127d.43fdfc"]]},{"id":"943a77bf.305ef8","type":"inject","z":"243f7e2a.36ea22","name":"testMQTT","topic":"","payload":"[ { \"trackable\": \"stones\", \"COM\": \"\", \"puerto\": \"80\", \"protocol\": \"MQTT\", \"code\": \"photon1\", \"ip\": \"192.168.65.238\", \"online\": \"true\", \"model\": \"Photon\", \"type\": \"Particle\", \"target\": \"StonesAndChips\", \"_id\": 9 }, \"turnOnOff1\", \"1\" ] ","payloadType":"json","repeat":"","crontab":"","once":false,"x":1764.4447708129883,"y":1567.2656745910645,"wires":[["34a5c8bd.518408"]]},{"id":"3b69b373.7c462c","type":"function","z":"243f7e2a.36ea22","name":"PREPARE MQTT","func":"var pay=msg.payload;\nvar device = msg.payload.devcode;\nvar value = msg.payload.value;\nvar action = msg.payload.action;\n\nmsg.topic = device + \"/\" + action;\n// Same format than TCP\nmsg.payload = \"{\" + action + \",\" + value + \"}\";\n// Format for MQTT\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":2477.277786254883,"y":1684.265630722046,"wires":[["cca14300.9a3c7","29d1121d.16933e"]]},{"id":"6f79100b.a5912","type":"mqtt in","z":"243f7e2a.36ea22","name":"","topic":"photon1/turnOnOff1","qos":"2","broker":"74fca86d.da75f8","x":2878.111373901367,"y":1685.265630722046,"wires":[["8480d918.691438"]]},{"id":"8480d918.691438","type":"debug","z":"243f7e2a.36ea22","name":"","active":false,"console":"false","complete":"payload","x":3098.3959732055664,"y":1685.154613494873,"wires":[]},{"id":"bcc06d46.3d6ec","type":"inject","z":"243f7e2a.36ea22","name":"testTCP","topic":"","payload":"[ { \"trackable\": \"stones\", \"COM\": \"\", \"puerto\": \"80\", \"protocol\": \"TCP\", \"code\": \"photon1\", \"ip\": \"192.168.65.238\", \"online\": \"true\", \"model\": \"Photon\", \"type\": \"Particle\", \"target\": \"StonesAndChips\", \"_id\": 9 }, \"turnOnOff1\", \"1\" ] ","payloadType":"json","repeat":"","crontab":"","once":false,"x":1763.618366241455,"y":1532.154556274414,"wires":[["34a5c8bd.518408"]]},{"id":"29d1121d.16933e","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"payload","x":2644.4114151000977,"y":1769.6656913757324,"wires":[]},{"id":"11ee5a8f.85d095","type":"function","z":"243f7e2a.36ea22","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(Object.keys(parameters).length < 2){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":312.765625,"y":1735.75,"wires":[["51a6ba87.d41b24","ec966535.ae4688"]]},{"id":"51a6ba87.d41b24","type":"neo4j","z":"243f7e2a.36ea22","name":"VERIFY ACTION","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Action{code:{code}})<-[r]-(o:Object) MATCH (o)<-[:HAVE]-(d) set a.Status = {value} \nRETURN o, a.Status, a.code, d","x":522.765625,"y":1735.75,"wires":[["7c72f09b.2288f"]]},{"id":"7c72f09b.2288f","type":"function","z":"243f7e2a.36ea22","name":"CHANGE ACTION","func":"var pay = msg.payload;\nif(Object.keys(pay.data).length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\nvar object = pay.data[0][0];\nvar actionStatus = pay.data[0][1];\nvar actionCode = pay.data[0][2];\nvar device = pay.data[0][3];\n\nmsg.payload = {\n    \"devcode\": device.code,\n    \"ip\": device.ip,\n    \"port\": device.port,\n    \"protocol\": device.protocol,\n    \"action\": actionCode,\n    \"value\": actionStatus, \n    \"obj\": object.code\n} \nreturn msg;","outputs":1,"noerr":0,"x":742.765625,"y":1735.75,"wires":[["6cf6bbdf.fff6b4","73da8b2d.2b7494"]]},{"id":"4ba987ca.d065a8","type":"http in","z":"243f7e2a.36ea22","name":"MODIFY ACTION 4","url":"/MODIFY/ACTION4","method":"get","swaggerDoc":"","x":122.765625,"y":1735.75,"wires":[["11ee5a8f.85d095"]]},{"id":"d58b510c.a1e77","type":"http in","z":"243f7e2a.36ea22","name":"MODIFY ACTION3 ","url":"/MODIFY/ACTION31","method":"get","swaggerDoc":"","x":119.01421356201172,"y":1081.0057544708252,"wires":[["9d99e4d2.d8e498"]]},{"id":"7523c343.3a0ebc","type":"comment","z":"243f7e2a.36ea22","name":"Modify action from web interface","info":"For veryfing that a device exists given an ip","x":171.765625,"y":1807.7500953674316,"wires":[]},{"id":"ec966535.ae4688","type":"debug","z":"243f7e2a.36ea22","name":"","active":true,"console":"false","complete":"req.query","x":521.765625,"y":1806.75,"wires":[]},{"id":"20822ad3.e8fc56","type":"mqtt-broker","z":"","broker":"200.126.23.131","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"74fca86d.da75f8","type":"mqtt-broker","z":"","broker":"200.126.23.131","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]