Flujos/DISPOSITIVOS.txt
[{"id":"8d5e726a.32f7d","type":"http response","z":"ac21705c.a8377","name":"RESPONSE ADD","x":713.6666259765625,"y":116.2998046875,"wires":[]},{"id":"1c1476fb.2bb0f9","type":"http in","z":"ac21705c.a8377","name":"","url":"/ADD/DEVICE","method":"get","swaggerDoc":"","x":120.65815734863281,"y":150.43048095703125,"wires":[["1e7a989c.304f47","f7879902.2603d8"]]},{"id":"1e7a989c.304f47","type":"function","z":"ac21705c.a8377","name":"Validate ADD","func":"//var header = msg.req.headers;\nvar header = msg.req.query;\nvar code = header.code;\nvar model = header.model;\nvar type = header.type;\nvar type_com = header.typeCom;\nvar ip = header.ip;\nvar puerto = header.puerto;\nvar com ;\nvar online = header.online;\n\nvar map = {};\nif(type_com == \"serial\"){\n    com = header.com;\n    map.com=com;\n}else{\n    com = \"\";\n    map.com=com;\n}\nmap.ip=ip;\nmap.code=code;\nmap.online=online;\nmap.type=type;\nmap.type_com=type_com;\nmap.puerto=puerto;\nmap.model=model;\n\nif(code === undefined || online===undefined || \n   ip === undefined || model === undefined ||\n   type === undefined){\n        msg.payload = \"ERROR\";\n        msg.statusCode = 404;\n}\nelse\n    msg.payload = map;    \nreturn msg;","outputs":"1","noerr":0,"x":241.66383361816406,"y":93.3509521484375,"wires":[["43562a86.428ee4"]]},{"id":"43562a86.428ee4","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":352.6552734375,"y":149.6123046875,"wires":[["87bdfc07.727bb"],["f778f283.d6f1c"]]},{"id":"2d794812.ae59b8","type":"http in","z":"ac21705c.a8377","name":"","url":"/DELETE/DEVICE","method":"post","swaggerDoc":"","x":155.70361328125,"y":297.1975555419922,"wires":[["757e4393.1a8a4c"]]},{"id":"757e4393.1a8a4c","type":"function","z":"ac21705c.a8377","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":247.70361328125,"y":223.19754028320312,"wires":[["a6b0ade0.48494"]]},{"id":"2c2f65ca.457cca","type":"neo4j","z":"ac21705c.a8377","name":"DELETE NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} })\nOPTIONAL MATCH d-[r]-()\nDELETE d, r","x":510.70361328125,"y":228.19754028320312,"wires":[["374bbc9.60a2144"]]},{"id":"a6b0ade0.48494","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":351.70361328125,"y":293.1975402832031,"wires":[["2c2f65ca.457cca"],["dc0d82bb.fd903"]]},{"id":"22ada5cc.e9f5fa","type":"http response","z":"ac21705c.a8377","name":"RESPONSE DELETE","x":746.70361328125,"y":294.1975402832031,"wires":[]},{"id":"dc0d82bb.fd903","type":"http response","z":"ac21705c.a8377","name":"ERROR DELETE","x":537.70361328125,"y":325.1975402832031,"wires":[]},{"id":"f778f283.d6f1c","type":"http response","z":"ac21705c.a8377","name":"ERROR ADD","x":522.70361328125,"y":176.19754028320312,"wires":[]},{"id":"374bbc9.60a2144","type":"function","z":"ac21705c.a8377","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":732.70361328125,"y":228.19754028320312,"wires":[["22ada5cc.e9f5fa"]]},{"id":"a42c99fe.5f7728","type":"neo4j","z":"ac21705c.a8377","name":"COMPLETE DEVICE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"match(device {code:{code}})-[:HAVE]->(object)-[:HAVE]->(action) return device,object,action","x":493.6581573486328,"y":804.4333343505859,"wires":[["f9011527.892bb8","287b2f27.2e3bd"]]},{"id":"62b25a81.11e314","type":"http in","z":"ac21705c.a8377","name":"","url":"/COMPLETE/DEVICE","method":"get","swaggerDoc":"","x":141.6581573486328,"y":924.433349609375,"wires":[["22fe1ec2.ff24f2"]]},{"id":"22fe1ec2.ff24f2","type":"function","z":"ac21705c.a8377","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":243.6581573486328,"y":819.4333343505859,"wires":[["32542b27.9c1154"]]},{"id":"32542b27.9c1154","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":349.6581573486328,"y":867.4333343505859,"wires":[["a42c99fe.5f7728"],["38b4eb8a.d1dbf4"]]},{"id":"a5e446d0.a50788","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":703.6581573486328,"y":903.4333343505859,"wires":[]},{"id":"38b4eb8a.d1dbf4","type":"http response","z":"ac21705c.a8377","name":"ERROR INFO","x":495.6581726074219,"y":921.433349609375,"wires":[]},{"id":"f9011527.892bb8","type":"function","z":"ac21705c.a8377","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":629.6581268310547,"y":849.433349609375,"wires":[["a5e446d0.a50788"]]},{"id":"287b2f27.2e3bd","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"payload","x":801.6127166748047,"y":815.6691284179688,"wires":[]},{"id":"610b0cf2.7c7db4","type":"http in","z":"ac21705c.a8377","name":"","url":"/DEVICE/OBJECTS","method":"get","swaggerDoc":"","x":168.6581573486328,"y":1101.433334350586,"wires":[["ee797c9c.179f7"]]},{"id":"ee797c9c.179f7","type":"function","z":"ac21705c.a8377","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":278.6581573486328,"y":1046.433334350586,"wires":[["5d1947aa.780e78","90816128.706ae"]]},{"id":"5d1947aa.780e78","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":384.6581573486328,"y":1094.433334350586,"wires":[[],["68e0da8c.052dd4"]]},{"id":"8974b947.2dd748","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":833.6581573486328,"y":1140.433334350586,"wires":[]},{"id":"68e0da8c.052dd4","type":"http response","z":"ac21705c.a8377","name":"ERROR INFO","x":513.6581573486328,"y":1140.433334350586,"wires":[]},{"id":"bd0e9636.c01db8","type":"function","z":"ac21705c.a8377","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":658.6581420898438,"y":1073.433334350586,"wires":[["8974b947.2dd748"]]},{"id":"38345c0f.e640a4","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"payload","x":839.6127014160156,"y":1020.669189453125,"wires":[]},{"id":"a8d5da8a.eaa608","type":"http in","z":"ac21705c.a8377","name":"","url":"/DEVICE/OBJECTS/OUT","method":"get","swaggerDoc":"","x":182.40814971923828,"y":1835.4333724975586,"wires":[["a2c7cad3.f845a8"]]},{"id":"a2c7cad3.f845a8","type":"function","z":"ac21705c.a8377","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":316.4081497192383,"y":1729.4333724975586,"wires":[["30c3fa8f.9701a6","f4a89a01.eb3768"]]},{"id":"30c3fa8f.9701a6","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":435.4081497192383,"y":1839.4333724975586,"wires":[[],["eea55db2.fc0e3"]]},{"id":"49f7df94.f2cac","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":884.4081497192383,"y":1885.4333724975586,"wires":[]},{"id":"eea55db2.fc0e3","type":"http response","z":"ac21705c.a8377","name":"ERROR INFO","x":564.4081497192383,"y":1885.4333724975586,"wires":[]},{"id":"83be49c2.fb8da8","type":"function","z":"ac21705c.a8377","name":"SEARCH","func":"var pay = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":709.4081344604492,"y":1818.4333724975586,"wires":[["49f7df94.f2cac"]]},{"id":"315b20af.79df8","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"payload","x":887.3627090454102,"y":1787.6691665649414,"wires":[]},{"id":"90816128.706ae","type":"neo4j","z":"ac21705c.a8377","name":"DEVICE FOR OBJECTS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{code}})-[:HAVE]->(a) MATCH (o:Object{code:{code}})<-[:HAVE]-(d) RETURN d,o,a","x":534.4081573486328,"y":1002.1833343505859,"wires":[["38345c0f.e640a4","bd0e9636.c01db8"]]},{"id":"f4a89a01.eb3768","type":"neo4j","z":"ac21705c.a8377","name":"PERSONAL OBJECT OUTGOING","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{code}})-[:link]->(obs) RETURN obs","x":571.4081497192383,"y":1697.4333724975586,"wires":[["315b20af.79df8","83be49c2.fb8da8"]]},{"id":"17a6b45e.d273ac","type":"neo4j","z":"ac21705c.a8377","name":"PERSONAL OBJECT INCOMMING","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{code}})<-[:link]-(obs) RETURN obs","x":611.4081497192383,"y":1986.4333724975586,"wires":[["91c238c4.c2d568","ff087ff9.bd30e"]]},{"id":"e55ce193.f627d","type":"http in","z":"ac21705c.a8377","name":"","url":"/DEVICE/OBJECTS/IN","method":"get","swaggerDoc":"","x":173.40814971923828,"y":2092.4333724975586,"wires":[["cd0b75f7.324d98"]]},{"id":"cd0b75f7.324d98","type":"function","z":"ac21705c.a8377","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":317.4081497192383,"y":1986.4333724975586,"wires":[["ec517ffe.37c85","17a6b45e.d273ac"]]},{"id":"ec517ffe.37c85","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":436.4081497192383,"y":2096.4333724975586,"wires":[[],["79e644b.15e46bc"]]},{"id":"c1fbde0.6a6c82","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":885.4081497192383,"y":2142.4333724975586,"wires":[]},{"id":"79e644b.15e46bc","type":"http response","z":"ac21705c.a8377","name":"ERROR INFO","x":565.4081497192383,"y":2142.4333724975586,"wires":[]},{"id":"ff087ff9.bd30e","type":"function","z":"ac21705c.a8377","name":"SEARCH","func":"var pay = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":710.4081344604492,"y":2075.4333724975586,"wires":[["c1fbde0.6a6c82"]]},{"id":"91c238c4.c2d568","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"payload","x":888.3627090454102,"y":2044.6691665649414,"wires":[]},{"id":"87bdfc07.727bb","type":"neo4j","z":"ac21705c.a8377","name":"NEW NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"create(:Device {code : {code}, model : {model}, type : {type}, type_Comunication : {type_com}, ip : {ip}, puerto : {puerto}, COM:{com}, online: {online}})","x":494.2248077392578,"y":63,"wires":[["8d5e726a.32f7d"]]},{"id":"f903cbff.8fcd68","type":"http in","z":"ac21705c.a8377","name":"","url":"/INFO/DEVICE","method":"get","swaggerDoc":"","x":138.6581573486328,"y":470.10001373291016,"wires":[["1c3ca495.15620b"]]},{"id":"1c3ca495.15620b","type":"function","z":"ac21705c.a8377","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":221.6581573486328,"y":419.10001373291016,"wires":[["63feac18.384f64"]]},{"id":"6b9b2acf.9081b4","type":"neo4j","z":"ac21705c.a8377","name":"INFO NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} })\nRETURN d","x":448.6581573486328,"y":415.10001373291016,"wires":[["4c0eb51b.ae041c","70eb79c2.dce188"]]},{"id":"63feac18.384f64","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":327.6581573486328,"y":467.10001373291016,"wires":[["6b9b2acf.9081b4"],["7b471079.8bae7"]]},{"id":"a889a09d.6d021","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":681.6581573486328,"y":503.10001373291016,"wires":[]},{"id":"7b471079.8bae7","type":"http response","z":"ac21705c.a8377","name":"ERROR INFO","x":456.6581573486328,"y":513.1000137329102,"wires":[]},{"id":"4c0eb51b.ae041c","type":"function","z":"ac21705c.a8377","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":607.6581268310547,"y":449.1000289916992,"wires":[["a889a09d.6d021"]]},{"id":"70eb79c2.dce188","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"payload","x":779.6127166748047,"y":415.33580780029297,"wires":[]},{"id":"e01c0478.72d3b8","type":"http in","z":"ac21705c.a8377","name":"","url":"/DELETE/COMPLETE/DEVICE","method":"get","swaggerDoc":"","x":223.22481536865234,"y":2379.450096130371,"wires":[["5c60019d.c5bc1"]]},{"id":"5c60019d.c5bc1","type":"function","z":"ac21705c.a8377","name":"Validate DELETE","func":"var header = msg.req.query;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":297.22481536865234,"y":2233.450080871582,"wires":[["f2cbce2.ee5f63","8a1da92.5afab58"]]},{"id":"f2cbce2.ee5f63","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":401.22481536865234,"y":2303.450080871582,"wires":[[],["bbb9dfd1.83a8f"]]},{"id":"c80ee792.61fa78","type":"http response","z":"ac21705c.a8377","name":"RESPONSE DELETE","x":856.2248001098633,"y":2327.450096130371,"wires":[]},{"id":"bbb9dfd1.83a8f","type":"http response","z":"ac21705c.a8377","name":"ERROR DELETE","x":587.2248153686523,"y":2335.450080871582,"wires":[]},{"id":"80cb5cea.25fa4","type":"function","z":"ac21705c.a8377","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":892.2248001098633,"y":2238.450096130371,"wires":[["c80ee792.61fa78"]]},{"id":"48d56ae5.f04c14","type":"http in","z":"ac21705c.a8377","name":"","url":"/MODIFY/DEVICE","method":"get","swaggerDoc":"","x":143.22482299804688,"y":648.9999847412109,"wires":[["16ce585a.b7ec08"]]},{"id":"16ce585a.b7ec08","type":"function","z":"ac21705c.a8377","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":216.22482299804688,"y":597.9999847412109,"wires":[["9b57c887.f8d4d8","e753215e.4816e"]]},{"id":"9b57c887.f8d4d8","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":326.2248077392578,"y":650.9999847412109,"wires":[[],["12d99101.73f60f"]]},{"id":"2ecb00d4.1102e","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":765.2247924804688,"y":689.9999847412109,"wires":[]},{"id":"12d99101.73f60f","type":"http response","z":"ac21705c.a8377","name":"ERROR INFO","x":484.22479248046875,"y":704.9999847412109,"wires":[]},{"id":"77fac6e4.7b4f18","type":"function","z":"ac21705c.a8377","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":877.2247619628906,"y":602.0000305175781,"wires":[["2ecb00d4.1102e"]]},{"id":"8a1da92.5afab58","type":"neo4j","z":"ac21705c.a8377","name":"DELETE NODE COMPLETE DEVIC","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (a:Device {code:{code} }) OPTIONAL MATCH (a)-[r]->(b:Object) OPTIONAL MATCH (b)-[r1]->(c:Action) OPTIONAL MATCH (b)<-[r2]-(d) OPTIONAL MATCH (b)-[r3]->(d) delete a,b,c,r,r1,r2,r3","x":611.2248001098633,"y":2229.7500228881836,"wires":[["80cb5cea.25fa4"]]},{"id":"c6c23166.f4519","type":"http in","z":"ac21705c.a8377","name":"","url":"/DEVICE/CONTAIN-OBJECTS","method":"get","swaggerDoc":"","x":184.4166259765625,"y":1495.916799545288,"wires":[["4b849bd4.08ce04"]]},{"id":"4b849bd4.08ce04","type":"function","z":"ac21705c.a8377","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":263.16663360595703,"y":1349.6667976379395,"wires":[["9a37d655.3b1748","472bf726.bf9538"]]},{"id":"9a37d655.3b1748","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":369.16663360595703,"y":1397.6667976379395,"wires":[[],["10c4548d.78555b"]]},{"id":"6708ee4b.42754","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":818.166633605957,"y":1443.6667976379395,"wires":[]},{"id":"10c4548d.78555b","type":"http response","z":"ac21705c.a8377","name":"ERROR INFO","x":498.16663360595703,"y":1443.6667976379395,"wires":[]},{"id":"d3f731e8.640f1","type":"function","z":"ac21705c.a8377","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":643.166618347168,"y":1376.6667976379395,"wires":[["6708ee4b.42754"]]},{"id":"63eb06c2.2e1ea8","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"payload","x":821.1211929321289,"y":1345.9025917053223,"wires":[]},{"id":"472bf726.bf9538","type":"neo4j","z":"ac21705c.a8377","name":"DEVICE FOR OBJECTS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{code}})<-[:HAVE]-(d) RETURN d","x":509.5833206176758,"y":1299.1668014526367,"wires":[["63eb06c2.2e1ea8","d3f731e8.640f1"]]},{"id":"e753215e.4816e","type":"neo4j","z":"ac21705c.a8377","name":"Modify Device","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} }) SET d.model = {model}, d.type = {type}, d.ip = {ip}, d.puerto = {port}, d.type_Comunication = {type_Comunication} RETURN d","x":486.6665344238281,"y":578.3334045410156,"wires":[["77fac6e4.7b4f18"]]},{"id":"f7879902.2603d8","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"req.headers","x":420.7897415161133,"y":26.798290252685547,"wires":[]},{"id":"2d4b4b6b.286234","type":"neo4j","z":"ac21705c.a8377","name":"COMPLETE DEVICE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"match(device {code:{code}})-[:HAVE]->(object)-[:HAVE]->(action) return device,object,action","x":501.6666564941406,"y":2474,"wires":[["af7f9873.073728","386c3d1e.649262"]]},{"id":"62461e92.8055f","type":"http in","z":"ac21705c.a8377","name":"","url":"/LOAD/DEVICE","method":"get","swaggerDoc":"","x":130.66665649414062,"y":2594.000015258789,"wires":[["e5679996.ea05b8"]]},{"id":"e5679996.ea05b8","type":"function","z":"ac21705c.a8377","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":251.66665649414062,"y":2489,"wires":[["98d26c30.98e1a"]]},{"id":"98d26c30.98e1a","type":"switch","z":"ac21705c.a8377","name":"DECISION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":357.6666564941406,"y":2537,"wires":[["2d4b4b6b.286234"],["20f694e.95f1f6c"]]},{"id":"4a20594d.a18bf8","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":711.6666564941406,"y":2573,"wires":[]},{"id":"20f694e.95f1f6c","type":"http response","z":"ac21705c.a8377","name":"ERROR INFO","x":503.6666717529297,"y":2591.000015258789,"wires":[]},{"id":"af7f9873.073728","type":"function","z":"ac21705c.a8377","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":637.6666259765625,"y":2519.000015258789,"wires":[["4a20594d.a18bf8"]]},{"id":"386c3d1e.649262","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"payload","x":809.6212158203125,"y":2485.235794067383,"wires":[]},{"id":"65c7fdb7.fcd994","type":"http in","z":"ac21705c.a8377","name":"","url":"/LOAD/DEVICES","method":"get","swaggerDoc":"","x":148.6666717529297,"y":2702.000406265259,"wires":[["d57b9647.bfba58"]]},{"id":"d57b9647.bfba58","type":"neo4j","z":"ac21705c.a8377","name":"COMPLETE DEVICE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (device)-[:HAVE]->(object)-[:HAVE]->(action)return device,object,action","x":377.6667022705078,"y":2703.00048828125,"wires":[["a43ac377.1c07a"]]},{"id":"a43ac377.1c07a","type":"function","z":"ac21705c.a8377","name":"CREATE JSON","func":"var pay = msg.payload;\nobjects = {}\nfor(i in pay.data){\n        element = pay.data[i];\n        deviceID = element[0].code;\n        objects[deviceID]={}\n        objects[deviceID][deviceID] = element[0];\n        objects[deviceID][element[1].code] = element[1];\n        objects[deviceID][element[2].code] = element[2];\n}\nmsg.payload = objects;\nreturn msg;","outputs":1,"noerr":0,"x":574.6666221618652,"y":2703.000810623169,"wires":[["87f6faa3.0352f8","7fb3bdaa.0d1b34"]]},{"id":"7fb3bdaa.0d1b34","type":"debug","z":"ac21705c.a8377","name":"","active":true,"console":"false","complete":"false","x":766.5000801086426,"y":2761.333659172058,"wires":[]},{"id":"87f6faa3.0352f8","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":766.6666717529297,"y":2646.0008087158203,"wires":[]},{"id":"1172820d.fbbb5e","type":"function","z":"ac21705c.a8377","name":"CREATE JSON","func":"var pay = msg.payload;\nobjects = {}\nfor(i in pay.data){\n        element = pay.data[i];\n        objects[i]={}\n        objects[i][element[0].code] = element[0];\n        objects[i][element[1].code] = element[1];\n        objects[i][element[2].code] = element[2];\n}\nmsg.payload = objects;\nreturn msg;","outputs":1,"noerr":0,"x":940.6666259765625,"y":2698,"wires":[[]]},{"id":"35004c6a.9a4b54","type":"http in","z":"ac21705c.a8377","name":"","url":"/LOAD/DEVICES1","method":"get","swaggerDoc":"","x":129.6666717529297,"y":2920.000201702118,"wires":[["814a7e3f.4c825"]]},{"id":"814a7e3f.4c825","type":"neo4j","z":"ac21705c.a8377","name":"GET ALL DEVICES","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (n:Device) RETURN n","x":343.6666946411133,"y":2920.0007514953613,"wires":[["e0178643.f9e728"]]},{"id":"8ba57180.d42cc","type":"split","z":"ac21705c.a8377","name":"","splt":"\\n","x":698.1666679382324,"y":2862.333667755127,"wires":[["154aa70b.4bf929","5c532a0b.2652d4"]]},{"id":"a4f11fb.2664be","type":"neo4j","z":"ac21705c.a8377","name":"GET LINKS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH(device {code:{devcode}})-[:HAVE]->(object) MATCH (object)-[:link]->(o1)-[:HAVE]->(a) return o1,a","x":1098.3337326049805,"y":2638.3354053497314,"wires":[[]]},{"id":"154aa70b.4bf929","type":"function","z":"ac21705c.a8377","name":"Obtain devcode","func":"var device = msg.payload;\nmsg.payload = {devcode:device.code};\nreturn msg;","outputs":1,"noerr":0,"x":877.1668853759766,"y":2859.6670112609863,"wires":[["70ee9211.39cd3c"]]},{"id":"e0178643.f9e728","type":"function","z":"ac21705c.a8377","name":"Obtain data","func":"msg.payload = msg.payload.data;\nmsg.topic = \"info\";\nreturn msg;","outputs":1,"noerr":0,"x":533.0001525878906,"y":2919.3335151672363,"wires":[["8ba57180.d42cc","a2a15ed3.1e527","27d727cb.2d7258"]]},{"id":"2c7de82e.9c0cd8","type":"join","z":"ac21705c.a8377","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":1366.1669616699219,"y":2859.0008125305176,"wires":[["27d727cb.2d7258"]]},{"id":"27d727cb.2d7258","type":"join","z":"ac21705c.a8377","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":1483.666904449463,"y":2909.3342475891113,"wires":[["eb9f4786.9898f8"]]},{"id":"340ae8c2.583138","type":"neo4j","z":"ac21705c.a8377","name":"GET LINKS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{devcode}})-[:HAVE]->(o) MATCH (o)-[:HAVE]->(a) MATCH (o)-[:link]->(o1)-[:HAVE]->(a1) return o1, a1, o, a","x":1069.5157775878906,"y":2703.000442504883,"wires":[[]]},{"id":"b68a428.defafc","type":"function","z":"ac21705c.a8377","name":"Create links","func":"var data = msg.payload.data;\nvar links = {};\nfor(var i in data){\n    var element = data[i];\n    links[i]={};\n    links[i].nodeA = element[0].code;\n    links[i].nodeB = element[1].code;\n    links[i].objectA = element[2].code;\n    links[i].objectB = element[3].code;\n    \n}\nmsg.payload = links;\nmsg.topic = \"links\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1221.5156860351562,"y":2860.7509937286377,"wires":[["2c7de82e.9c0cd8"]]},{"id":"8ec62866.7063a8","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":1843.7662258148193,"y":2909.7504177093506,"wires":[]},{"id":"5c532a0b.2652d4","type":"debug","z":"ac21705c.a8377","name":"","active":false,"console":"false","complete":"payload","x":869.7659378051758,"y":2812.0006256103516,"wires":[]},{"id":"61d9ebe8.dc48b4","type":"neo4j","z":"ac21705c.a8377","name":"GET INFO","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device)-[:HAVE]->(o:Object)-[:HAVE]->(a:Action) return d,o, a","x":904.2658424377441,"y":2980.2508296966553,"wires":[["30d74434.21ea5c","ca7dbc4a.da8a8"]]},{"id":"30d74434.21ea5c","type":"function","z":"ac21705c.a8377","name":"GET DATA","func":"msg.payload = msg.payload.data;\nmsg.topic = \"objects\";\nreturn msg;","outputs":1,"noerr":0,"x":1083.266014099121,"y":2981.2508296966553,"wires":[["27d727cb.2d7258"]]},{"id":"ca7dbc4a.da8a8","type":"debug","z":"ac21705c.a8377","name":"","active":false,"console":"false","complete":"payload","x":1077.765853881836,"y":3024.2505083084106,"wires":[]},{"id":"a2a15ed3.1e527","type":"function","z":"ac21705c.a8377","name":"Empty payload","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":720.0158157348633,"y":2980.250665664673,"wires":[["61d9ebe8.dc48b4"]]},{"id":"eb9f4786.9898f8","type":"function","z":"ac21705c.a8377","name":"Create json","func":"var info = msg.payload.info;\nvar objects = msg.payload.objects;\nvar links = msg.payload.links;\n\nvar objectsJSON = {} \n\nfor(var i in objects){\n    var array3 = objects[i];\n    var device = array3[0];\n    var obj = array3[1];\n    var action = array3[2];\n    if (objectsJSON[device.code] === undefined) {\n        objectsJSON[device.code] = device;\n    }\n    if (objectsJSON[device.code][\"objects\"] === undefined) {\n        objectsJSON[device.code][\"objects\"] = {};\n    }\n    objectsJSON[device.code][\"objects\"][obj.code] = obj;\n\n    if (objectsJSON[device.code][\"objects\"][obj.code][\"actions\"] === undefined) {\n        objectsJSON[device.code][\"objects\"][obj.code][\"actions\"] = {};\n    }\n    //objectsJSON[device.code][\"objects\"].push(obj);\n    objectsJSON[device.code][\"objects\"][obj.code][\"actions\"][action.code] = action;\n}\n\nfor(var j in info){\n    var device = info[j];\n    objectsJSON[device.code][\"links\"] = links[j];\n}\n\nmsg.payload = objectsJSON;\nreturn msg;\n","outputs":1,"noerr":0,"x":1648.666763305664,"y":2909.666675567627,"wires":[["8ec62866.7063a8"]]},{"id":"708019ee.273d58","type":"http in","z":"ac21705c.a8377","name":"","url":"/UPDATE/DEVICEON","method":"get","swaggerDoc":"","x":190.00006103515625,"y":3133.000757217407,"wires":[["e3b8282.9903cd8"]]},{"id":"e3b8282.9903cd8","type":"function","z":"ac21705c.a8377","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || parameters.code === undefined\n|| parameters.ip === null || parameters.ip === undefined ||\nparameters.puerto === null || parameters.puerto === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":436.66670989990234,"y":3133.000391960144,"wires":[["ab9ffa1f.f40038","2b496cac.6a23f4"]]},{"id":"ab9ffa1f.f40038","type":"switch","z":"ac21705c.a8377","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":684.6667327880859,"y":3193.0003938674927,"wires":[[],["1df295e6.53ba1a"]]},{"id":"b972b440.e09618","type":"http response","z":"ac21705c.a8377","name":"RESPONSE INFO","x":1780.6668891906738,"y":3158.0008392333984,"wires":[]},{"id":"1df295e6.53ba1a","type":"http response","z":"ac21705c.a8377","name":"ERROR INFO","x":896.6667175292969,"y":3196.0008821487427,"wires":[]},{"id":"96676991.103648","type":"function","z":"ac21705c.a8377","name":"GET DATA","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload =\"NOT FOUND\"\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":879.6668014526367,"y":3132.00083732605,"wires":[["f226d3b2.cfc6"]]},{"id":"2b496cac.6a23f4","type":"neo4j","z":"ac21705c.a8377","name":"Modify Device","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} }) SET d.online = {online}, d.ip = {ip}, d.puerto = {puerto} RETURN d","x":681.1083908081055,"y":3132.333541870117,"wires":[["96676991.103648"]]},{"id":"70ee9211.39cd3c","type":"neo4j","z":"ac21705c.a8377","name":"GET LINKS","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{devcode}})-[:HAVE]->(o) MATCH (o)-[:link]->(o1) MATCH (d1)-[:HAVE]->(o1)return o, o1, d, d1","x":1050.7657051086426,"y":2858.250503540039,"wires":[["b68a428.defafc","311c617c.8a29de"]]},{"id":"311c617c.8a29de","type":"debug","z":"ac21705c.a8377","name":"","active":false,"console":"false","complete":"payload","x":1210.0156898498535,"y":2813.249954223633,"wires":[]},{"id":"9183e6ae.c1dd08","type":"neo4j","z":"ac21705c.a8377","name":"Get actions of device","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{devcode}})-[:HAVE]->(o) MATCH (o)-[:HAVE]->(a) RETURN a.code, a.Status, a.Type","x":1399.333366394043,"y":3158.0008392333984,"wires":[["9f2f635f.cda1"]]},{"id":"9f2f635f.cda1","type":"function","z":"ac21705c.a8377","name":"GET DATA","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n    return msg;\n}\npay.data.push(pay.data.length);\nmsg.payload = pay.data;\n//msg.payload = pay.data.length;\nreturn msg;","outputs":1,"noerr":0,"x":1590.333381652832,"y":3158.0008387565613,"wires":[["b972b440.e09618"]]},{"id":"f226d3b2.cfc6","type":"switch","z":"ac21705c.a8377","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"NOT FOUND","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1029.833396911621,"y":3130.66685295105,"wires":[["546847f2.00fc88"],["4ee0d37f.91195c"]]},{"id":"546847f2.00fc88","type":"http response","z":"ac21705c.a8377","name":"RESPONSE ERROR","x":1281.6667861938477,"y":3108.0005083084106,"wires":[]},{"id":"4ee0d37f.91195c","type":"function","z":"ac21705c.a8377","name":"GET DATA","func":"var pay = msg.payload;\nmsg.payload.devcode = pay.data[0].code;\nreturn msg;","outputs":1,"noerr":0,"x":1193.0000686645508,"y":3157.0001888275146,"wires":[["9183e6ae.c1dd08"]]}]