Flujos/OBJETOS.txt
[{"id":"297ea8ad.635358","type":"http response","z":"4949c9db.019e38","name":"RESPONSE ADD","x":783.6666259765625,"y":122.53313446044922,"wires":[]},{"id":"3ea6452e.b63a6a","type":"http in","z":"4949c9db.019e38","name":"","url":"/ADD/OBJECT","method":"get","swaggerDoc":"","x":199.65814208984375,"y":144.66381072998047,"wires":[["6425125e.aa8d8c"]]},{"id":"6425125e.aa8d8c","type":"function","z":"4949c9db.019e38","name":"Validate ADD","func":"var header = msg.req.query;\nvar code = header.code;\nvar nome = header.name;\nvar type = header.type;\nvar protoco = header.proto;\n\nvar map = {}\nmap.code=code;\nmap.nome=nome;\nmap.type=type;\nmap.protoco=protoco;\nif(code === undefined || nome === undefined || \n    code === null || nome === null ||\n    type === undefined || type === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":319.663818359375,"y":91.58428192138672,"wires":[["385937d4.aa4ce8"]]},{"id":"385937d4.aa4ce8","type":"switch","z":"4949c9db.019e38","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":433.6552734375,"y":149.84563446044922,"wires":[["2222b309.491f4c"],["f2cde251.93b62"]]},{"id":"e33c000d.c92cf","type":"http in","z":"4949c9db.019e38","name":"","url":"/DELETE/OBJECT","method":"post","swaggerDoc":"","x":220.70359802246094,"y":310.4308581352234,"wires":[["d000012d.1eb25"]]},{"id":"d000012d.1eb25","type":"function","z":"4949c9db.019e38","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":323.70359802246094,"y":236.43087005615234,"wires":[["ea13b3a.99de15"]]},{"id":"1d47fb5d.777855","type":"neo4j","z":"4949c9db.019e38","name":"DELETE NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} })\nOPTIONAL MATCH d-[r]-()\nDELETE d, r","x":586.7035980224609,"y":241.43087005615234,"wires":[["90d29363.c1157"]]},{"id":"ea13b3a.99de15","type":"switch","z":"4949c9db.019e38","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":446.70361328125,"y":290.43087005615234,"wires":[["1d47fb5d.777855"],["2bcf8f95.880c2"]]},{"id":"c061825.91ddd8","type":"http response","z":"4949c9db.019e38","name":"RESPONSE DELETE","x":822.7035980224609,"y":307.43087005615234,"wires":[]},{"id":"2bcf8f95.880c2","type":"http response","z":"4949c9db.019e38","name":"ERROR DELETE","x":595.70361328125,"y":332.4308853149414,"wires":[]},{"id":"f2cde251.93b62","type":"http response","z":"4949c9db.019e38","name":"ERROR ADD","x":602.70361328125,"y":170.43087005615234,"wires":[]},{"id":"90d29363.c1157","type":"function","z":"4949c9db.019e38","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":808.7035980224609,"y":241.43087005615234,"wires":[["c061825.91ddd8"]]},{"id":"d34e8dc7.535e8","type":"http in","z":"4949c9db.019e38","name":"","url":"/INFO/OBJECT/GRAPH","method":"get","swaggerDoc":"","x":259.6666259765625,"y":646.5842819213867,"wires":[["9c1dca30.1374c8"]]},{"id":"9c1dca30.1374c8","type":"function","z":"4949c9db.019e38","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":345.6666259765625,"y":597.5842819213867,"wires":[["605082cf.364eec"]]},{"id":"605082cf.364eec","type":"switch","z":"4949c9db.019e38","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":451.6666259765625,"y":645.5842819213867,"wires":[["c7ca43b2.d107b"],["35a2fa0a.e9c146"]]},{"id":"aa9bbba5.106e38","type":"http response","z":"4949c9db.019e38","name":"RESPONSE INFO","x":805.6666259765625,"y":681.5842819213867,"wires":[]},{"id":"35a2fa0a.e9c146","type":"http response","z":"4949c9db.019e38","name":"ERROR INFO","x":580.6666259765625,"y":691.5842819213867,"wires":[]},{"id":"13a990f3.e94eff","type":"function","z":"4949c9db.019e38","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":772.6666259765625,"y":592.5842819213867,"wires":[["aa9bbba5.106e38"]]},{"id":"c7ca43b2.d107b","type":"neo4j","z":"4949c9db.019e38","name":"OBJECT_D_A","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (object{code:{code}})-[:HAVE]->(action) MATCH (object{code:{code}})<-[:HAVE]-(device) RETURN  device,object,action","x":594.6666259765625,"y":584.5842819213867,"wires":[["13a990f3.e94eff"]]},{"id":"2222b309.491f4c","type":"neo4j","z":"4949c9db.019e38","name":"NEW NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"create (:Object {code : {code}, name : {nome}, protocol : {protoco}, type : {type}})","x":589.2332763671875,"y":79.15094757080078,"wires":[["297ea8ad.635358"]]},{"id":"6f4fe550.989cac","type":"http in","z":"4949c9db.019e38","name":"","url":"/INFO/OBJECT","method":"get","swaggerDoc":"","x":203.33328247070312,"y":452.25093841552734,"wires":[["1a4f10ae.b1348f"]]},{"id":"1a4f10ae.b1348f","type":"function","z":"4949c9db.019e38","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":286.3332824707031,"y":401.25093841552734,"wires":[["ab215260.9b9cd"]]},{"id":"fac5deec.45629","type":"neo4j","z":"4949c9db.019e38","name":"INFO NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object {code:{code} })\nRETURN o","x":513.3332824707031,"y":397.25093841552734,"wires":[["2826981c.b51978"]]},{"id":"ab215260.9b9cd","type":"switch","z":"4949c9db.019e38","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":392.3332824707031,"y":449.25093841552734,"wires":[["fac5deec.45629"],["e0af2d59.34128"]]},{"id":"a871de12.1eeac","type":"http response","z":"4949c9db.019e38","name":"RESPONSE INFO","x":794.3332824707031,"y":493.2509536743164,"wires":[]},{"id":"e0af2d59.34128","type":"http response","z":"4949c9db.019e38","name":"ERROR INFO","x":573.3332824707031,"y":495.2509536743164,"wires":[]},{"id":"2826981c.b51978","type":"function","z":"4949c9db.019e38","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":713.3332824707031,"y":396.25093841552734,"wires":[["a871de12.1eeac"]]},{"id":"46aeadf4.36f054","type":"http in","z":"4949c9db.019e38","name":"","url":"/MODIFY/OBJECT","method":"get","swaggerDoc":"","x":258.3332824707031,"y":820.2509689331055,"wires":[["f5d6bf71.17cc4"]]},{"id":"f5d6bf71.17cc4","type":"function","z":"4949c9db.019e38","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":331.3332824707031,"y":769.2509689331055,"wires":[["4bb2473c.2d3b78"]]},{"id":"4bb2473c.2d3b78","type":"switch","z":"4949c9db.019e38","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":441.33326721191406,"y":822.2509689331055,"wires":[["e03de704.ad2c88"],["ade27d5c.2ff3f"]]},{"id":"a8c6ce6f.7059f","type":"http response","z":"4949c9db.019e38","name":"RESPONSE INFO","x":880.333251953125,"y":861.2509689331055,"wires":[]},{"id":"ade27d5c.2ff3f","type":"http response","z":"4949c9db.019e38","name":"ERROR INFO","x":599.333251953125,"y":876.2509689331055,"wires":[]},{"id":"77e09fc.ab3476","type":"function","z":"4949c9db.019e38","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":784.333251953125,"y":777.2509689331055,"wires":[["a8c6ce6f.7059f"]]},{"id":"e03de704.ad2c88","type":"neo4j","z":"4949c9db.019e38","name":"MODIFY OBJECT","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object {code:{code} }) SET o.name = {name}, o.type = {type} RETURN o","x":607.0832824707031,"y":762.7509689331055,"wires":[["77e09fc.ab3476"]]},{"id":"428b82c.0da547c","type":"http in","z":"4949c9db.019e38","name":"","url":"/INFO/OBJECTSBYDEVICE","method":"get","swaggerDoc":"","x":247.2618408203125,"y":1036.679521560669,"wires":[["25bb0a09.1899f6"]]},{"id":"25bb0a09.1899f6","type":"function","z":"4949c9db.019e38","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":398.9761276245117,"y":980.1795625686646,"wires":[["a3d6bb3.d9bc248"]]},{"id":"a3d6bb3.d9bc248","type":"switch","z":"4949c9db.019e38","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":504.9761276245117,"y":1028.1795625686646,"wires":[["76f5c75b.9eeba8"],["80a343a.869dac"]]},{"id":"f90df7e1.a50118","type":"http response","z":"4949c9db.019e38","name":"RESPONSE INFO","x":858.9761276245117,"y":1064.1795625686646,"wires":[]},{"id":"80a343a.869dac","type":"http response","z":"4949c9db.019e38","name":"ERROR INFO","x":633.9761276245117,"y":1074.1795625686646,"wires":[]},{"id":"d25f4680.e8ccb8","type":"function","z":"4949c9db.019e38","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":825.9761276245117,"y":975.1795625686646,"wires":[["f90df7e1.a50118"]]},{"id":"76f5c75b.9eeba8","type":"neo4j","z":"4949c9db.019e38","name":"OBJECTS_BY_DEVICE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (device{code:{code}})-[:HAVE]->(object) RETURN object","x":628.6904449462891,"y":950.9652080535889,"wires":[["d25f4680.e8ccb8"]]},{"id":"fab9abec.621258","type":"http in","z":"4949c9db.019e38","name":"","url":"/INFO/OBJECT-ACTION","method":"get","swaggerDoc":"","x":169.5832977294922,"y":1305.4167976379395,"wires":[["dd006e57.55053"]]},{"id":"dd006e57.55053","type":"function","z":"4949c9db.019e38","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":257.58331298828125,"y":1216.916748046875,"wires":[["ef8c8820.276aa8"]]},{"id":"ef8c8820.276aa8","type":"switch","z":"4949c9db.019e38","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":363.58331298828125,"y":1264.916748046875,"wires":[["35d33ca5.5a5f14"],["b5767fc8.e9af7"]]},{"id":"8277d8e2.213de8","type":"http response","z":"4949c9db.019e38","name":"RESPONSE INFO","x":765.5833129882812,"y":1308.916763305664,"wires":[]},{"id":"b5767fc8.e9af7","type":"http response","z":"4949c9db.019e38","name":"ERROR INFO","x":544.5833129882812,"y":1310.916763305664,"wires":[]},{"id":"bb73a4cf.a39e68","type":"function","z":"4949c9db.019e38","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":750.8333129882812,"y":1194.4167976379395,"wires":[["8277d8e2.213de8","759d70de.adf7c"]]},{"id":"35d33ca5.5a5f14","type":"neo4j","z":"4949c9db.019e38","name":"INFO NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object {code:{code} })-[:HAVE]->(a) RETURN a","x":540.8333129882812,"y":1196.6667966842651,"wires":[["bb73a4cf.a39e68"]]},{"id":"266cb37e.2e5a6c","type":"http in","z":"4949c9db.019e38","name":"","url":"/INFO/DEVICE-OBJECT","method":"get","swaggerDoc":"","x":162.08331298828125,"y":1555.416748046875,"wires":[["c3270164.dce0a"]]},{"id":"c3270164.dce0a","type":"function","z":"4949c9db.019e38","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":250.0833282470703,"y":1466.9166984558105,"wires":[["57283d93.6d6e84"]]},{"id":"57283d93.6d6e84","type":"switch","z":"4949c9db.019e38","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":366.083309173584,"y":1546.1667709350586,"wires":[["f533fd11.8b527"],["a1a72558.fadfa8"]]},{"id":"2018bd97.e39fd2","type":"http response","z":"4949c9db.019e38","name":"RESPONSE INFO","x":758.0833282470703,"y":1558.9167137145996,"wires":[]},{"id":"a1a72558.fadfa8","type":"http response","z":"4949c9db.019e38","name":"ERROR INFO","x":537.0833282470703,"y":1560.9167137145996,"wires":[]},{"id":"1fb28b4d.021285","type":"function","z":"4949c9db.019e38","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":743.3333282470703,"y":1444.416748046875,"wires":[["2018bd97.e39fd2","14c40bb9.54c6e4"]]},{"id":"f533fd11.8b527","type":"neo4j","z":"4949c9db.019e38","name":"INFO NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} })-[:HAVE]->(o) RETURN o","x":514.5833129882812,"y":1445.0000247955322,"wires":[["1fb28b4d.021285"]]},{"id":"14c40bb9.54c6e4","type":"debug","z":"4949c9db.019e38","name":"","active":true,"console":"false","complete":"false","x":1047.5000305175781,"y":1486.3333409627278,"wires":[]},{"id":"759d70de.adf7c","type":"debug","z":"4949c9db.019e38","name":"","active":true,"console":"false","complete":"false","x":1040.5000305175781,"y":1235.3333409627278,"wires":[]}]