Flujos/RELACIONES.txt
[{"id":"c08b9577.8b2638","type":"http in","z":"30067f73.4eeee","name":"","url":"/LINK/DO","method":"get","swaggerDoc":"","x":166.66665649414062,"y":105.66666412353516,"wires":[["d7af2959.60ba28"]]},{"id":"419deaf2.812aa4","type":"switch","z":"30067f73.4eeee","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":358.6666564941406,"y":108.66666412353516,"wires":[["9ad9e7d7.d3ee68"],["7885ac9c.b884c4"]]},{"id":"f3ebc912.61d748","type":"switch","z":"30067f73.4eeee","name":"DESICION2","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"REPETIDA","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":690.6666564941406,"y":171.66666412353516,"wires":[["ef9d8ce2.05186"],["7885ac9c.b884c4"]]},{"id":"7885ac9c.b884c4","type":"http response","z":"30067f73.4eeee","name":"ERROR LINK","x":401.6665954589844,"y":203.66666412353516,"wires":[]},{"id":"9ad9e7d7.d3ee68","type":"neo4j","z":"30067f73.4eeee","name":"VERIFY","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device{code:{dev}})-[r]->(o:Object {code:{obj}})\nRETURN d,o\n","x":561.6666412353516,"y":99.66666412353516,"wires":[["5da57289.f9ec0c"]]},{"id":"5da57289.f9ec0c","type":"function","z":"30067f73.4eeee","name":"SEARCH","func":"var pay = msg.payload;\nvar map = {};\nif(pay.data.length === 0){\n    map.dev=global.get('dev');\n    map.obj=global.get('obj');\n    msg.payload=map;\n}\nelse{\n    msg.statusCode = 404;\n    msg.payload=\"REPETIDA\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":528.6666412353516,"y":160.66666412353516,"wires":[["f3ebc912.61d748"]]},{"id":"d7af2959.60ba28","type":"function","z":"30067f73.4eeee","name":"Validate LINK","func":"var header = msg.req.query;\nvar codeD = header.code1;\nvar codeO = header.code2;\nvar map = {};\nmap.dev=codeD;\nmap.obj=codeO;\nglobal.set('dev',codeD);\nglobal.set('obj',codeO);\nif(codeD === undefined || codeO === undefined || \n   codeD === null || codeO === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":193.66665649414062,"y":177.66666412353516,"wires":[["419deaf2.812aa4","9d6f0a79.2f1428"]]},{"id":"d4a6c2f5.7f2d5","type":"http response","z":"30067f73.4eeee","name":"RESPONSE LINK DO","x":959.6666564941406,"y":155.66666412353516,"wires":[]},{"id":"559764da.8f2fac","type":"http in","z":"30067f73.4eeee","name":"","url":"/LINK/OO","method":"get","swaggerDoc":"","x":177.56248474121094,"y":262.55554962158203,"wires":[["70f9d7e8.c24458"]]},{"id":"70f9d7e8.c24458","type":"function","z":"30067f73.4eeee","name":"Validate LINK","func":"var header = msg.req.query;\n//var header = msg.req.headers;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj1=code1;\nmap.obj2=code2;\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":193.56248474121094,"y":348.55554962158203,"wires":[["ea155273.50163","83e32422.a36808"]]},{"id":"ea155273.50163","type":"switch","z":"30067f73.4eeee","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":352.56243896484375,"y":309.55554962158203,"wires":[["eef4f242.e0189"],["d4a45aaa.bde048"]]},{"id":"d4a45aaa.bde048","type":"http response","z":"30067f73.4eeee","name":"ERROR LINK","x":632.5624084472656,"y":381.55554962158203,"wires":[]},{"id":"9c783c1.efea2c","type":"http response","z":"30067f73.4eeee","name":"RESPONSE","x":1047.5000305175781,"y":371.9896011352539,"wires":[]},{"id":"1b6b0447.bf5eec","type":"http in","z":"30067f73.4eeee","name":"","url":"/LINK/OA","method":"get","swaggerDoc":"","x":142.66665649414062,"y":487.66666412353516,"wires":[["77d1f48d.6ce2cc"]]},{"id":"77d1f48d.6ce2cc","type":"function","z":"30067f73.4eeee","name":"Validate LINK","func":"var header = msg.req.query;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj=code1;\nmap.act=code2;\nglobal.set('obj',code1);\nglobal.set('act',code2);\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":235.66665649414062,"y":542.6666641235352,"wires":[["46a4e015.7a84a"]]},{"id":"46a4e015.7a84a","type":"switch","z":"30067f73.4eeee","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":375.6666564941406,"y":461.66666412353516,"wires":[["c3f00bcb.d9c1b8"],["299f5036.75c1b"]]},{"id":"299f5036.75c1b","type":"http response","z":"30067f73.4eeee","name":"ERROR LINK","x":434.6666259765625,"y":566.6666641235352,"wires":[]},{"id":"c3f00bcb.d9c1b8","type":"neo4j","z":"30067f73.4eeee","name":"VERIFY","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action {code:{act}})\nRETURN o,a\n","x":553.6666564941406,"y":457.66666412353516,"wires":[["a468640a.a55d18"]]},{"id":"a468640a.a55d18","type":"function","z":"30067f73.4eeee","name":"SEARCH","func":"var pay = msg.payload;\nvar map = {};\nif(pay.data.length === 0){\n    map.obj=global.get('obj');\n    map.act=global.get('act');\n    msg.payload=map;\n}\nelse{\n    msg.statusCode = 404;\n    msg.payload=\"REPETIDA\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":535.6666564941406,"y":505.66666412353516,"wires":[["fc8e6644.ab1f78"]]},{"id":"fc8e6644.ab1f78","type":"switch","z":"30067f73.4eeee","name":"DESICION2","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"REPETIDA","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":699.6666564941406,"y":623.6666641235352,"wires":[["85c2d72a.0fbf78"],["299f5036.75c1b"]]},{"id":"6f1d73d7.c4005c","type":"http response","z":"30067f73.4eeee","name":"RESPONSE LINK DO","x":917.6666564941406,"y":537.6666641235352,"wires":[]},{"id":"83e32422.a36808","type":"debug","z":"30067f73.4eeee","name":"","active":true,"console":"false","complete":"payload","x":224.66665649414062,"y":412.66666412353516,"wires":[]},{"id":"eef4f242.e0189","type":"neo4j","z":"30067f73.4eeee","name":"LINK SC","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"match(a:Object{code:{obj1}}),(b:Object{code:{obj2}}) MERGE (a)-[r:link]->(b) return r","x":573.4166564941406,"y":289.41666412353516,"wires":[["819aa40.2bbfd6"]]},{"id":"819aa40.2bbfd6","type":"function","z":"30067f73.4eeee","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":751.4166564941406,"y":296.41666412353516,"wires":[["9c783c1.efea2c"]]},{"id":"9d6f0a79.2f1428","type":"debug","z":"30067f73.4eeee","name":"","active":true,"console":"false","complete":"payload","x":318.9833221435547,"y":63.199989318847656,"wires":[]},{"id":"fcec76af.867f58","type":"debug","z":"30067f73.4eeee","name":"","active":true,"console":"false","complete":"false","x":836.9833068847656,"y":231.20000457763672,"wires":[]},{"id":"ef9d8ce2.05186","type":"neo4j","z":"30067f73.4eeee","name":"LINK SC","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device{code:{dev}}),(o:Object{code:{obj}}) MERGE (d)-[r:HAVE]->(o) RETURN r","x":804.2333068847656,"y":77.23332977294922,"wires":[["d4a6c2f5.7f2d5"]]},{"id":"85c2d72a.0fbf78","type":"neo4j","z":"30067f73.4eeee","name":"LINK SC","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}),(a:Action{code:{act}}) MERGE (o)-[r:HAVE]->(a) RETURN r","x":765.2333068847656,"y":480.23331451416016,"wires":[["6f1d73d7.c4005c"]]},{"id":"2593c0e4.c9783","type":"http in","z":"30067f73.4eeee","name":"","url":"/LINK/DELETE","method":"get","swaggerDoc":"","x":232.2333221435547,"y":715.8333511352539,"wires":[["274472f6.96d32e"]]},{"id":"274472f6.96d32e","type":"function","z":"30067f73.4eeee","name":"Validate LINK","func":"var header = msg.req.query;\n//var header = msg.req.headers;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj1=code1;\nmap.obj2=code2;\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":228.2333221435547,"y":801.8333511352539,"wires":[["8edf3755.371e58","62c84f0.ac3d4b"]]},{"id":"8edf3755.371e58","type":"switch","z":"30067f73.4eeee","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":387.2332763671875,"y":762.8333511352539,"wires":[["211b2ecd.c69582"],["3fa56e93.6d30e2"]]},{"id":"3fa56e93.6d30e2","type":"http response","z":"30067f73.4eeee","name":"ERROR LINK","x":667.2332458496094,"y":834.8333511352539,"wires":[]},{"id":"bbc331df.f180c","type":"http response","z":"30067f73.4eeee","name":"RESPONSE","x":1082.1708679199219,"y":825.2674026489258,"wires":[]},{"id":"62c84f0.ac3d4b","type":"debug","z":"30067f73.4eeee","name":"","active":true,"console":"false","complete":"payload","x":259.3374938964844,"y":865.944465637207,"wires":[]},{"id":"cab01f09.7a462","type":"function","z":"30067f73.4eeee","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.payload=\"se elimino\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":786.0874938964844,"y":749.694465637207,"wires":[["bbc331df.f180c"]]},{"id":"211b2ecd.c69582","type":"neo4j","z":"30067f73.4eeee","name":"DELTE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"match(a:Object{code:{obj1}})-[r]->(b:Object{code:{obj2}}) delete r","x":585.2333068847656,"y":718.7333145141602,"wires":[["cab01f09.7a462"]]}]