node-red-CTI/objetos.txt
[{"id":"a948bae4.ab3e58","type":"neo4j","z":"b45b4357.4ba4c","name":"NEW NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"CREATE(:Object {\n\tcode  : {code},\n\tname : {nome},\n\ttype : {type}\n})\n","x":496.00848388671875,"y":47,"wires":[["4d968ae3.83d604"]]},{"id":"4d968ae3.83d604","type":"http response","z":"b45b4357.4ba4c","name":"RESPONSE ADD","x":691.0084838867188,"y":76.86647033691406,"wires":[]},{"id":"3025a99e.6706f6","type":"http in","z":"b45b4357.4ba4c","name":"ADD OBJECT","url":"/ADD/OBJECT","method":"post","swaggerDoc":"","x":87,"y":98.99714660644531,"wires":[["9432ee51.c3bdf"]]},{"id":"9432ee51.c3bdf","type":"function","z":"b45b4357.4ba4c","name":"Validate ADD","func":"var header = msg.req.headers;\nvar code = header.code;\nvar nome = header.name;\nvar type = header.type;\nvar map = {}\nmap.code=code;\nmap.nome=nome;\nmap.type=type;\nif(code === undefined || nome === undefined || \n    code === null || nome === null ||\n    type === undefined || type === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":227.00567626953125,"y":45.91761779785156,"wires":[["952e80b0.a45dc"]]},{"id":"952e80b0.a45dc","type":"switch","z":"b45b4357.4ba4c","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":340.99713134765625,"y":104.17897033691406,"wires":[["a948bae4.ab3e58"],["c097087b.93ceb8"]]},{"id":"85ca148.42c93e8","type":"http in","z":"b45b4357.4ba4c","name":"DELETE OBJECT","url":"/DELETE/OBJECT","method":"post","swaggerDoc":"","x":105.04545593261719,"y":264.7642059326172,"wires":[["4ad71f57.48ca"]]},{"id":"4ad71f57.48ca","type":"function","z":"b45b4357.4ba4c","name":"Validate DELETE","func":"var header = msg.req.headers;\nvar code = header.code;\nvar map = {};\nmap.code=code;\nif(code === undefined || code === null){\n    msg.payload = \"ERROR\";\n    msg.statusCode = 404;\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":231.0454559326172,"y":190.7642059326172,"wires":[["cf992045.487dd"]]},{"id":"ebe777e4.211048","type":"neo4j","z":"b45b4357.4ba4c","name":"DELETE NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device {code:{code} })\nOPTIONAL MATCH d-[r]-()\nDELETE d, r","x":494.0454559326172,"y":195.7642059326172,"wires":[["bb540d49.e174a"]]},{"id":"cf992045.487dd","type":"switch","z":"b45b4357.4ba4c","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":354.04547119140625,"y":244.7642059326172,"wires":[["ebe777e4.211048"],["92e56b16.d4c0a8"]]},{"id":"cab43286.58b3e","type":"http response","z":"b45b4357.4ba4c","name":"RESPONSE DELETE","x":730.0454559326172,"y":261.7642059326172,"wires":[]},{"id":"92e56b16.d4c0a8","type":"http response","z":"b45b4357.4ba4c","name":"ERROR DELETE","x":503.04547119140625,"y":286.76422119140625,"wires":[]},{"id":"c2a8814.41e2d8","type":"http in","z":"b45b4357.4ba4c","name":"INFO OBJECT","url":"/INFO/OBJECT","method":"get","swaggerDoc":"","x":103.04547119140625,"y":401.76422119140625,"wires":[["c3cc9fb6.42185"]]},{"id":"c3cc9fb6.42185","type":"function","z":"b45b4357.4ba4c","name":"Validate INFO","func":"var parameters = msg.req.query;\nif(parameters.code === null || \n    parameters.code === undefined){\n    msg.statusCode = 404;\n    msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = parameters;\nreturn msg;","outputs":"1","noerr":0,"x":196.04547119140625,"y":350.76422119140625,"wires":[["bef1f306.30e62"]]},{"id":"a4ec2f08.aa7a7","type":"neo4j","z":"b45b4357.4ba4c","name":"INFO NODE","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object {code:{code} })\nRETURN o","x":423.04547119140625,"y":346.76422119140625,"wires":[["77433e1b.470e3"]]},{"id":"bef1f306.30e62","type":"switch","z":"b45b4357.4ba4c","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":302.04547119140625,"y":398.76422119140625,"wires":[["a4ec2f08.aa7a7"],["64edc762.ae0018"]]},{"id":"8d7b653d.d59fb8","type":"http response","z":"b45b4357.4ba4c","name":"RESPONSE INFO","x":656.0454711914062,"y":434.76422119140625,"wires":[]},{"id":"64edc762.ae0018","type":"http response","z":"b45b4357.4ba4c","name":"ERROR INFO","x":431.04547119140625,"y":444.76422119140625,"wires":[]},{"id":"77433e1b.470e3","type":"function","z":"b45b4357.4ba4c","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":623.0454711914062,"y":345.76422119140625,"wires":[["8d7b653d.d59fb8"]]},{"id":"c097087b.93ceb8","type":"http response","z":"b45b4357.4ba4c","name":"ERROR ADD","x":510.04547119140625,"y":124.76420593261719,"wires":[]},{"id":"bb540d49.e174a","type":"function","z":"b45b4357.4ba4c","name":"SEARCH","func":"var pay = msg.payload;\nif(pay.data.length === 0){\n    msg.statusCode = 404;\n    msg.payload=\"NOT FOUND\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":716.0454559326172,"y":195.7642059326172,"wires":[["cab43286.58b3e"]]}]