node-red-CTI/relaciones.txt
[{"id":"c4e30a1b.7aa278","type":"http in","z":"3a5e86a8.20952a","name":"LINK DO","url":"/LINK/DO","method":"post","swaggerDoc":"","x":89,"y":41,"wires":[["6411860d.303028"]]},{"id":"6c6922f5.3c62ac","type":"switch","z":"3a5e86a8.20952a","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":291,"y":44,"wires":[["708721f2.47c1a"],["1504153a.22066b"]]},{"id":"fc9812f2.dfc85","type":"switch","z":"3a5e86a8.20952a","name":"DESICION2","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"REPETIDA","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":622,"y":112,"wires":[["ddaeaccb.f9452"],["1504153a.22066b"]]},{"id":"1504153a.22066b","type":"http response","z":"3a5e86a8.20952a","name":"ERROR LINK","x":333.99993896484375,"y":139,"wires":[]},{"id":"708721f2.47c1a","type":"neo4j","z":"3a5e86a8.20952a","name":"VERIFY","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device{code:{dev}})-[r]->(o:Object {code:{obj}})\nRETURN d,o\n","x":493.99998474121094,"y":35,"wires":[["409c8c98.a20084"]]},{"id":"409c8c98.a20084","type":"function","z":"3a5e86a8.20952a","name":"SEARCH","func":"var pay = msg.payload;\nvar map = {};\nif(pay.data.length === 0){\n    map.dev=global.get('dev');\n    map.obj=global.get('obj');\n    msg.payload=map;\n}\nelse{\n    msg.statusCode = 404;\n    msg.payload=\"REPETIDA\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":460.99998474121094,"y":96,"wires":[["fc9812f2.dfc85"]]},{"id":"6411860d.303028","type":"function","z":"3a5e86a8.20952a","name":"Validate LINK","func":"var header = msg.req.headers;\nvar codeD = header.coded;\nvar codeO = header.codeo;\nvar map = {};\nmap.dev=codeD;\nmap.obj=codeO;\nglobal.set('dev',codeD);\nglobal.set('obj',codeO);\nif(codeD === undefined || codeO === undefined || \n   codeD === null || codeO === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":126,"y":113,"wires":[["6c6922f5.3c62ac"]]},{"id":"32742604.f523fa","type":"http response","z":"3a5e86a8.20952a","name":"RESPONSE LINK DO","x":829.9999847412109,"y":82,"wires":[]},{"id":"ddaeaccb.f9452","type":"neo4j","z":"3a5e86a8.20952a","name":"LINK SC","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device{code:{dev}}),(o:Object{code:{obj}}) \nCREATE (d)-[r:Have]->(o) \nRETURN r","x":694,"y":28,"wires":[["32742604.f523fa"]]},{"id":"795dc348.12f38c","type":"http in","z":"3a5e86a8.20952a","name":"LINK OO","url":"/LINK/OO","method":"post","swaggerDoc":"","x":89.89582824707031,"y":197.88888549804688,"wires":[["d1c4eb53.018298"]]},{"id":"d1c4eb53.018298","type":"function","z":"3a5e86a8.20952a","name":"Validate LINK","func":"var header = msg.req.headers;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj1=code1;\nmap.obj2=code2;\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":125.89582824707031,"y":283.8888854980469,"wires":[["f59e9f48.fbf53"]]},{"id":"f59e9f48.fbf53","type":"switch","z":"3a5e86a8.20952a","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":284.8957824707031,"y":244.88888549804688,"wires":[["9f1433ca.5c31b"],["6bc1c8c2.bf5f98"]]},{"id":"6bc1c8c2.bf5f98","type":"http response","z":"3a5e86a8.20952a","name":"ERROR LINK","x":344.895751953125,"y":305.8888854980469,"wires":[]},{"id":"9f1433ca.5c31b","type":"neo4j","z":"3a5e86a8.20952a","name":"VERIFY","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (d:Device)-[r]->(o:Object)\nWHERE o.code IN [{obj1},{obj2}]\nRETURN o\n","x":438.895751953125,"y":216.88888549804688,"wires":[["69914514.f2552c"]]},{"id":"d7feb737.fde3b8","type":"http response","z":"3a5e86a8.20952a","name":"RESPONSE","x":669.8333740234375,"y":325.32293701171875,"wires":[]},{"id":"69914514.f2552c","type":"function","z":"3a5e86a8.20952a","name":"VALIDATE","func":"var pay={};\nvar objs=msg.payload;\nif(objs.data[0].type === objs.data[1].type)\n    msg.payload=\"ERROR\";\nelse{\n    pay.obj1=objs.data[0].code;\n    pay.obj2=objs.data[1].code;\n    msg.payload=pay;\n}\nreturn msg;","outputs":1,"noerr":0,"x":500.8333740234375,"y":275.9895935058594,"wires":[["1f3bdaa0.02a1c5"]]},{"id":"1f3bdaa0.02a1c5","type":"switch","z":"3a5e86a8.20952a","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":618.8298950195312,"y":207.33334350585938,"wires":[["722b0a85.1cccb4"],["6bc1c8c2.bf5f98"]]},{"id":"722b0a85.1cccb4","type":"neo4j","z":"3a5e86a8.20952a","name":"LINK SC","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o1:Object{code:{obj1}}),(o2:Object{code:{obj2}}) \nCREATE (o1)-[r:link]->(o2) \nRETURN r","x":707.8958129882812,"y":268.8888854980469,"wires":[["d7feb737.fde3b8"]]},{"id":"42f379cc.eca028","type":"http in","z":"3a5e86a8.20952a","name":"LINK OA","url":"/LINK/OA","method":"post","swaggerDoc":"","x":65,"y":423,"wires":[["249d1164.ffaeee"]]},{"id":"249d1164.ffaeee","type":"function","z":"3a5e86a8.20952a","name":"Validate LINK","func":"var header = msg.req.headers;\nvar code1 = header.code1;\nvar code2 = header.code2;\nvar map = {};\nmap.obj=code1;\nmap.act=code2;\nglobal.set('obj',code1);\nglobal.set('act',code2);\nif(code1 === undefined || code2 === undefined || \n    code1 === null || code2 === null){\n        msg.statusCode = 404;\n        msg.payload = \"ERROR\";\n}\nelse\n    msg.payload = map;\nreturn msg;","outputs":"1","noerr":0,"x":168,"y":478,"wires":[["b71c1191.cad81"]]},{"id":"b71c1191.cad81","type":"switch","z":"3a5e86a8.20952a","name":"DESICION","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":308,"y":397,"wires":[["5c199124.7bbeb"],["3e4c289.c9738d8"]]},{"id":"3e4c289.c9738d8","type":"http response","z":"3a5e86a8.20952a","name":"ERROR LINK","x":366.9999694824219,"y":502,"wires":[]},{"id":"5c199124.7bbeb","type":"neo4j","z":"3a5e86a8.20952a","name":"VERIFY","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}})-[r]->(a:Action {code:{act}})\nRETURN o,a\n","x":486,"y":393,"wires":[["34213fe.7835ec"]]},{"id":"34213fe.7835ec","type":"function","z":"3a5e86a8.20952a","name":"SEARCH","func":"var pay = msg.payload;\nvar map = {};\nif(pay.data.length === 0){\n    map.obj=global.get('obj');\n    map.act=global.get('act');\n    msg.payload=map;\n}\nelse{\n    msg.statusCode = 404;\n    msg.payload=\"REPETIDA\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":441,"wires":[["10395342.1cb07d"]]},{"id":"10395342.1cb07d","type":"switch","z":"3a5e86a8.20952a","name":"DESICION2","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"REPETIDA","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":607,"y":490,"wires":[["ae7453c.46501b"],["3e4c289.c9738d8"]]},{"id":"ae7453c.46501b","type":"neo4j","z":"3a5e86a8.20952a","name":"LINK SC","url":"http://neo4j:L4BPR0T0@200.126.23.138:7474","query":"MATCH (o:Object{code:{obj}}),(a:Action{code:{act}}) \nCREATE (o)-[r:Have]->(a) \nRETURN r","x":674,"y":381,"wires":[["99973003.398b9"]]},{"id":"99973003.398b9","type":"http response","z":"3a5e86a8.20952a","name":"RESPONSE LINK DO","x":704,"y":438,"wires":[]}]